﻿
@{

    ViewBag.Title = "Home";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="listPaymentsController" ng-init="getPayments()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li ><a href="/AccountReceivables" >Account Receivables</a></li>
                        <li><a href="/AccountReceivables/Batches">Batches</a></li>
                        <li><a href="/Collections">Billing Statements</a></li>
                   
                        <li id="current"><a href="/Payments/Index">Collections</a></li>
                    </ul>


                    <div class="col-md-12" style="margin-bottom:15px;margin-top:15px;">
                        <label class="control-label col-md-1">Search:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="searchTerm" ng-change="getPayments()" />
                        </div>

                        <div>
                            <a class="btn btn-primary pull-right"   href="/Payments/Payment">Post Payment</a>
                        </div>
                    </div>


                    <div class="col-md-12">


                        <div ui-grid="gridOptions" ui-grid-grouping ui-grid-pagination class="grid" style="width:100%;">

                            <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                <div class="msg">
                                    <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                </div>
                            </div>
                        </div>

                    </div>








                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


        </div>


    </div>
</div>




@section scripts{


    <script type="text/javascript">

        App.controller("listPaymentsController", function ($scope, $http, jsonFilter ) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

          

            $scope.loading = false;
            $scope.searchTerm = "";

            var paginationOptions = {
                pageNumber: 1,
                pageSize: 25,
                sort: null
            };


            $scope.getPayments = function () {

           
                
                $http.post("/Payments/GetPaymentsPaged?search=" + $scope.searchTerm + "&startIndex=" + paginationOptions.pageNumber + "&pageSize=" + paginationOptions.pageSize)
                          .success(function (data, status, headers, config) {

                              logResult("GET SUCCESS", data, status, headers, config);
                          

                              if (data.Result == "ERROR") {
                                  toastr.error(data.Message, "");
                                  return;
                              }


                              $scope.gridOptions.data = data.Records.Records;
                              $scope.gridOptions.totalItems = data.TotalRecords;
                              paginationOptions.pageNumber = data.PageNumber;
                              paginationOptions.pageSize = data.PageSize;


                          }).error(function (data, status, headers, config) {
                              logResult("GET ERROR", data, status, headers, config);


                          }).finally(function () {
                              $scope.loading = false;

                          });


            };


            $scope.parseHeader = function (data) {
                return data.PaymentNo + " - " + data.PaymentDate.substring(0,10) + " - " + data.TravelAgency.Name  ;
            }


            $scope.gridOptions = {
                //data: 'pendingRequests',
                paginationPageSizes: [10, 25, 50, 75],
                paginationPageSize: 25,
                useExternalPagination: true,
                // useExternalSorting: true,
                multiSelect: true,
                enableColumnReordering: false,
                enableRowSelection: false,
                enableSelectAll: false,
                selectionRowHeaderWidth: 35,
                rowHeight: 35,
                showGridFooter: true,
                enableColumnResizing: true,
                jqueryUIDraggable: true,
                jqueryUITheme: true,
                minRowsToShow: 12,
                columnDefs: [

                      {
                          name: 'PaymentNo',
                          displayName: 'PaymentNo',
                          width: 150,
                          cellTooltip: true,
                          grouping: { groupPriority: 1 },
                          cellTemplate: '<div ng-if="row.groupHeader" class="ui-grid-cell-contents" style="color:#000;display:block;position:absolute;right -1px;left : 0px;background-color:#F5FAFF;height:35px;width:100%;"><a href="/Payments/ViewPayment/{{row.treeNode.children[0].row.entity.ID}}">{{grid.appScope.parseHeader(row.treeNode.children[0].row.entity)}} </a></div>'
                         // cellTemplate: '<div class="ui-grid-cell-contents"> <a href="/Payments/ViewPayment/{{row.entity.ID}}">{{row.entity.PaymentNo}} </a></div>'
                   
                      },
                     //{
                     //    name: 'PaymentDate',
                     //    displayName: 'Payment Date',
                     //    width: 150,
                     //    cellTooltip: true
                     //},
                
                     //  {
                     //      name: 'TravelAgency.Name',
                     //      displayName: 'Travel Agency',
                     //      width: 350,
                     //      cellTooltip: true
                     //  },
                         {
                             name: 'PreparedByAgent',
                             displayName: 'Prepared By',
                             width: 350,
                             cellTooltip: true
                         },
                          {
                              name: 'VerifiedByName',
                              displayName: 'Verified By',
                              width: 350,
                              cellTooltip: true
                          },
                           {
                               name: 'CVNumber',
                     
                               width: 150,
                               cellTooltip: true
                           },
                           {
                               name: 'AccountingCode',
                               displayName: 'Account',
                               width: 400,
                               cellTooltip: true,
                               cellTemplate: '<div class="ui-grid-cell-contents"> {{row.entity.AccountingCode}}  | {{row.entity.AccountName}}</div>'
                           },
                            {
                                name: 'FormattedReceiptNo',
                                displayName: 'Receipt #',
                                width: 150,
                                cellTooltip: true
                            },
                          
                           {
                               name: 'StatusString',
                               displayName: 'Status',
                               width: 200,
                               cellTooltip: true
                           }
              

                ],
                onRegisterApi: function (gridApi) {


                    // console.log(gridApi)

                    $scope.gridApi = gridApi;

                    gridApi.pagination.on.paginationChanged($scope, function (newPage, pageSize) {
                        $scope.loading = true;
                        paginationOptions.pageNumber = newPage;
                        paginationOptions.pageSize = pageSize;
                        $scope.getPayments();
                        // getPage();
                    });



                    // Register a handler that is fired everytime someone changd the sort params.
                    gridApi.core.on.sortChanged($scope, function (grid, sortColumns) {
                        if (sortColumns.length > 1) {
                            // We have more than one sort. Kill the first one.
                            // If this works we'll only ever have 0, 1 or 2 sortColumns,
                            // and only ever 2 for the lifetime of this method.
                            var column = null;
                            for (var j = 0; j < grid.columns.length; j++) {
                                if (grid.columns[j].name === sortColumns[0].field) {
                                    column = grid.columns[j];
                                    break;
                                }
                            }
                            if (column) {
                                sortColumns[1].sort.priority = 1; // have to do this otherwise the priority keeps going up.
                                column.unsort();
                            }
                        }
                    });

                }

            };




        });




    </script>

}