﻿
@{

    ViewBag.Title = "Payment";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}

<div ng-controller="paymentController" ng-init="getTravelAgencies();getModeOfPayments();getAccountingTerms();getAccountingPersons();getPayment();">

    <div class="row">
        <div class="col-md-12">


            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">

                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li><a href="/AccountReceivables/Index">Account Receivables</a></li>
                        <li><a href="/AccountReceivables/Batches">Batches</a></li>
                        <li><a href="/Collections">Billing Statements</a></li>
                  
                        <li id="current"><a href="/Payments/Index">Collections</a></li>
                    </ul>

                    <div class="container-fluid" style="margin-top:15px;">


                        <div class="col-md-12 ">


                            <form class="form-horizontal" name="frmPayment">


                                <div class="form-group">
                                    <label class="control-label col-md-2">Payment No.:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" disabled ng-model="paymentRef.Payment.PaymentNo" />
                                    </div>
                                    <label class="control-label col-md-2">Payment Date:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="paymentRef.Payment.PaymentDate" model-view-value="true" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" ui-mask-placeholder ui-mask-placeholder-char="_" name="PaymentDate" ng-disabled="!Editing" />
                                    </div>


                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Travel Agency:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="paymentRef.Payment.TravelAgency.Name" disabled/>
                                    </div>

                                    <label class="control-label col-md-2">Division:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="paymentRef.Payment.BusinessLocationCode"
                                                ng-options="bus.Code as bus.Description for bus in businessLocations" ng-disabled="!Editing"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Balance:</label>
                                    <div class="col-md-4">
                                        <b>{{mytags[0].CashDeposits | number:2}}</b>
                                    </div>
                                    <label class="control-label col-md-2">Check No:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="paymentRef.Payment.CheckNo" ng-disabled="!Editing" />
                                    </div>
                                   

                                </div>
                                <div class="form-group">
                             
                                    <label class="control-label col-md-2">Mode Of Payment:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="paymentRef.Payment.ModeOfPaymentID"
                                                ng-options="pay.ID as pay.Description for pay in paymentMethods" ng-disabled="!Editing"></select>
                                    </div>

                                    <label class="control-label col-md-2">Check Date:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="paymentRef.Payment.CheckDate" model-view-value="true" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" ui-mask-placeholder ui-mask-placeholder-char="_" name="CheckDate" ng-disabled="!Editing" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Remarks:</label>
                                    <div class="col-md-4">
                                        <textarea rows="1" class="form-control" style="resize:none" ng-model="paymentRef.Payment.Remarks" ng-disabled="!Editing"></textarea>
                                    </div>
                                    <label class="control-label col-md-2">Verified By:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="paymentRef.Payment.VerifiedBy" 
                                                ng-options="acct.ID as acct.Fullname for acct in accountingPersons" disabled></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class=" col-md-12 text-center">DEBIT</label>

                                        <div class="col-md-12">


                                            <div ui-grid="gridOptionsDebit" ui-grid-edit ui-grid-cellnav  ui-grid-validate ui-grid-resize-columns class="grid"
                                                 style="width:100%;height:100%;">

                                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                                    <div class="msg">
                                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <label class=" col-md-12 text-center">CREDIT</label>
                                        <div class="col-md-12">

                                            <div ui-grid="gridOptionsCredit" ui-grid-edit ui-grid-cellnav ui-grid-resize-columns class="grid"
                                                 style="width:100%;height:100%;">

                                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                                    <div class="msg">
                                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>
                                        <div class="col-md-12">

                                            <a class="btn btn-primary btn-xs" ng-click="getUnpaidBookings()" data-toggle="modal" data-target="#myModalBookings"> Add From Bookings</a>
                                            <a class="btn btn-primary btn-xs" ng-click="getUnpaidBillings()" data-toggle="modal" data-target="#myModalBillings"> Add From Billings</a>
                                            <a class="btn btn-primary btn-xs" ng-click="addAdvances()">Add Advances</a>
                                            <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalNewCreditEntry" ng-click="newAccountCode=null">Add New Entry</a>
                                        </div>

                                    </div>
                                </div>


                            </form>


                        </div>



                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <a class="btn btn-success " ng-click="confirmPayment()" ng-if="paymentRef.Payment.VerifiedBy==null && Editing" ng-cloak> Confirm Payment </a>
                                <a class="btn btn-danger " ng-click="cancelPayment()" ng-if="paymentRef.Payment.VerifiedBy==null && Editing" ng-cloak> Cancel Payment </a>
                                <span style="width:30px;"></span>
                                <a class="btn btn-primary " ng-click="updateChanges()" ng-if="paymentRef.Payment.VerifiedBy==null && Editing" ng-cloak> Save Changes </a>
                               
                                <a class="btn btn-default" href="/Payments/Payment"> New  </a>
                                <a class="btn btn-default " href="/Payments"> Go to list </a>
                            </div>

                        </div>
                    </div>



                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>






    <div class="modal fade" id="myModalBookings" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Unpaid Bookings</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" style="width:100%;">

                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                    <div class="msg">
                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="addCreditEntries()">Add</a>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>

            </div>

        </div>
    </div>


    <div class="modal fade" id="myModalBillings" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Unpaid Billing Statements</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-grid="gridBillings" ui-grid-selection class="grid" style="width:100%;">

                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                    <div class="msg">
                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="addBillingEntries()">Add</a>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>

            </div>

        </div>
    </div>


    <!--Add new Entry Modal -->
    <div class="modal fade" id="modalNewCreditEntry" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Add New Credit Entry</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="newAccountCode" ng-options="acct.Code as acct.Description for acct in accountingTermsCreditOnly"></select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Add" ng-click="addNewCreditEntry()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>





</div>

@section scripts {


    <script type="text/javascript">


        App.controller("paymentController", function ($scope, $http, $filter, $timeout, uiGridValidateService, uiGridConstants) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };



            var paginationOptions = {
                pageNumber: 1,
                pageSize: 50,
                sort: null
            };

            $scope.paymentRef = {
                Payment: {
                    TravelAgencyID: 0
                },
                CreditEntries: [],
                DebitEntries: []
            }


            $scope.newAccountCode = null;
            //$scope.accountingTermsCreditOnly = [{ Code: '1011272', Description: 'ACCOUNTS RECEIVABLE - BEGINNING' },
            //{ Code: '100011', Description: 'Accounts Receivable - Others Employee' },
            //{ Code: '100010', Description: 'Cancellation Charge' },
            //{ Code: '100002', Description: 'Sales Refund' }];

            $scope.accountingTermsCreditOnly = $scope.accountingTerms;

            $scope.addNewCreditEntry = function () {

                
                var newAccount = $filter('filter')($scope.accountingTermsCreditOnly, { 'Code': $scope.newAccountCode }, true)[0];
                debugger;
                if (!newAccount) return;



                var journal = {
                    ID: 0,
                    AccountingCode: newAccount.Code,
                    AccountName: newAccount.Description,
                    CVNumber: null,
                    BookingID: null,
                    Remarks: "",
                    Amount: 0,
                    Type: 2,
                    PaymentID: 0
                };

                $scope.creditEntries.push(journal);
                $scope.gridOptionsCredit.data = $scope.creditEntries;

            }


            $scope.addAdvances = function () {


                

                var journal = {
                    ID: 0,
                    AccountingCode: '100001',
                    AccountName: 'ADVANCES',
                    CVNumber: null,
                    BookingID: null,
                    Remarks: "Deposit from customer",
                    Amount: 0,
                    Type: 2,
                    PaymentID: 0
                };

                $scope.creditEntries.push(journal);
              
                $scope.gridOptionsCredit.data = $scope.creditEntries;
            }




            $scope.Editing = false;

            $scope.loading = false;
            $scope.businessLocations = [{ Code: "MNL", Description: "MANILA" }, { Code: "BOR", Description: "BORACAY" }];
            $scope.referenceType = [{ Code: 1, Description: "OR" }, { Code: 2, Description: "PR" }, { Code: 3, Description: "AR" }];

            $scope.getPayment = function () {



                $http.post("/Payments/GetPayment/@ViewBag.PaymentNo").success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    if (data.Record.Payment.Status == 0) {
                        $scope.Editing = true;
                    }

                    $scope.paymentRef = data.Record;
                    $scope.journals = data.Record.DebitEntries;

                    for (var i = 0; i < 15; i++) {
                        var journal = {
                            ID: 0,
                            AccountingCode: '',
                            AccountName: "",
                            CVNumber: '',
                            BookingID: 0,
                            Remarks: " ",
                            Amount: null,
                            Type: 1,
                            PaymentID: 0,
                            ReferenceType: 0
                        };

                        $scope.journals.push(journal);

                    }


                    $scope.creditEntries=data.Record.CreditEntries;

                    $scope.gridOptionsCredit.data = $scope.creditEntries;

                   // $scope.mytags = $filter('filter')($scope.travelAgencies, { 'ID': data.Record.Payment.TravelAgencyID }, true);

                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            }


            $scope.journals = [];

   

   



            $scope.gridOptionsDebit = {
                data: 'journals',
                // useExternalSorting: true,
                enableSorting: false,
                enableColumnReordering: false,
                rowHeight: 35,
                enableColumnResizing: true,
                showGridFooter: false,
                minRowsToShow: 8,
                showColumnFooter: true,
                enableColumnMenus: false,
                columnDefs: [
                            {
                                field: 'Actions',
                                displayName: 'Delete',
                                cellClass: 'text-center',
                                width: 60,
                                allowCellFocus: false,
                                enableCellEdit: false,
                                cellTemplate: '<div class="ui-grid-cell-contents" ><a href="#" ng-click="grid.appScope.removeItemDebit(row.entity)" ng-if="row.entity.AccountingCode && grid.appScope.Editing"><i class="glyphicon glyphicon-trash btn-tools"></i></a></div>'
                            },
                     {
                         name: 'AccountingCode',
                         displayName: 'Account Name',
                         width: 250,
                         cellTooltip: true,
                         editableCellTemplate: '<div><form name="inputForm"><select  ui-grid-edit-dropdown  ng-model="MODEL_COL_FIELD" append-to-body="true" name="txtAcct{{$index}}" ng-options="acct.Code as acct.Description for acct in grid.appScope.accountingTerms"></select></form></div>',
                         cellTemplate: "<div class=\"ui-grid-cell-contents\" ng-class=\"{invalid:grid.validate.isInvalid(row.entity,col.colDef)}\" tooltip-html-unsafe=\"{{grid.validate.getFormattedErrors(row.entity,col.colDef)}}\" tooltip-enable=\"grid.validate.isInvalid(row.entity,col.colDef)\" tooltip-append-to-body=\"true\" tooltip-placement=\"top\" title=\"TOOLTIP\" >{{(grid.appScope.accountingTerms|filter:{'Code':row.entity.AccountingCode}:true)[0].Description}}</div>",
                         // validators: { required: true }
                     },

                     {
                         name: 'Amount',
                         displayName: 'Amount',
                         cellFilter: 'number: 2',
                         cellClass: 'text-right',
                         width: 100,
                         aggregationType: uiGridConstants.aggregationTypes.sum,
                         footerCellTemplate: '<div class="ui-grid-cell-contents text-right" > {{col.getAggregationValue() | number:2 }}</div>'

                     },
                     {
                         name: 'ReferenceType',
                         width: 120,
                         editableCellTemplate: '<div><form name="inputForm"><select  ui-grid-edit-dropdown  ng-model="MODEL_COL_FIELD" append-to-body="true" name="txtReferenceType{{$index}}" ng-options="acct.Code as acct.Description for acct in grid.appScope.referenceType"></select></form></div>',
                         cellTemplate: "<div class=\"ui-grid-cell-contents\" >{{(grid.appScope.referenceType|filter:{'Code':row.entity.ReferenceType}:true)[0].Description}}</div>",
                        // cellTemplate: "<div class=\"ui-grid-cell-contents\" >{{(grid.appScope.referenceType|filter:{'Code':row.entity.ReferenceType}:true)[0].Description}}</div>"
                     },
                       {
                           name: 'ReceiptNo',
                           displayName: 'Reference#',
                           width: 100,
                       },
                {
                    name: 'Remarks',
                    displayName: 'Remarks',
                    cellTooltip: true,
                    width: '55%'
                }

                ],
                onRegisterApi: function (gridApi) {

                    $scope.gridApi = gridApi;

                 
               

                }

            };


            $scope.gridOptionsCredit = {

                // useExternalSorting: true,
                enableSorting: false,
                enableColumnReordering: false,
                rowHeight: 35,
                enableColumnResizing: true,

                minRowsToShow: 8,
                showColumnFooter: true,
                enableColumnMenus: false,
                columnDefs: [
                        {
                            field: 'Actions',
                            displayName: 'Delete',
                            cellClass: 'text-center',
                            width: 60,
                            allowCellFocus: false,
                            enableCellEdit: false,

                            cellTemplate: '<div class="ui-grid-cell-contents" ><a href="#" ng-click="grid.appScope.removeItem(row.entity)" ng-if="grid.appScope.Editing"><i class="glyphicon glyphicon-trash btn-tools"></i></a></div>'
                        },

                     {
                         name: 'CVNumber', width: 180,
                         cellClass: 'text-right text-bold',
                         enableCellEdit: false,
                         cellTemplate: '<div class="ui-grid-cell-contents" ><a href="/Booking/View/{{row.entity.BookingID}}" ng-if="row.entity.BookingID!=null" >{{row.entity.CVNumber}}</a><span ng-if="row.entity.BookingID==null">{{row.entity.CVNumber}}</span></div>'
                     },
                     {
                         name: 'AccountingCode',
                         displayName: 'Account Name',
                         width: 250,
                         enableCellEdit: false,
                         editableCellTemplate: '<div><form name="inputForm"><select  ui-grid-edit-dropdown  ng-model="MODEL_COL_FIELD" append-to-body="true" name="txtAcct{{$index}}" ng-options="acct.Code as acct.Description for acct in grid.appScope.accountingTerms"></select></form></div>',
                         cellTemplate: "<div class=\"ui-grid-cell-contents\" ng-class=\"{invalid:grid.validate.isInvalid(row.entity,col.colDef)}\" tooltip-html-unsafe=\"{{grid.validate.getFormattedErrors(row.entity,col.colDef)}}\" tooltip-enable=\"grid.validate.isInvalid(row.entity,col.colDef)\" tooltip-append-to-body=\"true\" tooltip-placement=\"top\" title=\"TOOLTIP\" >{{(grid.appScope.accountingTerms|filter:{'Code':row.entity.AccountingCode}:true)[0].Description}}</div>",
                        // cellTemplate: "<div class=\"ui-grid-cell-contents\" ng-class=\"{invalid:grid.validate.isInvalid(row.entity,col.colDef)}\" tooltip-html-unsafe=\"{{grid.validate.getFormattedErrors(row.entity,col.colDef)}}\" tooltip-enable=\"grid.validate.isInvalid(row.entity,col.colDef)\" tooltip-append-to-body=\"true\" tooltip-placement=\"top\" title=\"TOOLTIP\" >{{(grid.appScope.accountingTerms|filter:{'Code':row.entity.AccountingCode}:true)[0].Description}}</div>"
                     },

                     {
                         name: 'Amount',
                         displayName: 'Amount',
                         cellFilter: 'number: 2',
                         cellClass: 'text-right',
                         width: 100,
                         aggregationType: uiGridConstants.aggregationTypes.sum,
                         footerCellTemplate: '<div class="ui-grid-cell-contents text-right" > {{col.getAggregationValue() | number:2 }}</div>'

                     },
                {
                    name: 'Remarks',
                    displayName: 'Remarks',
                    cellTooltip: true,
                    width: '55%',
                    enableCellEdit: false,
                }

                ],
                onRegisterApi: function (gridApi) {

                    $scope.gridApi2 = gridApi;

                }

            };


            //MODE OF PAYMENTS
            $scope.getModeOfPayments = function () {



                $http.get("/Payments/GetAllModeOfPayments")
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.paymentMethods = data.Records;


                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });



            }

            //ACCOUNTING TERMS
            $scope.getAccountingTerms = function () {


                $http.get("/Payments/GetAllAccountingEntries")
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.accountingTerms = data.Records;
                                       $scope.accountingTermsCreditOnly = data.Records;

                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });



            }


            //TRAVEl AGENCIES
            $scope.loadAgencies = function (query) {
                return $filter('filter')($scope.travelAgencies, query);
            }

            $scope.getTravelAgencies = function () {
                $http.post("/Agents/GetTravelAgencies")
                                  .success(function (data, status, headers, config) {

                                      logResult("GET SUCCESS", data, status, headers, config);

                                      $scope.travelAgencies = data;
                                  }).error(function (data, status, headers, config) {
                                      logResult("GET ERROR", data, status, headers, config);


                                  });
            }


            // ACCOUNTING PERSONS
            $scope.getAccountingPersons = function(){

                $http.post("/Agents/GetAccountingPersons")
                                .success(function (data, status, headers, config) {

                                    logResult("GET SUCCESS", data, status, headers, config);

                                    $scope.accountingPersons = data;
                                }).error(function (data, status, headers, config) {
                                    logResult("GET ERROR", data, status, headers, config);


                                });

            }

     


            $scope.checkReceipt = function (referenceType, receiptNo) {

                if (referenceType == 0) {
                    toastr.error("Invalid reference type!", "");
                    return;
                }

                if ($scope.paymentRef.Payment.BusinessLocationCode == null) {
                    toastr.error("Please specify Division!", "");
                    return;
                }

                $http.post("/Payments/CheckReceiptIfUsed?paymentRefType=" + referenceType + "&receiptNo=" + receiptNo + "&businessLocation=" + $scope.paymentRef.Payment.BusinessLocationCode).success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    if (data.Record == true) {
                        toastr.error("Receipt #" + receiptNo + " already used!", "");
                    }




                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                }).finally(function () {


                });


            }

            $scope.cvNumber = "";
            $scope.groupName = "";


            // UNPAID BOOKINGS
            $scope.getUnpaidBookings = function (cvNumber, groupName) {



                if (!cvNumber) {
                    cvNumber = "";
                }
                if (!groupName) {
                    groupName = "";
                };

                if ($scope.paymentRef.Payment.TravelAgencyID == null) {
                    toastr.error("Please select Travel Agency!", "");
                    return;
                }

              


                $http.post("/Payments/GetAllUnpaidBookings?cvNumber=" + cvNumber + "&groupName=" + groupName + "&travelAgencyID=" + $scope.paymentRef.Payment.TravelAgencyID + "&startIndex=" + paginationOptions.pageNumber + "&pageSize=" + paginationOptions.pageSize)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.gridOptions.data = data.Records.Records;
                                       $scope.gridOptions.totalItems = data.TotalRecords;
                                       paginationOptions.pageNumber = data.PageNumber;
                                       paginationOptions.pageSize = data.PageSize;


                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   }).finally(function () {
                                       $scope.loading = false;

                                   });



            }


            //UNPAID BILLING STATEMENTS
            $scope.getUnpaidBillings = function () {

                if ($scope.paymentRef.Payment.TravelAgencyID == null) {
                    toastr.error("Please select Travel Agency!", "");
                    return;
                }

              


                $http.post("/Payments/GetAllUnpaidBillings?travelAgencyID=" + $scope.paymentRef.Payment.TravelAgencyID + "&startIndex=" + 0 + "&pageSize=" + 50)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.gridBillings.data = data.Records;




                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   }).finally(function () {
                                       $scope.loading = false;

                                   });

            }





            $scope.gridOptions = {
                //data: 'pendingRequests',
                paginationPageSizes: [10, 25, 50, 75, 1000],
                paginationPageSize: 50,
                enableFiltering: true,
                useExternalPagination: true,
                // useExternalSorting: true,
                multiSelect: true,
                enableColumnReordering: false,
                enableRowSelection: true,
                enableSelectAll: true,
                selectionRowHeaderWidth: 35,
                rowHeight: 35,
                showGridFooter: true,
                enableColumnResizing: true,
                jqueryUIDraggable: true,
                jqueryUITheme: true,
                minRowsToShow: 12,
                columnDefs: [

                      {
                          name: 'CVNumber',
                          displayName: 'CV Number',
                          width: 150,
                          cellTooltip: true
                      },
                     {
                         name: 'GroupName',
                         displayName: 'Group Name',
                         width: 350,
                         cellTooltip: true
                     },
                {
                    name: 'Total',
                    displayName: 'Total',
                    width: 100,
                    enableFiltering: false,
                    cellTooltip: true,
                    cellClass: 'text-right',
                    cellFilter: 'number:2',
                    cellTemplate: '<div class="ui-grid-cell-contents" >{{row.entity.Total-row.entity.Payments | number :2}}</div>'
                }


                ],
                onRegisterApi: function (gridApi) {


                    // console.log(gridApi)

                    $scope.gridApi = gridApi;

                    gridApi.pagination.on.paginationChanged($scope, function (newPage, pageSize) {
                        $scope.loading = true;
                        paginationOptions.pageNumber = newPage;
                        paginationOptions.pageSize = pageSize;
                        $scope.getUnpaidBookings($scope.cvNumber, $scope.groupName);
                        // getPage();
                    });



                    // Register a handler that is fired everytime someone changd the sort params.
                    gridApi.core.on.sortChanged($scope, function (grid, sortColumns) {
                        if (sortColumns.length > 1) {
                            // We have more than one sort. Kill the first one.
                            // If this works we'll only ever have 0, 1 or 2 sortColumns,
                            // and only ever 2 for the lifetime of this method.
                            var column = null;
                            for (var j = 0; j < grid.columns.length; j++) {
                                if (grid.columns[j].name === sortColumns[0].field) {
                                    column = grid.columns[j];
                                    break;
                                }
                            }
                            if (column) {
                                sortColumns[1].sort.priority = 1; // have to do this otherwise the priority keeps going up.
                                column.unsort();
                            }
                        }
                    });


                    gridApi.core.on.filterChanged($scope, function () {
                        $scope.filter = [];

                        var grid = this.grid;
                        angular.forEach(grid.columns, function (column) {
                            var fieldName = column.field;
                            var value = column.filters[0].term;
                            var operator = "contains";

                            if (value) {
                                if (fieldName == "CVNumber") {
                                    $scope.cvNumber = value;

                                }
                                if (fieldName == "GroupName") {

                                    $scope.groupName = value;
                                }
                        

                            }
                        });


                        $scope.getUnpaidBookings($scope.cvNumber, $scope.groupName);

                    });

                }

            };



            $scope.gridBillings = {
                multiSelect: true,
                enableColumnReordering: false,
                enableRowSelection: true,
                enableSelectAll: true,
                selectionRowHeaderWidth: 35,
                rowHeight: 35,
                enableFiltering: true,
                showGridFooter: true,
                enableColumnResizing: true,
                jqueryUIDraggable: true,
                jqueryUITheme: true,
                minRowsToShow: 12,
                columnDefs: [

                      {
                          name: 'BillingID',
                          displayName: 'Billing No.',
                          width: 150,
                          cellTooltip: true
                      },
                         {
                             name: 'Amount',
                             displayName: 'Amount',
                             width: 150,
                             cellTooltip: true,
                             cellClass: 'text-right',
                             cellFilter: 'number:2'
                         },
                          {
                              name: 'BookingCount',
                              displayName: 'No. of Bookings',
                              width: 150,
                              cellTooltip: true,
                              cellClass: 'text-center',
                              cellFilter: 'number:0'
                          },
                          {
                              name: 'Period',
                              displayName: 'Period',
                              width: 220,
                              cellTooltip: true

                          }



                ],
                onRegisterApi: function (gridApi) {


                    // console.log(gridApi)

                    $scope.gridApiBilling = gridApi;



                }

            };


            $scope.creditEntries = [];


            //ADD ENTRIES
            $scope.addCreditEntries = function () {


                var selectedEntries = $scope.gridApi.selection.getSelectedRows();

                if (selectedEntries.length == 0) {
                    toastr.error("No booking has been selected!", "");
                    return;
                }

                

                selectedEntries.forEach(function (entry) {

                    var journal = {
                        ID: 0,
                        AccountingCode: '1011000',
                        AccountName: 'ACCOUNTS RECEIVABLE - TRADE',
                        CVNumber: entry.CVNumber,
                        BookingID: entry.ID,
                        Remarks: " ",
                        Amount: entry.Total - entry.Payments,
                        Type: 2,
                        PaymentID: 0
                    };

                    $scope.creditEntries.push(journal);

                    $scope.gridOptionsCredit.data = $scope.creditEntries;
                });





            }


            //ADD BILLING ENTRIES
            $scope.addBillingEntries = function () {

                var selectedEntries = $scope.gridApiBilling.selection.getSelectedRows();

                if (selectedEntries.length == 0) {
                    toastr.error("No billing statement has been selected!", "");
                    return;
                }

                $scope.creditEntries = [];



                selectedEntries.forEach(function (entry) {


                    $http.post("/Payments/GetAllUnpaidBillingByID?billingID=" + entry.BillingID + "&startIndex=" + 0 + "&pageSize=" + 1000).success(function (data, status, headers, config) {

                        logResult("GET SUCCESS", data, status, headers, config);

                        if (data.Result == "ERROR") {
                            toastr.error(data.Message, "");
                            return;
                        }


                        data.Records.Records.forEach(function (bs) {


                            var journal = {
                                ID: 0,
                                AccountingCode: '1011000',
                                AccountName: 'ACCOUNTS RECEIVABLE - TRADE',
                                CVNumber: bs.CVNumber,
                                BookingID: bs.ID,
                                Remarks: "Billing Statement #" + entry.BillingID,
                                Amount: bs.Total,
                                Type: 2,
                                PaymentID: 0
                            };

                            $scope.creditEntries.push(journal);



                        });





                    }).error(function (data, status, headers, config) {
                        logResult("GET ERROR", data, status, headers, config);


                    }).finally(function () {
                        $scope.loading = false;

                    });



                    $scope.gridOptionsCredit.data = $scope.creditEntries;
                });

            }


            // SUBMIT PAYMENT
            $scope.updateChanges = function () {





                var keepGoing = true;

                $scope.gridApi.grid.rows.forEach(function (rowEntity) {

                    if (keepGoing) {
                        $scope.gridApi.grid.columns.forEach(function (colDef) {


                            var isInvalid = rowEntity.entity['$$invalid' + colDef.name];

                            if (isInvalid) {
                                keepGoing = false;
                                throw 'Please fill up required fields.';
                            }

                        });
                    }


                });

                if (!keepGoing) {
                    return;
                }



                $.blockUI();

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                $scope.paymentRef.CreditEntries = $scope.gridOptionsCredit.data;
                $scope.paymentRef.DebitEntries = $scope.journals;

                var paymentData = JSON.stringify({ payment: $scope.paymentRef });

                console.log($scope.paymentRef);


                $http.post("/Payments/UpdateChanges", paymentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       toastr.success("Payment has been posted!", "");

                                       window.location.href = "/Payments/";

                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   }).finally(function () {

                                       $.unblockUI();
                                   })

            }


            //REMOVE ITEMS
            $scope.removeItem = function (item) {


                $scope.creditEntries.splice($scope.creditEntries.indexOf(item), 1);

            }

            //REMOVE DEBIT ITEMS
            $scope.removeItemDebit = function (item) {


                $scope.journals.splice($scope.journals.indexOf(item), 1);

            }


            //CANCEL PAYMENT
            $scope.cancelPayment = function () {

                if (!confirm("Are you sure you want to cancel this payment?")) {
                    return false;
                }
                


                $.blockUI();

                


                $http.post("/Payments/CancelPayment?paymentID=" + $scope.paymentRef.Payment.ID)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       toastr.success("Payment has been cancelled!", "");

                                       window.location.href = "/Payments/";

                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   }).finally(function () {

                                       $.unblockUI();
                                   })


            }


            // CONFIRM PAYMENT
            $scope.confirmPayment = function () {


                if (!confirm("Are you sure you want to confirm this payment? Once confimed, cancellation is no longer possible. "))
                    return false;

                $.blockUI();

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

         

                var paymentData = JSON.stringify({ payRef: $scope.paymentRef });

                console.log($scope.paymentRef);


                $http.post("/Payments/ConfirmPayment", paymentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       toastr.success("Payment has been verified!", "");

                                       window.location.href = "/Payments/";

                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   }).finally(function () {

                                       $.unblockUI();
                                   })

            }


        })



    </script>
}
