﻿
@{

    ViewBag.Title = "Account Receivables";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="listBookingController" ng-init="getBatches()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">

                      

                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li><a href="/AccountReceivables" >Account Receivables</a></li>
                        <li id="current"><a href="#tabBatches" data-toggle="tab">Batches</a></li>
                        <li><a href="/Collections">Billing Statements</a></li>
                        <li><a href="/Collections/Index">Collections</a></li>
                    </ul>

                    <div class="col-md-12">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    
                                    <td>Batch #</td>
                                    <td>Date Created</td>
                                    <td>Date Updated</td>
                                    <td>Progress</td>
                                    <td>Action</td>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="batch in batches">
                  
                                    <td>{{batch.ID}}</td>
                                    <td>{{batch.DateCreated}}</td>
                                    <td>{{batch.DateLastUpdated}}</td>
                                    <td>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{batch.Processed}}"
                                                 aria-valuemin="0" aria-valuemax="{{batch.Total}}" style="width:{{(batch.Processed / batch.Total)*100}}%">
                                                {{batch.Processed}}/{{batch.Total}} Statements Generated
                                            </div>
                                        </div>

                                    </td>
                                  <td>
                                      <a class="btn btn-primary" href="/AccountReceivables/GetFilesByBatch/{{batch.ID}}"><i class="glyphicon glyphicon-download"></i> Download</a>
                                  </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>








                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>






    </div>
</div>




@section scripts{


    <script type="text/javascript">

        App.controller("listBookingController", function ($scope, $http, $filter) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            $scope.classRate = [{ ID: 1, Description: "REGULAR" }, { ID: 2, Description: "SPECIAL" }, { ID: 3, Description: "UPHILL" }];

            $scope.fromDate = moment("2015-01-01");
            $scope.toDate = moment();
            $scope.pageNo = 1;
            $scope.totalCount = 0;
            $scope.pageSize = 10;
            $scope.currentPage = 1;

            $scope.selectedStatus = [];
            $scope.ddSettings = { displayProp: 'Description', idProp: 'ID', externalIdProp: 'statuses' };

            //DRAFT=0,
            //CONFIRMED=1,
            //FINALIZED=2,
            //CANCELLED=3
            $scope.bookingStatus = [
                { ID: 0, Description: "SUBMITTED" },
                 { ID: 1, Description: "CONFIRMED" },
                  { ID: 2, Description: "FINALIZED" },
                   { ID: 3, Description: "CANCELLED" },
                    { ID: 9, Description: "SAVED" }
            ]







            $scope.getBatches = function () {





                $http.post("/AccountReceivables/GetBatches")
                          .success(function (data, status, headers, config) {

                              logResult("GET SUCCESS", data, status, headers, config);
                              $scope.batches = data.Records;


                          }).error(function (data, status, headers, config) {
                              logResult("GET ERROR", data, status, headers, config);


                          });


            };


         

        });




    </script>

}