﻿@{

    ViewBag.Title = "Account Receivables";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="listBookingController" ng-init="getTravelAgencies();getBooking()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li id="current"><a href="#tabAR" data-toggle="tab">Account Receivables</a></li>
                        <li><a href="/AccountReceivables/Batches">Batches</a></li>
                        <li><a href="/Collections">Billing Statements</a></li>

                        <li><a href="/Payments/Index">Collections</a></li>
                    </ul>

                    <div class="col-md-12">
                        <br />
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">CV Number:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="keywordSearch">


                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Travel Agency:</label>
                                <div class="col-md-10">
                                    <div isteven-multi-select
                                         input-model="travelAgencies"
                                         output-model="myTravelAgency"
                                         button-label="Name"
                                         selection-mode="multiple"
                                         max-labels="1"
                                         item-label="Name"
                                         tick-property="ticked"
                                         on-close="getTravelAgency()">
                                    </div>
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Date:</label>
                                <div class="col-md-6">
                                    <input date-range-picker class="form-control date-picker" type="text" ng-model="drPicker" options="drOptions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <button class="btn btn-primary" ng-click="resetPager();getBooking()">Search</button>
                                </div>
                            </div>


                        </form>

                    </div>

                    <div class="col-md-12">
                        <div style="margin-bottom:15px;margin-top:15px;">
                            <a class="btn btn-primary" ng-click="generateStatements()">Generate Billing Statements</a>
                        </div>
                    </div>

                    <div class="col-md-8">


                        <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" style="width:100%;">

                            <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                <div class="msg">
                                    <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div ui-grid="gridOptionsSelected" class="grid" style="width:100%;">

                            <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                <div class="msg">
                                    <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>






    </div>
</div>




@section scripts{


    <script type="text/javascript">

        App.controller("listBookingController", function ($scope, $http, $filter) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            $scope.classRate = [{ ID: 1, Description: "REGULAR" }, { ID: 2, Description: "SPECIAL" }, { ID: 3, Description: "UPHILL" }];

            $scope.loading = false;
            $scope.fromDate = moment("2015-01-01");
            $scope.toDate = moment();
            $scope.pageNo = 1;
            $scope.totalCount = 0;
            $scope.pageSize = 10;
            $scope.currentPage = 1;

            $scope.selectedBookings = [];

            // Keep an array of elements whose BookingID is added in filtered array
            var elementId = [];

            var start = moment().subtract(29, 'days');
            var end = moment();

            $scope.drPicker = { startDate: start, endDate: end };

            $scope.drOptions = {
                applyClass: 'btn-green',
                alwaysShowCalendars: true,
                locale: {
                    applyLabel: "Apply",
                    fromLabel: "From",
                    format: "YYYY-MM-DD",
                    toLabel: "To",
                    cancelLabel: 'Cancel',
                    customRangeLabel: 'Custom range'
                },
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }

            $scope.EditAgent = false;

            $scope.myTravelAgency = [];
            $scope.keywordSearch = "";


            $scope.getTravelAgency = function () {
                console.log($scope.myTravelAgency)

            }


            $scope.getTravelAgencies = function () {
                $http.post("/Agents/GetTravelAgencies")
                                  .success(function (data, status, headers, config) {

                                      logResult("GET SUCCESS", data, status, headers, config);

                                      $scope.travelAgencies = data;
                                  }).error(function (data, status, headers, config) {
                                      logResult("GET ERROR", data, status, headers, config);


                                  });
            }


            $scope.checkDateIn = function (date) {
                $scope.selectedDateIn = [$scope.searchDateIn];

                $scope.filterByDateIn = function (book) {

                    if (book.DateIn != null) {
                        for (var i = 0; i < $scope.selectedDateIn.length; i++) {
                            var str = book.DateIn;
                            var str2 = $scope.selectedDateIn[i];

                            if (str.includes(str2)) {
                                return true;
                            }
                        }
                    }
                    else {
                        for (var i = 0; i < $scope.selectedDateIn.length; i++) {
                            var str = book.DateOut;
                            var str2 = $scope.selectedDateIn[i];

                            if (str.includes(str2)) {
                                return true;
                            }
                        }
                    }

                };
            }




            var pager = {
                pageSize: 1000,
                startIndex: 1,
                totalItems: 0,
                currentPage: 1
            }

            //$scope.resetPager = function () {

            //    pager.startIndex = 0;
            //    pager.currentPage = 1;

            //}




            $scope.gridOptions = {
                data: 'bookings',
                paginationPageSizes: [15, 25, 50, 1000],
                paginationPageSize: 1000,
                useExternalPagination: true,
                enableSorting: false,
                enableColumnReordering: false,
                rowHeight: 35,
                enableColumnResizing: true,
                showGridFooter: false,
                minRowsToShow: 10,
                showColumnFooter: true,
                enableColumnMenus: false,
                columnDefs: [

                {
                    name: 'CVNumber',
                    displayName: 'CV Number',
                    cellTooltip: true,
                    width: 150
                },
                  {
                      name: 'DateIn',
                      displayName: 'Date In',
                      cellTooltip: true,
                      width: 100
                  },
                   {
                       name: 'DateOut',
                       displayName: 'Date Out',
                       cellTooltip: true,
                       width: 100
                   },
                    {
                        name: 'TravelAgencyName',
                        displayName: 'Agency',
                        cellTooltip: true,
                        width: 350
                    },
                       {
                           name: 'PaxName',
                           displayName: 'Remarks',
                           cellTooltip: true,
                           width: 300
                       },
                         {
                             name: 'Balance',
                             displayName: 'Balance',
                             cellTooltip: true,
                             cellClass: 'text-right',
                             cellFilter: 'number:2',
                             width: 100
                         }

                ],
                onRegisterApi: function (gridApi) {

                    $scope.gridApi = gridApi;




                    $scope.gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {

                        rows.forEach(function (row) {
                            var isFound = false;
                            var idx = elementId.indexOf(row.entity.BookingID);
                            if (idx === -1) {
                                elementId.push(row.entity.BookingID);
                                isFound = false;
                            } else {
                                isFound = true;
                            }

                            if (row.isSelected) {
                                if (!isFound) {
                                    $scope.selectedBookings.push(row.entity);
                                }

                            } else {

                                if (isFound) {
                                    $scope.selectedBookings.splice(idx, 1);
                                    elementId.splice(idx, 1);
                                }


                            }
                        });

                    });

                    $scope.gridApi.selection.on.rowSelectionChanged($scope, function (row, event) {

                        var isFound = false;
                        var idx = elementId.indexOf(row.entity.BookingID);
                        if (idx === -1) {
                            elementId.push(row.entity.BookingID);
                            isFound = false;
                        } else {
                            isFound = true;
                        }

                        if (row.isSelected) {
                            if (!isFound) {
                                $scope.selectedBookings.push(row.entity);
                            }

                        } else {

                            if (isFound) {
                                $scope.selectedBookings.splice(idx, 1);
                                elementId.splice(idx, 1);
                            }


                        }


                    });

                    $scope.gridApi.pagination.on.paginationChanged($scope, function (newPage, pageSize) {

                        pager.startIndex = newPage;

                        pager.pageSize = pageSize;




                        $scope.getBooking();


                    });

                }

            };








         

            $scope.removeItem = function (item) {
                var idx = elementId.indexOf(item.ID);
                if (idx != -1) {
                    $scope.selectedBookings.splice(idx, 1);
                    elementId.splice(idx, 1);
                }

              
            }

            $scope.gridOptionsSelected = {

                data: 'selectedBookings',
                enableSorting: true,
                enableColumnReordering: false,
                rowHeight: 35,
                enableColumnResizing: true,
                showGridFooter: false,
                minRowsToShow: 10,
                showColumnFooter: true,
                enableColumnMenus: false,
                columnDefs: [
                         {
                             field: 'Actions',
                             displayName: 'Delete',
                             cellClass: 'text-center',
                             width: 60,
                             allowCellFocus: false,
                             enableCellEdit: false,

                             cellTemplate: '<div class="ui-grid-cell-contents" ><a href="#" ng-click="grid.appScope.removeItem(row.entity)" ><i class="glyphicon glyphicon-trash btn-tools"></i></a></div>'
                         },
                          {
                              name: 'TravelAgencyName',
                              displayName: 'Agency',
                              cellTooltip: true,
                              width: 200,
                            
                            },
                     
                {
                    name: 'CVNumber',
                    displayName: 'CV Number',
                    cellTooltip: true,
                    width: 150
                },


                       {
                           name: 'PaxName',
                           displayName: 'Remarks',
                           cellTooltip: true,
                           width: 300
                       },
                         {
                             name: 'Balance',
                             displayName: 'Balance',
                             cellTooltip: true,
                             cellClass: 'text-right',
                             cellFilter: 'number:2',
                             width: 100
                         }

                ],
                onRegisterApi: function (gridApi) {

                    $scope.gridApiSelected = gridApi;

                }

            };



            $scope.getBooking = function () {



                var found = $.map($scope.myTravelAgency, function (val) {
                    return val.ID;
                });


                var formattedStartDate = moment($scope.drPicker.startDate).format('YYYY-MM-DD');
                var formattedEndDate = moment($scope.drPicker.endDate).format('YYYY-MM-DD');

                $scope.loading = true;

                var data = JSON.stringify({ fromDate: formattedStartDate, toDate: formattedEndDate, travelAgencies: found, search: $scope.keywordSearch, startIndex: pager.startIndex, pageSize: pager.pageSize });
                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };



                $http.post("/AccountReceivables/GetAccountReceivablesPaged", data, config)
                    .success(function (data, status, headers, config) {

                        logResult("GET SUCCESS", data, status, headers, config);



                        $scope.bookings = data.Records.Records;

                        pager.pageSize = data.Records.PageSize;
                        pager.totalItems = data.Records.TotalRecords;
                        pager.currentPage = data.Records.CurrentPage;
                        pager.startIndex = data.Records.PageNumber;

                        $scope.gridOptions.totalItems = pager.totalItems;

                        $scope.loading = false;

                    }).error(function (data, status, headers, config) {
                        logResult("GET ERROR", data, status, headers, config);


                    });


            };


            $scope.generateStatements = function () {

                // var selectedBookings = $filter('filter')($scope.bookings, { IsChecked: true }, true);

                //var selectedBookings = $scope.gridApi.selection.getSelectedRows();

                //if (selectedBookings.length == 0) {
                //    toastr.error("No CV Number has been selected!", "");
                //    return;
                //}


                //var bookingIDs = selectedBookings.map(function (v) {
                //    return v.BookingID;
                //});


                if (elementId.length == 0) {
                    toastr.error("No CV Number has been selected!", "");
                    return;
                }

                var bookingIDs = elementId;

                $.blockUI();


                var data = JSON.stringify(bookingIDs);
                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                $http.post("/AccountReceivables/GenerateBillingStatements", data, config).success(function (data, status, headers, config) {

                    $.unblockUI();

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    if (data.Result == "OK") {
                        toastr.success("Billing statement(s) has been generated!", "");
                    }


                    setTimeout(function () {
                        $scope.getBooking();

                    }, 1500);



                }).error(function (data, status, headers, config) {
                    $.unblockUI();
                    logResult("GET ERROR", data, status, headers, config);
                });



            }


            //$scope.selectAll = function (tag) {

            //    angular.forEach($scope.filteredAR, function (ar) {
            //        ar.IsChecked = tag;
            //    });


            //}


        });




    </script>

}