﻿@{

    ViewBag.Title = "Account Receivables";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="collectionsController" ng-init="getCollectibles()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li><a href="/AccountReceivables">Account Receivables</a></li>
                        <li><a href="/AccountReceivables/Batches">Batches</a></li>
                        <li id="current"><a href="/Collections">Billing Statements</a></li>

                        <li><a href="/Payments/Index">Collections</a></li>
                    </ul>
                    <div class="col-md-12">
                        <input type="checkbox" class="" style="zoom:1.2" ng-model="includeCancelled" ng-change="getCollectibles()" /> Include Cancelled?
                    </div>
                    <div class="col-md-12">
                        
                        <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="width:100%;">

                            <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                <div class="msg">
                                    <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-12">

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <td>Action</td>
                                    <td>Statement #</td>
                                    <td>Statement Date</td>
                                    <td>Travel Agency</td>
                                    <td>Period</td>
                                    <td>Balance</td>
                                    <td>Payments</td>
                                    <td>Status</td>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="col in collectibles ">
                                    <td>
                                       
                                        <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" ng-click="setEditableRecord(col)" title="Tag as Received" ng-if="col.Status==0">Received</a>
                                        <a href="/AccountReceivables/ViewBillingStatement/?billingPeriodID={{col.ID}}&agentID={{col.AgentID}}" class="btn btn-primary btn-xs" target="_blank" title="View Statement">View</a>
                                        <a href="/AccountReceivables/DownloadBillingStatement/?billingPeriodID={{col.ID}}&agentID={{col.AgentID}}" class="btn btn-primary btn-xs" target="_self" title="Download Statement">Download</a>
                                        <a class="btn btn-danger btn-xs" ng-if="col.Status==0 || col.Status==1" title="Cancel Billing Statement" ng-click="cancelBillingStatement(col)">Cancel</a>
                                    </td>
                                    <td class="text-center">{{::col.ID | padNumber: 8}}</td>
                                    <td>{{::col.GenerationDate| limitTo : 10 : 0}}</td>
                                    <td>{{::col.TravelAgency}} </td>
                                    <td>{{::col.StartDate| limitTo : 10 : 0}} - {{::col.EndDate| limitTo : 10 : 0}}</td>

                                    <td class="text-right">{{::col.Balance|number:2}}</td>
                                    <td class="text-right">{{::col.Payment|number:2}}</td>
                                    <td>
                                        <div ng-switch="col.Status">
                                            <label ng-switch-when="0">OPEN</label>
                                            <label ng-switch-when="1">RECEIVED BY AGENCY</label>
                                            <label ng-switch-when="2">UNVERIFIED PAYMENT</label>
                                            <label ng-switch-when="3" class="bg-green-active">VERIFIED PAYMENT</label>
                                            <label ng-switch-when="4" class="bg-green-active">PARTIALLY PAID</label>
                                            <label ng-switch-when="5" class="bg-green-active">FULLY PAID</label>
                                            <label ng-switch-when="6">CLOSED</label>
                                            <label ng-switch-when="7" class="bg-red-active">CANCELLED</label>
                                        </div>


                                    </td>
                                </tr>


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="grid-msg-overlay " ng-if="loading" ng-cloak style="">
                                            <div class="msg">
                                                <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>



                    </div>*@





                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

    </div>







    <!--Add new User Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Tag Statement as Received</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date Received:</label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="dateReceived" placeholder="yyyy-mm-dd"
                                           format="YYYY-MM-DD" keyboard="true"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           moment-picker="dateReceived" name="dateReceived" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Ok" ng-click="tagBillingStatement()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>



</div>




@section scripts{

    <script type="text/javascript">

        App.controller("collectionsController", function ($scope, $http, $filter) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            $scope.loading = true;

            $scope.includeCancelled = false;


            $scope.billingID = 0;

            $scope.dateReceived = moment();


            $scope.setEditableRecord = function (bill) {
                $scope.billingID = bill.ID;

            }


            $scope.tagBillingStatement = function () {

                var statementID = $scope.billingID;


                console.log($scope.dateReceived);

                var timestamp = Date.parse($scope.dateReceived);



                if (isNaN(timestamp) == true) {
                    toastr.error("Invalid date!", "");

                    return;

                }


                if (!confirm("Are you sure you want to tag this statement as received?")) {
                    return;
                }

                $http.post("/AccountReceivables/TaggedAsReceived?billingPeriodID=" + statementID + "&dateReceived=" + moment($scope.dateReceived).format('YYYY-MM-DD')).success(function (data, status, headers, config) {




                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }

                    toastr.success("Billing statement #" + statementID + " has been tagged as received! ", "");

                    $scope.getCollectibles();

                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            }


            $scope.cancelBillingStatement = function (col) {

                if (!confirm("Are you sure you want cancel this billing  statement?")) {
                    return;
                }


                $http.post("/AccountReceivables/CancelBillingStatement?billingPeriodID=" + col.ID).success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    toastr.success("Billing Statement # " + col.ID + "  has been cancelled!", "");

                    $scope.getCollectibles();


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });
            }


            $scope.gridOptions = {
                //data: 'pendingRequests',
                paginationPageSizes: [10, 25, 50, 75,1000],
                paginationPageSize: 25,
                useExternalPagination: false,
                // useExternalSorting: true,
                multiSelect: true,
                enableColumnReordering: false,
                enableRowSelection: false,
                enableSelectAll: false,
                enableFiltering: true,
                selectionRowHeaderWidth: 35,
                rowHeight: 35,
                showGridFooter: true,
                enableColumnResizing: true,
                jqueryUIDraggable: true,
                jqueryUITheme: true,
                minRowsToShow: 15,
                columnDefs: [

                      {
                          name: 'ACTION',
                          displayName: 'Action',
                          width: 250,
                          cellTooltip: true,
                          enableFiltering: false,
                          cellTemplate: '<div class="ui-grid-cell-contents"> <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" ng-click="grid.appScope.setEditableRecord(row.entity)" title="Tag as Received" ng-if="row.entity.Status==0">Received</a>' +
                              ' <a class="btn btn-success btn-xs" ng-if="row.entity.Status==0 || row.entity.Status==1" title="Re-generate Billing Statement" ng-click="grid.appScope.regenerateStatement(row.entity)">Re-generate</a>' +
                                        ' <a href="/AccountReceivables/ViewBillingStatement/?billingPeriodID={{row.entity.ID}}&agentID={{row.entity.AgentID}}" class="btn btn-primary btn-xs" target="_blank" title="View Statement">View</a>'+
                                        ' <a href="/AccountReceivables/DownloadBillingStatement/?billingPeriodID={{row.entity.ID}}&agentID={{row.entity.AgentID}}" class="btn btn-primary btn-xs" target="_self" title="Download Statement">Download</a>'+
                                        ' <a class="btn btn-danger btn-xs" ng-if="row.entity.Status==0 || row.entity.Status==1" title="Cancel Billing Statement" ng-click="grid.appScope.cancelBillingStatement(row.entity)">Cancel</a>'+
                                         
                                       '</div>'
                        

                      },
                
                         {
                             name: 'ID',
                             displayName: 'Statement #',
                             width: 150,
                             cellTooltip: true,
                            // cellTemplate: '<div class="ui-grid-cell-contents"> {{::row.entity.ID | padNumber: 8}} </div>',
                             cellClass: 'text-center',
                             enableFiltering: true,
                         },
                          {
                              name: 'GenerationDate',
                              displayName: 'STATEMENT DATE',
                              width: 150,
                              cellTooltip: true,
                              enableFiltering: false,
                             // cellTemplate: '<div class="ui-grid-cell-contents"> {{::row.entity.GenerationDate| limitTo : 10 : 0}} </div>',
                              cellClass:'text-center'
                          },
                           {
                               name: 'TravelAgency',
                               displayName:'TRAVEL AGENCY',
                               width: 350,
                               cellTooltip: true,
                               enableFiltering: true,
                           },
                           {
                               name: 'Period',
                               displayName: 'PERIOD',
                               width: 200,
                               cellTooltip: true,
                               enableFiltering: false,
                               cellTemplate: '<div class="ui-grid-cell-contents">{{::row.entity.StartDate| limitTo : 10 : 0}} - {{::row.entity.EndDate| limitTo : 10 : 0}}</div>'
                           },
                            {
                                name: 'Balance',
                                displayName: 'BALANCE',
                                width: 150,
                                cellTooltip: true,
                                enableFiltering: false,
                                cellFilter: 'number:2',
                                cellClass:'text-right'
                            },
                              {
                                  name: 'Payment',
                                  displayName: 'PAYMENTS',
                                  width: 150,
                                  cellTooltip: true,
                                  enableFiltering: false,
                                  cellFilter: 'number:2',
                                  cellClass:'text-right'
                              },

                           {
                               name: 'Status',
                               displayName: 'STATUS',
                               width: 200,
                               cellTooltip: true,
                               enableFiltering: false,
                               cellClass:'text-right',
                               cellTemplate: '<div class="ui-grid-cell-contents"><div ng-switch="row.entity.Status">' +
                                            '<label ng-switch-when="0">OPEN</label>'+
                                            '<label ng-switch-when="1">RECEIVED BY AGENCY</label>'+
                                            '<label ng-switch-when="2">UNVERIFIED PAYMENT</label>'+
                                            '<label ng-switch-when="3" class="bg-green-active">VERIFIED PAYMENT</label>'+
                                            '<label ng-switch-when="4" class="bg-green-active">PARTIALLY PAID</label>'+
                                            '<label ng-switch-when="5" class="bg-green-active">FULLY PAID</label>'+
                                            '<label ng-switch-when="6">CLOSED</label>'+
                                            '<label ng-switch-when="7" class="bg-red-active">CANCELLED</label>'+
                                        '</div></div>'
                           },
                           {
                               name: 'CVNumbers',
                               enableFiltering: true,
                           }


                ],
                onRegisterApi: function (gridApi) {
                                     
                    $scope.gridApi = gridApi;
                }

            };


            $scope.getCollectibles = function () {
                $scope.loading = true;

                $http.post("/Collections/GetCollectibles?includeCancelled=" + $scope.includeCancelled).success(function (data, status, headers, config) {



                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    $scope.collectibles = data.Records;
                    $scope.gridOptions.data = data.Records;
                    $scope.loading = false;

                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            }


            $scope.regenerateStatement = function (col) {


                if (!confirm("Are you sure you want re-generate this billing  statement?")) {
                    return;
                }


                $http.post("/AccountReceivables/ReGenerateBillingStatements?billingPeriodID=" + col.ID + "&batchID="+col.BatchID).success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    toastr.success("Billing Statement # " + col.ID + "  has been re-generated!", "");

                    $scope.getCollectibles();


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            }

        });

    </script>
}