﻿@{
    ViewBag.Title = "Resorts and Hotels";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}

<div class="row" ng-controller="resortsAndHotelsController" ng-init="getAllResortsAndHotels()">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Resorts and Hotels</h3>
            </div>
            <div class="box-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-3">Name:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="newResortOrHotel.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Is Active:</label>
                        <div class="col-md-4">
                            <input type="checkbox"  ng-model="newResortOrHotel.IsActive" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                            <input type="button" class="btn btn-primary" value="Add" ng-click="addNewResortOrHotel()" />
                        </div>
                    </div>
                </form>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Action</td>
                            <td>Name </td>
                            <td>Is Active?</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="rh in resortsAndHotels">
                            <td>
                                <a class="btn btn-sm btn-success" ng-click="updateResortOrHotel($index)" ng-show="rh.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="rh.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                                <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="rh.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                            </td>

                            <td>
                                <div ng-switch="rh.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="text" class="form-control" ng-model="rh.Name" />
                                    </div>
                                    <div ng-switch-default>
                                        {{ rh.Name }}

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-switch="rh.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="checkbox" ng-model="rh.IsActive" />
                                    </div>
                                    <div ng-switch-default>
                                        {{rh.IsActive}}
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>




    </div>
</div>

@section scripts{
    <script type="text/javascript">


        App.controller("resortsAndHotelsController", ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {

            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            //GET ALL
            $scope.getAllResortsAndHotels = function () {


                $http.post("/ResortsAndHotels/GetResortsAndHotels").success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    $scope.resortsAndHotels = data;


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            };



            //ADD NEW RESORT OR HOTEL
            $scope.addNewResortOrHotel = function () {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var newResortOrHotel = JSON.stringify($scope.newResortOrHotel);

                $http.post("/ResortsAndHotels/CreateResortsAndHotels", newResortOrHotel, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     toastr.error(data.Message, "");
                     return;
                 }


                 $scope.resortsAndHotels.push(data.Record);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };




            //UPDATE RESORT OR HOTEL
            $scope.updateResortOrHotel = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var resortHotelData = JSON.stringify($scope.resortsAndHotels[index]);

                $http.post("/ResortsAndHotels/UpdateResortsAndHotels", resortHotelData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }




                 $scope.resortsAndHotels[index].IsEdit = false;

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };



            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.resortsAndHotels[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.resortsAndHotels[index].IsEdit = false;
            };



        }]);


    </script>
}