﻿@{
    ViewBag.Title = "New Booking";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


    if (agent == null)
    {
        agent = new ISE.DAL.AgentsModel();
    }

}


<div ng-controller="bookingController" ng-init="getDestinations();getAllResortsAndHotels();">



    <!--FILE UPLOAD-->
    <fileuploadbooking></fileuploadbooking>


    <div class="row">


        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Booking No:.</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <form class="form-horizontal" ng-validate="{rules: { txtGroupName:{required:true},
                          txtContactPerson:{required:false},
                           txtFlightDate1: {requiredFlightDate1:true},
                           txtFlightDate2: {requiredFlightDate2:true},
                          txtDropOffLocation1:{requiredLocation1:true},
                         txtDropOffLocation2:{requiredLocation2:true},
                          txtClass2: {requiredClass2:true},
                          txtPaymentType:{required:true},
                           txtSenior:required_group,
                           txtChildren:required_group,
                            txtAdult: required_group,
                          txtClass:{required:true}
                          } }" name="frmBooking">
                        @if (agent.Type == 2 || agent.Type == 3)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-1">Agent:</label>
                                <div class="col-md-5">


                                    <div isteven-multi-select
                                         input-model="activeAgents"
                                         output-model="myTravelAgency"
                                         button-label="Company"
                                         selection-mode="single"
                                         item-label="Company"
                                         tick-property="ticked"
                                         on-close="getTravelAgency()">
                                    </div>

                                </div>
                            </div>
                        }

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align:left;">Passenger Info</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Group/Passenger</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.GroupName" tabindex="1" name="txtGroupName" />
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label class="control-label col-md-offset-1 col-md-3">Contact Person:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.ContactPerson" tabindex="2" name="txtContactPerson" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Contact Number:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.ContactNumber" tabindex="3" name="txtContactNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Remarks:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" rows="3" ng-model="bookingInfo.Header.Remarks" tabindex="4"></textarea>
                                </div>
                            </div>
                            @if (agent.Type == 2 || agent.Type == 3)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-3">Rates applied from:</label>
                                    <div class="col-md-8">

                                        <input class="form-control" ng-model="submissionDate" placeholder="yyyy-mm-dd HH:mm"
                                               format="YYYY-MM-DD HH:mm" keyboard="true"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               moment-picker="submissionDate" name="submissionDate" tabindex="4" />
                                    </div>

                                </div>

                            }

                        </div>

                        <div class="col-md-7">
                            <div class="form-group">

                                <label class="control-label col-md-6 col-xs-7" style="text-align:left;">No. of Passengers</label>
                                <label class="control-label col-md-3 col-xs-2" style="text-align: left; width: 500px; margin-left: -30px">&nbsp;&nbsp; &nbsp;&nbsp; TF IN  &nbsp;&nbsp; <span ng-show="bookingInfo.Header.Routing==2">+  &nbsp;&nbsp;TF OUT &nbsp;&nbsp; </span>+  &nbsp;&nbsp;  Env &nbsp;&nbsp;+ NN  </label>

                            </div>






                            <!--ADULTS-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-1 col-xs-2">Adults:</label>
                                <div class="col-md-4 col-sm-1 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Adults" tabindex="5" name="txtAdult" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInAdult" ng-change="toggleTFIN(withTFInAdult)" tabindex="6" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutAdult" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutAdult)" tabindex="7" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeAdult" ng-change="toggleEnvFee(withEnvFeeAdult)" tabindex="8" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeAdult" ng-change="toggleNNFee(withNNFeeAdult)" tabindex="9" />
                                    </div>


                                </div>

                            </div>

                            <!--CHILDRENS-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">Children:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Childrens" name="txtChildren" tabindex="10" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInChildren" ng-change="toggleTFIN(withTFInChildren)" tabindex="11" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutChildren" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutChildren)" tabindex="12" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeChildren" ng-change="toggleEnvFee(withEnvFeeChildren)" tabindex="13" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeChildren" ng-change="toggleNNFee(withNNFeeChildren)" tabindex="14" />
                                    </div>

                                </div>

                            </div>


                            <!--CHIDRENS below Six-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">Children < 6:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" ng-model="bookingInfo.Header.ChildrensBelowSix" class="form-control input-sm" tabindex="15" />
                                </div>



                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInBelowSix" ng-change="toggleTFIN(withTFInBelowSix)" tabindex="16" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutBelowSix" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutBelowSix)" tabindex="17" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeBelowSix" ng-change="toggleEnvFee(withEnvFeeBelowSix)" tabindex="18" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeBelowSix" ng-change="toggleNNFee(withNNFeeBelowSix)" tabindex="19" />
                                    </div>


                                </div>

                            </div>


                            <!--INFANTS-->
                            <div class="form-group">

                                <label class="control-label col-md-2 col-xs-2">Infants:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Infants" tabindex="20" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInInfant" ng-change="toggleTFIN(withTFInInfant)" tabindex="21" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutInfant" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutInfant)" tabindex="22" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeInfant" ng-change="toggleEnvFee(withEnvFeeInfant)" tabindex="23" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeInfant" ng-change="toggleNNFee(withNNFeeInfant)" tabindex="24" />
                                    </div>

                                </div>

                            </div>
                            <!--SENIOR CITIZEN-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-1 col-xs-6">Senior:</label>
                                <div class="col-md-4 col-sm-1 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Senior" name="txtSenior" tabindex="25" />
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInSenior" ng-change="toggleTFIN(withTFInSenior)" tabindex="26" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutSenior" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutSenior)" tabindex="27" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeSenior" ng-change="toggleEnvFee(withEnvFeeSenior)" tabindex="28" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeSenior" ng-change="toggleNNFee(withNNFeeSenior)" tabindex="29" />
                                    </div>


                                </div>


                            </div>

                            <!--TOUR GUIDES-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-1 col-xs-2">Tour Guide:</label>
                                <div class="col-md-4 col-sm-1 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.TourGuides" tabindex="30" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInTourGuide" ng-change="toggleTFIN(withTFInTourGuide)" tabindex="31" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutTourGuide" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutTourGuide)" tabindex="32" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeTourGuide" ng-change="toggleEnvFee(withEnvFeeTourGuide)" tabindex="33" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeTourGuide" ng-change="toggleNNFee(withNNFeeTourGuide)" tabindex="34" />
                                    </div>

                                </div>

                            </div>

                            <!--ESCORTS-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">Escort:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Escorts" tabindex="35" />
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInEscort" ng-change="toggleTFIN(withTFInEscort)" tabindex="36" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutEscort" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutEscort)" tabindex="37" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeEscort" ng-change="toggleEnvFee(withEnvFeeEscort)" tabindex="38" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeEscort" ng-change="toggleNNFee(withNNFeeEscort)" tabindex="39" />
                                    </div>


                                </div>
                            </div>


                            <!--FoC-->
                            <div class=" form-group">
                                <label class="control-label col-md-2 col-xs-2">FoC:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.FOC" tabindex="40" />
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInFOC" ng-change="toggleTFIN(withTFInFOC)" tabindex="41" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutFOC" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutFOC)" tabindex="42" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeFOC" ng-change="toggleEnvFee(withEnvFeeFOC)" tabindex="43" />
                                    </div>

                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeFOC" ng-change="toggleNNFee(withNNFeeFOC)" tabindex="44" />
                                    </div>

                                </div>
                            </div>




                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">&nbsp;</label>
                                <div class="col-md-2 col-xs-2">
                                    &nbsp;
                                </div>




                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-1">Routing Details</label>

                                <div class="col-md-offset-1 col-md-1" hidden>
                                    <label class="radio-inline">
                                        <input type="radio" name="rdoRouting" ng-model="bookingInfo.Header.Routing" value="1" tabindex="45" /> One Way
                                    </label>
                                </div>
                                <div class="col-md-1 " hidden>
                                    <label class="radio-inline">
                                        <input type="radio" name="rdoRouting" ng-model="bookingInfo.Header.Routing" value="2" tabindex="46" /> Round Trip
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-1 col-xs-3 col-xs-offset-1 text-bold">
                                Pick-Up
                            </div>
                            <div class="col-md-offset-1 col-md-1 col-xs-3 text-bold">
                                Drop-Off
                            </div>
                            <div class="col-md-offset-2 col-md-1 col-xs-3 text-bold">
                                Flight No
                            </div>
                            <div class="col-md-1 col-xs-1 text-bold">
                                Date
                            </div>
                            <div class="col-md-offset-1 col-md-1 col-xs-1 text-bold">
                                Class
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-2 col-xs-12">Arrival</label>
                            <div class="col-md-2  col-xs-3 col-xs-offset-1 col-md-offset-0">
                                <select class="form-control input-sm" ng-model="bookingInfo.Header.PickUpArrival"
                                        ng-options="destination.ID as destination.Description for destination in destinations| filter: { Description: '!OTHERS'}" name="txtPickUpArrival" tabindex="47"></select>
                            </div>

                            <div class="col-md-4 col-xs-3">
                                <div class="col-md-6 col-xs-6 row">
                                    <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffArrival"
                                            ng-options="destination.ID as destination.Description for destination in destinations| filter: { Description: '!OTHERS'}" name="txtDropOffArrival" tabindex="48"></select>
                                </div>

                                <div class="col-md-4 col-xs-4 row">
                                    <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffLocation1"
                                            ng-options="dol.ID as dol.Name for dol in resortsAndHotels" name="txtDropOffLocation1" tabindex="49"></select>
                                </div>

                            </div>

                            <div class="col-md-pull-1 col-md-1 col-xs-2">
                                <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.FlightNo1" tabindex="50" />
                            </div>
                            <div class="col-md-pull-1 col-md-2 col-xs-3">
                                @*<input class="form-control" ng-model="bookingInfo.Header.FlightDate1" placeholder="yyyy-mm-dd HH:mm"
                    format="YYYY-MM-DD HH:mm" keyboard="true"
                    ng-model-options="{ updateOn: 'blur' }"
                    moment-picker="bookingInfo.Header.FlightDate1" name="txtFlightDate1" tabindex="51" />*@

                                <input type="text" class="form-control" ng-model="bookingInfo.Header.FlightDate1" name="txtFlightDate1" model-view-value="true" tabindex="51" ui-mask="99/99/9999 99:99" placeholder="MM/DD/YYYY HH:mm" ui-mask-placeholder ui-mask-placeholder-char="_" />


                            </div>
                            <div class="col-md-pull-1 col-md-1">
                                <select class="form-control" ng-options="cRate.ID as cRate.Description for cRate in classRate" ng-model="bookingInfo.Header.Class" name="txtClass">
                                    <option></option>
                                </select>
                            </div>


                        </div>


                        <div class="form-group">
                            <div ng-show="bookingInfo.Header.Routing==2">

                                <label class="control-label col-md-2 col-xs-12">Departure</label>
                                <div class="col-md-2  col-xs-3 col-xs-offset-1 col-md-offset-0">
                                    <select class="form-control input-sm" ng-model="bookingInfo.Header.PickUpDeparture"
                                            ng-options="destination.ID as destination.Description for destination in destinations| filter: { Description: '!OTHERS'}" name="txtPickUpDeparture" tabindex="52"></select>
                                </div>

                                <div class="col-md-4 col-xs-3">
                                    <div class="col-md-6 col-xs-6 row">
                                        <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffDeparture"
                                                ng-options="destination.ID as destination.Description for destination in destinations| filter: { Description: '!OTHERS'}" name="txtDropOffDeparture" tabindex="53"></select>
                                    </div>

                                    <div class="col-md-4 col-xs-4 row">
                                        <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffLocation2"
                                                ng-options="dol.ID as dol.Name for dol in resortsAndHotels" tabindex="54" name="txtDropOffLocation2"></select>
                                    </div>
                                </div>

                                <div class="col-md-pull-1 col-md-1 col-xs-2">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.FlightNo2" tabindex="55" />
                                </div>
                                <div class="col-md-pull-1 col-md-2 col-xs-3">

                                    @*<input class="form-control" ng-model="bookingInfo.Header.FlightDate2" placeholder="yyyy-mm-dd HH:mm"
                        format="YYYY-MM-DD HH:mm" keyboard="true"
                        ng-model-options="{ updateOn: 'blur' }"
                        moment-picker="bookingInfo.Header.FlightDate2" name="txtFlightDate2" tabindex="56" />*@


                                    <input type="text" class="form-control" ng-model="bookingInfo.Header.FlightDate2" name="txtFlightDate2" model-view-value="true" tabindex="56" ui-mask="99/99/9999 99:99" placeholder="MM/DD/YYYY HH:mm" ui-mask-placeholder ui-mask-placeholder-char="_" />


                                </div>
                                <div class="col-md-pull-1 col-md-1">
                                    <select class="form-control" ng-options="cRate.ID as cRate.Description for cRate in classRate" tabindex="57" ng-model="bookingInfo.Header.Class2" name="txtClass2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group" hidden>
                            <label class="control-label col-md-1">Other Charges</label>
                            <div class="col-md-11">
                                <br />
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <div class="col-md-offset-2 col-md-10">
                                <div ng-repeat="charge in otherCharges">
                                    <label class="checkbox-inline" ng-show="charge.ChargingID>4 "><input type="checkbox" ng-model="charge.IsChecked" />{{charge.ChargeDescription}}</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">
                                Attachments
                            </label>
                            <div class="col-md-offset-1 col-md-2">
                                <input type="button" value="Attach File" ng-click="uploadFiles()" tabindex="57" />
                            </div>
                            <div class="col-md-7">
                                <label ng-repeat="attachment in bookingInfo.Attachments">{{attachment.OriginalFilename}};&nbsp;&nbsp;</label>
                            </div>
                        </div>



                        @if (agent.Type == 2 || agent.Type == 3)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-1">Payment Type:</label>
                                <div class="col-md-5">
                                    <select class="form-control" ng-model="bookingInfo.Header.PaymentTypeID" ng-options="payType.ID as payType.Description for payType in paymentTypes" name="txtPaymentType"></select>


                                </div>
                            </div>
                        }
                        <div class="form-group pull-right">
                            <div class="col-md-12">
                                <input type="button" value="Compute" ng-click="computeBooking()" class="btn btn-default btn-lg" />
                                <input type="button" value="Clear" class="btn btn-default btn-lg" ng-click="clearBooking()" />
                            </div>
                        </div>
                    </form>



                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>





    </div>

    <div class="row">


        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Summary</h3>
                </div>
                <!-- /.box-header -->
                <div class="table-responsive">
                    <div class="col-md-12">
                        <form class="form-horizontal" ng-validate="{rules: {
                              txtChargingName:{required:true},
                          txtChargingQuantity:{required:true,digits:true,min:1},
                          txtChargingPrice:{required:true,number:true}

                          } }" name="frmItenerary">


                            @if (agent.Type == 2 || agent.Type==3)
                            {
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <td>Actions</td>
                                            <td>Charging Name</td>
                                            <td>Quantity</td>
                                            <td>Unit Price</td>
                                            <td>Boat</td>
                                            <td>Gross Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detail in bookingDetails" ng-init="computeGrandTotal(detail);">
                                            <td><a class="btn btn-sm btn-danger" ng-click="deleteItem(bookingDetails.indexOf(detail))"><i class="glyphicon glyphicon-trash"></i></a></td>
                                            <td>
                                                <div ng-switch="detail.IsItenerary">
                                                    <div ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="detail.Description" name="txtChargingName" />
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{detail.Description}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div ng-switch="detail.IsItenerary">
                                                    <div ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="detail.Quantity" name="txtChargingQuantity" />
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{detail.Quantity}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div ng-switch="detail.IsItenerary">
                                                    <div ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="detail.Amount" name="txtChargingPrice" />
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{detail.Amount|number:2}}
                                                    </div>
                                                </div>

                                            </td>
                                            <td class="text-right">{{detail.Boat}}</td>
                                            <td class="text-right">{{parseNumber(detail.Quantity) * (parseNumber(detail.Amount) + parseNumber(detail.Boat))|number:2}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6"><a class="btn btn-sm btn-primary" ng-click="addItenerary()"><i class="glyphicon glyphicon-plus-sign"></i>Add Itenerary</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td colspan="2" style="background-color:#808080;color:white;font-weight:500;">GRAND TOTAL</td>
                                            <td class="text-right text-bold">{{grandTotal|number:2}}</td>
                                        </tr>

                                    </tfoot>
                                </table>
                            }
                            else
                            {

                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <td>Actions</td>
                                            <td>Charging Name</td>
                                            <td>Quantity</td>
                                            <td>Unit Price</td>
                                            <td>Gross Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detail in bookingDetails" ng-init="computeGrandTotal(detail)">
                                            <td><a class="btn btn-sm btn-danger" ng-click="deleteItem(bookingDetails.indexOf(detail))"><i class="glyphicon glyphicon-trash"></i></a></td>
                                            <td>
                                                <div ng-switch="detail.IsItenerary">
                                                    <div ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="detail.Description" name="txtChargingName" />
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{detail.Description}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div ng-switch="detail.IsItenerary">
                                                    <div ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="detail.Quantity" name="txtChargingQuantity" />
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{detail.Quantity}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div ng-switch="detail.IsItenerary">
                                                    <div ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="detail.Amount" name="txtChargingPrice" />
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{parseNumber(detail.Amount)+parseNumber(detail.Boat)|number:2}}
                                                    </div>
                                                </div>

                                            </td>
                                            <td class="text-right">{{parseNumber(detail.Quantity) * (parseNumber(detail.Amount) + parseNumber(detail.Boat))|number:2}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5"><a class="btn btn-sm btn-primary" ng-click="addItenerary()"><i class="glyphicon glyphicon-plus-sign"></i>Add Itenerary</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2" style="background-color:#808080;color:white;font-weight:500;">GRAND TOTAL</td>
                                            <td class="text-right text-bold">{{grandTotal|number:2}}</td>
                                        </tr>
                                    </tfoot>
                                </table>

                            }



                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>





    </div>
    <div class="row">


        <div class="col-md-12">
            <div class="row pull-right">

                <input type="button" value="Quotation" class="btn btn-success btn-lg" ng-click="generateQuotation()" />
                <input type="button" value="Save" ng-click="createBooking(9,frmBooking,frmItenerary)" class="btn btn-success btn-lg" />
                <input type="button" value="Submit" ng-click="createBooking(0,frmBooking,frmItenerary)" class="btn btn-success btn-lg" />
                <input type="button" value="Cancel" class="btn btn-warning btn-lg" onclick="javascript:location.reload(true)" />
            </div>
        </div>
    </div>
</div>








@section scripts{

    <script type="text/javascript">


        var bookingID = '@ViewBag.BookID';
        var paymentTypeID='@(agent.PaymentTypeID)';
    </script>
    <script type="text/javascript" src="~/Scripts/custom/booking.js?v=4"></script>

    @*<script type="text/javascript">



            App.controller("createBookingController", ['$scope', '$http', 'jsonFilter', 'FileUploader', '$timeout', '$filter', function ($scope, $http, jsonFilter, FileUploader, $timeout, $filter) {
                var logResult = function (str, data, status, headers, config) {
                    console.log(data);
                };

                $scope.grandTotal=0;

                $scope.computeGrandTotal = function(itenerary){

                    $scope.grandTotal+=itenerary.Quantity * (itenerary.Amount+ parseFloat(itenerary.Boat||0));


                }


                $scope.parseNumber= function(val){

                    return parseFloat(val||0);
                }


                $scope.bookingDetails = [];
                $scope.bookingInfo = {
                    Header: {

                        GroupName: "",
                        ContactPerson: "",
                        ContactNumber: "",
                        Remarks: "",
                        CVNumber: "",
                        Adults: null,
                        Childrens: null,
                        Infants: null,
                        Senior:null,
                        TourGuides: null,
                        Escorts: null,
                        FOC: null,
                        Routing: 1,
                        PickUpArrival: null,
                        DropOffArrival: null,
                        CreatedBy: 0,
                        DropOffLocation: null,
                        PickUpDeparture: null,
                        DropOffDeparture: null,
                        FlightNo1: null,
                        FlightNo2: null,
                        FlightDate1: null,
                        FlightDate2: null,
                        Total: null,
                        Status: 1,
                        PaymentTypeID: @((int)agent.PaymentTypeID)
                        },
                    Details: {},
                    Attachments: null,
                    //Detail: {[
                    //    ID: 0,
                    //    BookingID: 0,
                    //    Description: "",
                    //    Amount: 0,
                    //    Quantity: 0
                    //]},

                    OCs: {}

                };

                $scope.destinations = null;
                $scope.otherCharges = null;
                $scope.bookingAttachments = null;
                $scope.OCs = [];

                $scope.paymentTypes = [{ ID: 1, Description: "FOR BILLING" }, { ID: 2, Description: "BOOK AND BUY" }, { ID: 3, Description: "ADVANCE PAYMENT" }];
                $scope.dropOffLocations = [{ ID: "RESORT", Description: "RESORT" }, { ID: "OTHERS", Description: "OTHERS" }];

                //TOGGLE TF IN
                $scope.toggleTFIN = function (value) {
                    if (value) {
                        $scope.otherCharges[0].IsChecked = true;
                    }

                }

                //TOGGLE TF OUT
                $scope.toggleTFOUT = function (value) {

                    if (value) {
                        $scope.otherCharges[1].IsChecked = true;
                    }

                }


                //TOGGLE ENV FEE
                $scope.toggleEnvFee = function (value) {

                    if (value) {
                        $scope.otherCharges[2].IsChecked = true;
                    }

                }



                //TOGGLE NN FEE
                $scope.toggleNNFee=function(value){
                    if (value) {
                        $scope.otherCharges[3].IsChecked = true;
                    }
                }


                //GET DESTINATIONS
                $scope.getDestinations = function () {
                    $http.get("/Destinations/GetDestinations")
                                         .success(function (data, status, headers, config) {

                                             logResult("GET SUCCESS", data, status, headers, config);
                                             $scope.destinations = data;


                                         }).error(function (data, status, headers, config) {
                                             logResult("GET ERROR", data, status, headers, config);


                                         });

                    $scope.getOtherCharges();

                };


                //GET INITIAL CHARGES
                $scope.getOtherCharges = function () {
                    $http.get("/Booking/GetInitialOtherCharges")
                                         .success(function (data, status, headers, config) {

                                             logResult("GET SUCCESS", data, status, headers, config);
                                             $scope.otherCharges = data;


                                         }).error(function (data, status, headers, config) {
                                             logResult("GET ERROR", data, status, headers, config);


                                         });

                };

                //UPLOAD FILES
                $scope.uploadFiles = function (detailID, index) {


                    $('#myModal').modal('show');

                };


                //COMPUTE BOOKING
                $scope.computeBooking = function () {

                    var itenerariesTemp = $filter('filter')($scope.bookingDetails,{IsItenerary:true});
                    $scope.bookingDetails = [];
                    $scope.bookingDetails = itenerariesTemp;


                    $scope.grandTotal=0;
                    var isValid = true;

                    var numberOfPerson = parseFloat($scope.bookingInfo.Header.Senior || 0) + parseFloat($scope.bookingInfo.Header.Adults || 0) +
                       parseFloat($scope.bookingInfo.Header.Childrens || 0) ;

                    var numberOfChildren = parseFloat($scope.bookingInfo.Header.Childrens || 0) + parseFloat($scope.bookingInfo.Header.ChildrensBelowSix || 0);

                    // alert(numberOfChildren);


                    if (!isValid) {
                        return;
                    }



                    var numberOfPersonsTFIn = 0;
                    var numberOfPersonsTFOut = 0;
                    var numberOfPersonsEnvFee = 0;
                    var numberOfPersonsNNFee=0;

                    var OC = [];
                    var i = 0;



                    //NN FEE COUNTS

                    if ($scope.withNNFeeTourGuide) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.TourGuides || 0);
                        OC[i] = "withNNFeeTourGuide";
                        i++;
                    }
                    if ($scope.withNNFeeEscort) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.Escorts || 0);
                        OC[i] = "withNNFeeEscort";
                        i++;
                    }
                    if ($scope.withNNFeeFOC) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.FOC || 0);
                        OC[i] = "withNNFeeFOC";
                        i++;
                    }
                    if ($scope.withNNFeeBelowSix) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.ChildrensBelowSix || 0);
                        OC[i] = "withNNFeeBelowSix";
                        i++;
                    }

                    if ($scope.withNNFeeSenior) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.Senior || 0);
                        OC[i] = "withNNFeeSenior";
                        i++;
                    }
                    if ($scope.withNNFeeAdult) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.Adults || 0);
                        OC[i] = "withNNFeeAdult";
                        i++;
                    }
                    if ($scope.withNNFeeChildren) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.Childrens || 0);
                        OC[i] = "withNNFeeChildren";
                        i++;
                    }
                    if ($scope.withNNFeeInfant) {
                        numberOfPersonsNNFee += parseFloat($scope.bookingInfo.Header.Infants || 0);
                        OC[i] = "withNNFeeInfant";
                        i++;
                    }


                    if ($scope.withTFInTourGuide) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.TourGuides || 0);
                        OC[i] = "withTFInTourGuide";
                        i++;
                    }
                    if ($scope.withTFInEscort) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.Escorts || 0);
                        OC[i] = "withTFInEscort";
                        i++;
                    }
                    if ($scope.withTFInFOC) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.FOC || 0);
                        OC[i] = "withTFInFOC";
                        i++;
                    }
                    if ($scope.withTFInBelowSix) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.ChildrensBelowSix || 0);
                        OC[i] = "withTFInBelowSix";
                        i++;
                    }

                    if ($scope.withTFInSenior) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.Senior || 0);
                        OC[i] = "withTFInSenior";
                        i++;
                    }
                    if ($scope.withTFInAdult) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.Adults || 0);
                        OC[i] = "withTFInAdult";
                        i++;
                    }
                    if ($scope.withTFInChildren) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.Childrens || 0);
                        OC[i] = "withTFInChildren";
                        i++;
                    }
                    if ($scope.withTFInInfant) {
                        numberOfPersonsTFIn += parseFloat($scope.bookingInfo.Header.Infants || 0);
                        OC[i] = "withTFInInfant";
                        i++;
                    }


                    if ($scope.bookingInfo.Header.Routing == 2) {

                        if ($scope.withTFOutTourGuide) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.TourGuides || 0);
                            OC[i] = "withTFOutTourGuide";
                            i++;
                        }
                        if ($scope.withTFOutEscort) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.Escorts || 0);
                            OC[i] = "withTFOutEscort";
                            i++;
                        }
                        if ($scope.withTFOutFOC) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.FOC || 0);
                            OC[i] = "withTFOutFOC";
                            i++;
                        }
                        if ($scope.withTFOutBelowSix) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.ChildrensBelowSix || 0);
                            OC[i] = "withTFOutBelowSix";
                            i++;
                        }


                        if ($scope.withTFOutSenior) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.Senior || 0);
                            OC[i] = "withTFOutSenior";
                            i++;
                        }
                        if ($scope.withTFOutAdult) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.Adults || 0);
                            OC[i] = "withTFOutAdult";
                            i++;
                        }
                        if ($scope.withTFOutChildren) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.Childrens || 0);
                            OC[i] = "withTFOutChildren";
                            i++;
                        }
                        if ($scope.withTFOutInfant) {
                            numberOfPersonsTFOut += parseFloat($scope.bookingInfo.Header.Infants || 0);
                            OC[i] = "withTFOutInfant";
                            i++;
                        }


                    }


                    if ($scope.withEnvFeeTourGuide) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.TourGuides || 0);
                        OC[i] = "withEnvFeeTourGuide";
                        i++;
                    }
                    if ($scope.withEnvFeeEscort) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.Escorts || 0);
                        OC[i] = "withEnvFeeEscort";
                        i++;
                    }
                    if ($scope.withEnvFeeFOC) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.FOC || 0);
                        OC[i] = "withEnvFeeFOC";
                        i++;
                    }
                    if ($scope.withEnvFeeBelowSix) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.ChildrensBelowSix || 0);
                        OC[i] = "withEnvFeeBelowSix";
                        i++;
                    }


                    if ($scope.withEnvFeeSenior) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.Senior || 0);
                        OC[i] = "withEnvFeeSenior";
                        i++;
                    }
                    if ($scope.withEnvFeeAdult) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.Adults || 0);
                        OC[i] = "withEnvFeeAdult";
                        i++;
                    }
                    if ($scope.withEnvFeeChildren) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.Childrens || 0);
                        OC[i] = "withEnvFeeChildren";
                        i++;
                    }
                    if ($scope.withEnvFeeInfant) {
                        numberOfPersonsEnvFee += parseFloat($scope.bookingInfo.Header.Infants || 0);
                        OC[i] = "withEnvFeeInfant";
                        i++;
                    }


                    var OCd = {
                        //ID: 0,
                        //BookingID: 0,
                        OC: OC

                    };


                    $scope.OCs = OC;

                    //COMPUTE OTHER CHARGES

                    for (var i = 0; i < $scope.otherCharges.length; i++) {


                        if ($scope.otherCharges[i].IsChecked) {

                            var numberOfPersonFinal = 0;

                            if (i == 0) {
                                numberOfPersonFinal = numberOfPersonsTFIn;
                            } else if (i == 1) {
                                numberOfPersonFinal =  numberOfPersonsTFOut;
                            } else if (i == 2) {
                                numberOfPersonFinal =  numberOfPersonsEnvFee;

                            } else if (i == 3) {
                                numberOfPersonFinal =  numberOfPersonsNNFee;
                            }
                            else {
                                numberOfPersonFinal = numberOfPerson;
                            }

                            var chargeDetail = {
                                //ID: 0,
                                //BookingID: 0,
                                Description: $scope.otherCharges[i].ChargeDescription,
                                Amount: $scope.otherCharges[i].Amount,
                                Quantity: numberOfPersonFinal,
                                Boat:0
                            };

                            $scope.bookingDetails.push(chargeDetail);
                        }
                    }

                    if ($scope.bookingInfo.Header.FOC > 0) {
                        var chargeDetail = {
                            //ID: 0,
                            //BookingID: 0,
                            Description: "Free-of-charge",
                            Amount: 0,
                            Boat:0,
                            Quantity: $scope.bookingInfo.Header.FOC
                        };

                        $scope.bookingDetails.push(chargeDetail);
                    }



                    //SENIOR CITIZEN RATE
                    if ($scope.bookingInfo.Header.Senior > 0) {
                        var adultRate = $scope.getRates($scope.bookingInfo.Header.PickUpArrival, $scope.bookingInfo.Header.DropOffArrival, 1, $scope.bookingInfo.Header.Senior,$scope.bookingInfo.Header.FlightDate1);

                        adultRate.success(function (response) {

                            if (response.Result == "ERROR") {
                                toastr.error(response.Message, "");
                                isValid = false;
                                throw response.Message;
                                return;

                            } else {
                                var chargeDetail = {
                                    //ID: 0,
                                    //BookingID: 0,
                                    Description: response.Record.PickUpLocation + " - " + response.Record.DropOffLocation + "  (SENIOR CITIZEN)",
                                    Amount: response.Record.Amount * (1 - 0.20),
                                    Quantity: $scope.bookingInfo.Header.Senior,
                                    Boat: response.Record.Boat * (1 - 0.20)
                                };

                                $scope.bookingDetails.push(chargeDetail);
                                isValid = true;
                            }

                        });

                        if ($scope.bookingInfo.Header.Routing == 2) {
                            var adultRate2 = $scope.getRates($scope.bookingInfo.Header.PickUpDeparture, $scope.bookingInfo.Header.DropOffDeparture, 1, $scope.bookingInfo.Header.Senior,$scope.bookingInfo.Header.FlightDate2);


                            adultRate2.success(function (response) {



                                if (response.Result == "ERROR") {
                                    toastr.error(response.Message, "");
                                    isValid = false;
                                    throw response.Message;
                                    return;
                                } else {
                                    var chargeDetail = {
                                        //ID: 0,
                                        //BookingID: 0,
                                        Description: response.Record.PickUpLocation + " - " + response.Record.DropOffLocation + "  (SENIOR CITIZEN)",
                                        Amount: response.Record.Amount * (1 - 0.20),
                                        Quantity: $scope.bookingInfo.Header.Senior,
                                        Boat: response.Record.Boat * (1 - 0.20),
                                    };

                                    $scope.bookingDetails.push(chargeDetail);
                                    isValid = true;

                                }

                            });


                        }

                    }



                    if ($scope.bookingInfo.Header.Adults > 0) {
                        var adultRate = $scope.getRates($scope.bookingInfo.Header.PickUpArrival, $scope.bookingInfo.Header.DropOffArrival, 1, $scope.bookingInfo.Header.Adults,$scope.bookingInfo.Header.FlightDate1);



                        adultRate.success(function (response) {

                            if (response.Result == "ERROR") {
                                toastr.error(response.Message, "");
                                isValid = false;
                                return false;
                            } else {
                                var chargeDetail = {
                                    //ID: 0,
                                    //BookingID: 0,
                                    Description: response.Record.PickUpLocation + " - " + response.Record.DropOffLocation + " (ADULT)",
                                    Amount: response.Record.Amount,
                                    Quantity: $scope.bookingInfo.Header.Adults,
                                    Boat: response.Record.Boat
                                };

                                $scope.bookingDetails.push(chargeDetail);
                                isValid = true;
                                return true;
                            }

                        });



                        if ($scope.bookingInfo.Header.Routing == 2) {
                            var adultRate2 = $scope.getRates($scope.bookingInfo.Header.PickUpDeparture, $scope.bookingInfo.Header.DropOffDeparture, 1, $scope.bookingInfo.Header.Adults,$scope.bookingInfo.Header.FlightDate2);


                            adultRate2.success(function (response) {

                                if (response.Result == "ERROR") {
                                    toastr.error(response.Message, "");
                                    isValid = false;
                                    return;
                                } else {
                                    var chargeDetail = {
                                        //ID: 0,
                                        //BookingID: 0,
                                        Description: response.Record.PickUpLocation + " - " + response.Record.DropOffLocation + " (ADULT)",
                                        Amount: response.Record.Amount,
                                        Quantity: $scope.bookingInfo.Header.Adults,
                                        Boat: response.Record.Boat
                                    };

                                    $scope.bookingDetails.push(chargeDetail);
                                    isValid = true;

                                }

                            });


                        }

                    }

                    if ($scope.bookingInfo.Header.Childrens > 0) {
                        var childrensRate = $scope.getRates($scope.bookingInfo.Header.PickUpArrival, $scope.bookingInfo.Header.DropOffArrival, 2, $scope.bookingInfo.Header.Childrens,$scope.bookingInfo.Header.FlightDate1);

                        childrensRate.success(function (response) {

                            if (response.Result == "ERROR") {
                                toastr.error(response.Message, "");
                                isValid = false;
                                throw response.Message;
                                return;
                            } else {
                                var chargeDetail = {
                                    //ID: 0,
                                    //BookingID: 0,
                                    Description: response.Record.PickUpLocation + " - " + response.Record.DropOffLocation + " (CHILDREN)",
                                    Amount: response.Record.Amount,
                                    Boat: response.Record.Boat,
                                    Quantity: numberOfChildren//$scope.bookingInfo.Header.Childrens
                                };

                                $scope.bookingDetails.push(chargeDetail);
                                isValid = true;

                            }

                        });


                        if ($scope.bookingInfo.Header.Routing == 2) {
                            var childrensRate2 = $scope.getRates($scope.bookingInfo.Header.PickUpDeparture, $scope.bookingInfo.Header.DropOffDeparture, 2, $scope.bookingInfo.Header.Childrens,$scope.bookingInfo.Header.FlightDate2);

                            childrensRate2.success(function (response) {

                                if (response.Result == "ERROR") {
                                    toastr.error(response.Message, "");
                                    isValid = false;
                                    throw response.Message;
                                    return;
                                } else {
                                    var chargeDetail = {
                                        //ID: 0,
                                        //BookingID: 0,
                                        Description: response.Record.PickUpLocation + " - " + response.Record.DropOffLocation + + " (CHILDREN)",
                                        Amount: response.Record.Amount,
                                        Boat:response.Record.Boat,
                                        Quantity: numberOfChildren//$scope.bookingInfo.Header.Childrens
                                    };

                                    $scope.bookingDetails.push(chargeDetail);
                                    isValid = true;

                                }

                            });

                        }

                    }
                }

                //GET RATE
                $scope.getRates = function (pickUp, dropOff, passengerType, quantity,flightdate) {

                    return $http.post("/Booking/GetRate", { id: 0, pickUp: pickUp, dropOff: dropOff, type: passengerType, agentID: $scope.bookingInfo.Header.CreatedBy,date: flightdate})
                                          .success(function (response) {

                                              // logResult("GET SUCCESS", data, status, headers, config);




                                              //var chargeDetail = {
                                              //    //ID: 0,
                                              //    //BookingID: 0,
                                              //    Description: data.Record.PickUpLocation + " - " + data.Record.DropOffLocation,
                                              //    Amount: data.Record.Amount,
                                              //    Quantity: quantity
                                              //};

                                              //  $scope.bookingDetails.push(chargeDetail);
                                              return response;




                                          }).error(function (data, status, headers, config) {
                                              logResult("GET ERROR", data, status, headers, config);


                                          });

                };


                //DELETE ITEM
                $scope.deleteItem = function (index) {

                    // alert(1);
                    $timeout(function () {
                        $scope.bookingDetails.splice(index, 1);
                    });


                    //setTimeout(function () {
                    //    $scope.$apply(function () {
                    //        $scope.bookingDetails.splice(index, 1);
                    //    });
                    //}, 500);

                }

                $scope.clearBooking = function () {
                    $scope.grandTotal=0;
                    $scope.bookingDetails = [];
                };
                //CREATE BOOKING
                $scope.createBooking = function (status, form, formItenerary) {

                    //FORM VALIDATION
                    if (!(form.validate() && formItenerary.validate())) {
                        return;
                    }



                    if (status == 0) {
                        if (!confirm("Are you sure you want to submit this booking? Once submitted, booking will be for confirmation of ISE and can't be edited anymore "))
                            return false;
                    }
                    $scope.bookingInfo.Header.Status = status;
                    $scope.bookingInfo.Details = $scope.bookingDetails;
                    $scope.bookingInfo.OtherCharges = $scope.otherCharges;
                    $scope.bookingInfo.OCs = $scope.OCs;

                    //$scope.bookingInfo.Header.FlightDate1 =  moment($scope.bookingInfo.Header.FlightDateOnly1,'YYYY-MM-DD') + " " +  moment($scope.bookingInfo.Header.FlightTimeOnly1,'HH:mm');

                    //console.log($scope.bookingInfo.Header.FlightDate1);

                    //if($scope.bookingInfo.Header.Routing==2){
                    //    $scope.bookingInfo.Header.FlightDate2 =  $scope.bookingInfo.Header.FlightDateOnly2 + " " +  $scope.bookingInfo.Header.FlightTimeOnly2;
                    //}


                    var data = JSON.stringify($scope.bookingInfo);
                    var config = {

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                    };

                    $http.post("/Booking/Book", data, config)
                                        .success(function (data, status, headers, config) {

                                            logResult("GET SUCCESS", data, status, headers, config);

                                            if (data.Result == "ERROR") {
                                                toastr.error(data.Message, "");
                                                return;
                                            }

                                            toastr.success("Saved!", "");

                                            window.location.href = "/";


                                        }).error(function (data, status, headers, config) {
                                            logResult("GET ERROR", data, status, headers, config);


                                        });

                };


                //GENERATE QUOTATION
                $scope.generateQuotation = function () {

                    $scope.bookingInfo.Details = $scope.bookingDetails;
                    $scope.bookingInfo.OtherCharges = $scope.otherCharges;
                    var data = JSON.stringify($scope.bookingInfo);
                    var config = {

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                    };


                    $http.post("/Booking/Quotation", data, config)
                                       .success(function (data, status, headers, config) {

                                           logResult("GET SUCCESS", data, status, headers, config);

                                           if (data.Result == "ERROR") {
                                               toastr.error(data.Message, "");
                                               return;
                                           }

                                           // window.location.href = "/Booking/QuotationPrint/" + data.File;

                                           //toastr.success("Saved!", "");

                                           var w = 1024;
                                           var h = 768;


                                           var url = '/Reports/Quotation.aspx?id=' + data.File;

                                           //  var url = '/Booking/QuotationPrint/' + data.File;
                                           var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
                                           var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

                                           width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
                                           height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
                                           var title = "";
                                           var left = ((width / 2) - (w / 2)) + dualScreenLeft;
                                           var top = ((height / 2) - (h / 2)) + dualScreenTop;
                                           newWindow = window.open(url, title, 'scrollbars=no,resizable=no,fullscreen=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);


                                           if (window.focus) {




                                           }



                                       }).error(function (data, status, headers, config) {
                                           logResult("GET ERROR", data, status, headers, config);


                                       });




                };


                //GET LIST OF AGENTS
                $scope.getAgents = function () {


                    var config = {

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                    };

                    var agentData = JSON.stringify({ activeOnly: true, agentType: 1 });

                    $http.post("/Agents/Get", agentData, config)
                                       .success(function (data, status, headers, config) {

                                           logResult("GET SUCCESS", data, status, headers, config);

                                           if (data.Result == "ERROR") {
                                               toastr.error(data.Message, "");
                                               return;
                                           }

                                           $scope.agentsList = data;

                                           $scope.agentsList.push({
                                               ContactNumber: "NO CONTACT",
                                               CreditLimit: 500000,
                                               DateCreated: "2016-09-07 04:00:28",
                                               DateLastUpdated: "2016-09-07 05:35:57",
                                               Email: "",
                                               FirstName: "---WALK IN---",
                                               Company: "---WALK IN---",
                                               ID: 0,
                                               IsActive: 1,
                                               LastName: "",
                                               MonthToDateAmount: 0,
                                               RemainingCredit: 500000,
                                               Type: 1,
                                               YearToDateAmount: 0,
                                               PaymentTypeID: 2
                                           });



                                       }).error(function (data, status, headers, config) {
                                           logResult("GET ERROR", data, status, headers, config);


                                       });

                }


                $scope.changePaymentType = function (agentID) {

                    var agent = $filter("filter")($scope.agentsList, { ID: agentID })[0];

                    $scope.bookingInfo.Header.PaymentTypeID = agent.PaymentTypeID;


                };



                //ADD ITENERARY
                $scope.addItenerary = function () {


                    var chargeDetail = {
                        //ID: 0,
                        //BookingID: 0,
                        Description: "",
                        Amount: "",
                        Quantity: 0,
                        Boat:0,
                        IsItenerary: true
                    };

                    $scope.bookingDetails.push(chargeDetail);



                }



                //GET ALL OTHER CHARGES
                $scope.getAllResortsAndHotels = function () {


                    $http.post("/ResortsAndHotels/GetResortsAndHotels").success(function (data, status, headers, config) {

                        logResult("GET SUCCESS", data, status, headers, config);

                        $scope.resortsAndHotels = data;


                    }).error(function (data, status, headers, config) {
                        logResult("GET ERROR", data, status, headers, config);


                    });

                };



            }]);


        </script>*@
}