﻿
@{
    ViewBag.Title = "Dashboard";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}

<div ng-controller="bookingSummaryController" ng-init="getBookigSummary()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">DashBoard</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-6">
                        <h4>Booking Summary</h4>


                        <dl class="dl-horizontal">
                            <dt>Bookings</dt>
                            <dd>{{bookingSummary.Bookings}}</dd>
                            <dt>Confirmed</dt>
                            <dd>{{bookingSummary.Confirmed}}</dd>
                            <dt>Finalized</dt>
                            <dd>{{bookingSummary.Finalized}}</dd>
                            <dt>Cancelled</dt>
                            <dd>{{bookingSummary.Cancelled}}</dd>

                        </dl>


                    </div>

                    <div class="col-md-6">


                        <h4>Account Summary</h4>

                        <dl class="dl-horizontal">
                            <dt>Credit Limit:</dt>
                            <dd>{{bookingSummary.CreditLimit|number:2}}</dd>
                            <dt>Remaining Credit:</dt>
                            <dd>{{bookingSummary.RemainingCredit|number:2}}</dd>


                        </dl>

                    </div>


                </div>




            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>






</div>



@section scripts{

    <script type="text/javascript">


        App.controller("bookingSummaryController", ['$scope', '$http', 'jsonFilter', 'FileUploader', function ($scope, $http, jsonFilter, FileUploader, $uibModal) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };


            //GET BOOKING SUMMARY
            $scope.getBookigSummary = function () {


                $http.post("/Booking/GetBookingSummary")
                      .success(function (data, status, headers, config) {

                          logResult("GET SUCCESS", data, status, headers, config);
                          $scope.bookingSummary = data;


                      }).error(function (data, status, headers, config) {
                          logResult("GET ERROR", data, status, headers, config);


                      });



            }


        }]);





    </script>



}