﻿@{

    ViewBag.Title = "Home";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="listBookingController" ng-init="getDestinations()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Booking</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <div class="col-md-12">
                        <a class="btn btn-sm btn-primary" href="/Booking/Create"><i class="glyphicon glyphicon-plus"> </i>Create</a>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Keyword:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="keywordSearch">


                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Status:</label>
                                <div ng-dropdown-multiselect="" options="bookingStatus" selected-model="selectedStatus" extra-settings="ddSettings" class="col-md-4"></div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Date:</label>
                                <div class="col-md-2">
                                    <input class="form-control" ng-model="fromDate" placeholder="yyyy-mm-dd"
                                           format="YYYY-MM-DD" keyboard="true"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           max-date="toDate"
                                           moment-picker="fromDate" name="txtFromDate" />
                                </div>

                                <div class="col-md-2">
                                    <input class="form-control" ng-model="toDate" placeholder="yyyy-mm-dd"
                                           format="YYYY-MM-DD" keyboard="true"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           min-date="fromDate"
                                           moment-picker="toDate" name="toDate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <button class="btn btn-default" ng-click="getBooking(1)">Search</button>
                                </div>
                            </div>


                        </form>

                    </div>
                    <div class="col-md-12">
                        
                      

                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>Booking #</td>
                                    <td>CV #</td>
                                    <td>Arrival Date</td>
                                    <td>Departure Date</td>
                                    <td>Class</td>
                                    <td>Customer Name</td>
                                    <td>Passenger</td>
                                    <td>Amount</td>
                                    <td>Pick-up</td>
                                    <td>Drop-off</td>
                                    <td>Status</td>
                                    <td>Agency</td>
                                    <td>Created By</td>
                                    <td>Confirmed By</td>
                                    <td>Finalized By</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr dir-paginate="book in bookings|itemsPerPage:10" current-page="currentPage" total-items="totalCount" ng-cloak>
                                    <td><a href="/Booking/View/{{book.ID}}">{{book.ID}}</a></td>
                                    <td>{{book.CVNumber}}</td>
                                    <td>{{book.FlightDate1}}</td>
                                    <td>{{book.FlightDate2}}</td>
                                    <td>{{(classRate|filter:{'ID':book.Class}:true)[0].Description}}</td>
                                    <td>{{book.GroupName}}</td>
                                    <td class="text-right">{{book.Adults + book.Childrens + book.ChildrensBelowSix + book.FOC}}</td>
                                    <td class="text-right">{{book.Total|number:2}}</td>
                                    <td>
                                        <div ng-if="book.FlightDate1!=null">
                                            {{(destinations|filter:{'ID':book.PickUpArrival}:true)[0].Description}}
                                        </div><br />
                                        <div ng-if="book.FlightDate2!=null">
                                            {{(destinations|filter:{'ID':book.PickUpDeparture}:true)[0].Description}}
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="book.FlightDate1!=null">

                                            {{(destinations|filter:{'ID':book.DropOffArrival}:true)[0].Description}}
                                        </div> <br />
                                        <div ng-if="book.FlightDate2!=null">
                                            {{(destinations|filter:{'ID':book.DropOffDeparture}:true)[0].Description}}
                                        </div>

                                    </td>
                                    <td><label class="label label-{{book.Status}}" >{{(bookingStatus|filter:{'ID':book.Status}:true)[0].Description}}</label></td>
                                    <td>{{book.Agency.Company}}</td>
                                    <td>{{getCreation(book.Logs)}}</td>
                                    <td>{{getConfirmation(book.Logs)}}</td>
                                    <td>{{getFinalization(book.Logs)}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="14">
                                        <div class="grid-msg-overlay " ng-if="loading" ng-cloak style="">
                                            <div class="msg">
                                                <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <dir-pagination-controls max-size="10"
                                                 on-page-change="getBooking(newPageNumber)"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                        <div class="range-label">Displaying {{1+((pageNumber-1)*10)}} - {{ ((pageNumber-1)*10)+currentRecordCount }} of {{ totalCount }}</div>

                    </div>








                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>






    </div>
</div>




@section scripts{


    <script type="text/javascript">

        App.controller("listBookingController", ['$scope', '$http', 'jsonFilter', 'FileUploader', function ($scope, $http, jsonFilter, FileUploader, $uibModal) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            $scope.classRate = [{ ID: 1, Description: "REGULAR" }, { ID: 2, Description: "SPECIAL" }, { ID: 3, Description: "UPHILL" }];

            $scope.loading=false;
            $scope.fromDate = moment("2015-01-01");
            $scope.toDate = moment().add(1,'year');
            $scope.pageNo = 1;
            $scope.totalCount = 0;
            $scope.pageSize = 10;
            $scope.currentPage = 1;

            $scope.selectedStatus = [];
            $scope.ddSettings = { displayProp: 'Description', idProp: 'ID', externalIdProp: 'statuses' };

            //DRAFT=0,
            //CONFIRMED=1,
            //FINALIZED=2,
            //CANCELLED=3
            $scope.bookingStatus = [
                { ID: 0, Description: "SUBMITTED" },
                 { ID: 1, Description: "CONFIRMED" },
                  { ID: 2, Description: "FINALIZED" },
                   { ID: 3, Description: "CANCELLED" },
                    { ID: 9, Description: "SAVED" }
            ]



            $scope.getCreation = function (logs) {

                var ahente;

                angular.forEach(logs, function (log) {

                    if (log.Status == 0 || log.Status == 9) {
                        ahente = (log.Agent.Fullname + "\r\n" + log.DateCreated);

                    }

                });

                return ahente;

            }

            $scope.getConfirmation = function (logs) {

                var ahente;

                angular.forEach(logs, function (log) {

                    if (log.Status == 1) {
                        ahente = (log.Agent.Fullname + "\r\n" + log.DateCreated);

                    }

                });

                return ahente;

            }

            $scope.getFinalization = function (logs) {

                var keepGoing = true;
                var ahente;

                angular.forEach(logs, function (log) {

                    if (keepGoing) {
                        if (log.Status == 2) {
                            ahente = (log.Agent.Fullname + "\r\n" + log.DateCreated);
                            keepGoing = false;

                        }
                    }
                 

                });

                return ahente;
            }


            //GET DESTINATIONS
            $scope.getDestinations = function () {
                $http.get("/Destinations/GetDestinations")
                                     .success(function (data, status, headers, config) {

                                         logResult("GET SUCCESS", data, status, headers, config);
                                         $scope.destinations = data;


                                     }).error(function (data, status, headers, config) {
                                         logResult("GET ERROR", data, status, headers, config);


                                     });

                $scope.getBooking(1);

            };


            $scope.getBooking = function (pageNo) {

                $scope.loading = true;

                var statusTemp = [];

                for (var i = 0; i < $scope.selectedStatus.length; i++) {

                    // alert();
                    console.log($scope.selectedStatus[i]);
                    statusTemp.push($scope.selectedStatus[i].statuses)
                }

                //   console.log(statusTemp);


                var data = JSON.stringify({ fromDate: $scope.fromDate, toDate: $scope.toDate, statuses: statusTemp, search: $scope.keywordSearch, startIndex: pageNo });
                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };


                $http.post("/Booking/GetBookingsPaged", data, config)
                          .success(function (data, status, headers, config) {

                              logResult("GET SUCCESS", data, status, headers, config);
                              $scope.bookings = data.Records.Records;
                              $scope.totalCount = data.Records.TotalRecords;
                              $scope.currentPage = data.Records.CurrentPage;
                              $scope.currentRecordCount = data.Records.CurrentRecordCount;

                              $scope.pageNumber = data.Records.PageNumber;

                              $scope.loading = false;;

                              //$scope.pagination.current = $scope.currentPage;

                          }).error(function (data, status, headers, config) {
                              logResult("GET ERROR", data, status, headers, config);


                          });


            };

        }]);




    </script>

}