﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;IE=11;IE=10;IE=9">
    <title>Quotation - Island Star Express</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome Icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datetimepicker.css" rel="stylesheet" type="text/css" />

    <!-- Ionicons -->
    @*<link href="~/Content/ionic.min.css" rel="stylesheet" type="text/css" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/adminlte")
</head>
<body  ng-app="isebookingapp" ng-controller="quotationcontroller" >
    <div class="wrapper" ng-init="getDestinations()">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        @*<i class="fa fa-globe"></i> Island Star Express*@<img src="~/Content/images/iselogo.jpg" />
                        <small class="pull-right">Date: @DateTime.Now </small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    Cutomer
                    <address>
                        <strong>{{bookingInfo.Header.ContactPerson}}</strong><br>
                        {{bookingInfo.Header.GroupName}}<br />
                        {{bookingInfo.Header.ContactNumber}}
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    Route
                    <address>
                        <b>Type: </b> {{(routeType|filter:{'ID':bookingInfo.Header.Routing}:true)[0].Description}}<br>
                        <b>Arrival: </b> {{(destinations|filter:{'ID':bookingInfo.Header.PickUpArrival}:true)[0].Description}} - {{(destinations|filter:{'ID':bookingInfo.Header.DropOffArrival}:true)[0].Description}}<br>
                        <b>Arrival Date: </b>{{bookingInfo.Header.FlightDate1|date: 'MMM dd,yyyy HH:mm a'}}<br />
                        <div ng-show="bookingInfo.Header.Routing==2">
                            <b>Departure: </b> {{(destinations|filter:{'ID':bookingInfo.Header.PickUpDeparture}:true)[0].Description}} - {{(destinations|filter:{'ID':bookingInfo.Header.DropOffDeparture}:true)[0].Description}}<br />
                            <b>Departure Date: </b>{{bookingInfo.Header.FlightDate2|date: 'MMM dd,yyyy HH:mm a'}}<br />
                        </div>


                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    Passengers
                    <address>
                        <b>Adult: </b> {{bookingInfo.Header.Adults}}<br>
                        <b>Childrens: </b> {{bookingInfo.Header.Childrens}}<br>
                        <b>Children Below Six: </b>{{bookingInfo.Header.ChildrensBelowSix}}<br />
                        <b>Infant: {{bookingInfo.Header.Infants}}</b>
                    </address>


                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Qty</th>                          
                                <th>Description</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in bookingInfo.Details" >
                                <td>{{detail.Quantity}}</td>
                                <td>{{detail.Description}}</td>
                                <td >{{detail.Amount|number:2}}</td>
                                <td ng-init="calculateTotal(detail.Quantity*detail.Amount)">{{detail.Quantity*detail.Amount|number:2}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="~/Content/images/visa.png" alt="Visa">
                    <img src="~/Content/images/mastercard.png" alt="Mastercard">
                    <img src="~/Content/images/american-express.png" alt="American Express">
                    <img src="~/Content/images/paypal2.png" alt="Paypal">
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        TERMS AND CONDITIONS HERE
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead"></p>
                    <div class="table-responsive">
                        <table class="table">
       
                            <tr>
                                <th>Total:</th>
                                <td>PHP {{grandTotal|number:2}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/datetimepicker.templates.js"></script>

    <script type="text/javascript" src="~/Scripts/custom/Startup.js"></script>

    <script type="text/javascript" src="~/Scripts/custom/generate_key.js"></script>



    <script type="text/javascript">



        App.controller("quotationcontroller", ['$scope', '$http', 'jsonFilter', 'FileUploader', '$timeout', function ($scope, $http, jsonFilter, FileUploader, $timeout) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };


            $scope.routeType = [
                { ID: 1, Description: "ONE-WAY" },
                { ID: 2, Description: "TWO-WAY" }
            ]

            $scope.bookingDetails = [];
            $scope.bookingInfo = {
                Header: {

                    GroupName: "",
                    ContactPerson: "",
                    ContactNumber: "",
                    Remarks: "",
                    CVNumber: "",
                    Adults: 0,
                    Childrens: null,
                    Infants: null,
                    TourGuides: null,
                    Escorts: null,
                    FOC: null,
                    Routing: 1,
                    PickUpArrival: null,
                    DropOffArrival: null,

                    DropOffLocation: null,
                    PickUpDeparture: null,
                    DropOffDeparture: null,
                    FlightNo1: null,
                    FlightNo2: null,
                    FlightDate1: null,
                    FlightDate2: null,
                    Total: null,
                    Status: 1
                },
                Details: {},
                Attachments: null
                //Detail: {[
                //    ID: 0,
                //    BookingID: 0,
                //    Description: "",
                //    Amount: 0,
                //    Quantity: 0
                //]},



            };

            $scope.destinations = null;
            $scope.otherCharges = null;
            $scope.bookingAttachments = null;


            //GET DESTINATIONS
            $scope.getDestinations = function () {
                $http.get("/Destinations/GetDestinations")
                                     .success(function (data, status, headers, config) {

                                         logResult("GET SUCCESS", data, status, headers, config);
                                         $scope.destinations = data;


                                     }).error(function (data, status, headers, config) {
                                         logResult("GET ERROR", data, status, headers, config);


                                     });


                $scope.getQuotation();

            };


            $scope.calculateTotal = function (amount) {
                $scope.grandTotal += amount;
            }

            $scope.grandTotal = 0;





            //GET QUOTATION
            $scope.getQuotation = function () {

                $http.get("/TempData/@ViewBag.QuoteID" + ".json").success(function (data) {
                    $scope.bookingInfo = data;

                    // console.log(data);
                    setTimeout(function () {
                        window.print();

                    }, 2000);
                  


                });





            }



        }]);


    </script>


</body>
</html>
