﻿
@{
    ViewBag.Title = "Reports";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}

<div class="row">
    <div class="col-md-12">

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Reports</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>Report Name</td>
                                    <td>View</td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Daily Manifesto (Arrivals)</td>
                                    <td><a href="~/Reports/ManifestoArrivals.aspx" target="_blank" title="Daily Manifesto (Arrivals)">View</a></td>
                                </tr>
                                <tr>
                                    <td>Daily Manifesto (Departures)</td>
                                    <td><a href="~/Reports/ManifestoDepartures.aspx" target="_blank" title="Daily Manifesto (Departures)">View</a></td>
                                </tr>
                                <tr>
                                    <td>Daily Manifesto Summary</td>
                                    <td><a href="~/Reports/ManifestoSummary.aspx" target="_blank" title="Daily Manifesto Summary">View</a></td>
                                </tr>
                                @{
                                    if (agent.Type == 3 || agent.Type == 2)
                                    {

                                        <tr>
                                            <td>Sales Report</td>
                                            <td><a href="~/Reports/Sales Report.aspx" target="_blank" title="Sales Report">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Agency</td>
                                            <td><a href="~/Reports/Sales Report By Agency.aspx" target="_blank" title="Sales Report By Agency">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Market Type</td>
                                            <td><a href="~/Reports/Sales Report By Market Type.aspx" target="_blank" title="Sales Report By Market Type">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Market Type Breakdown</td>
                                            <td><a href="~/Reports/Sales Report By Market Type Breakdown.aspx" target="_blank" title="Sales Report By Market Type Breakdown">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Agent By Market Type</td>
                                            <td><a href="~/Reports/Sales Report By Agent By Market Type.aspx" target="_blank" title="Sales Report By Agent By Market Type">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Market Type Breakdown</td>
                                            <td><a href="~/Reports/Sales Report By Market Type Breakdown.aspx" target="_blank" title="Sales Report By Market Type Breakdown">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Sales Agent Summary</td>
                                            <td><a href="~/Reports/Sales Report By Sales Agent Summary.aspx" target="_blank" title="Sales Report By Sales Agent Summary">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sales Report By Travel Agency Summary</td>
                                            <td><a href="~/Reports/Sales Report By Travel Agency Summary.aspx" target="_blank" title="Sales Report By Travel Agency Summary">View</a></td>
                                        </tr>

                                    }
                                }

                       

                                @{
                                    if (agent.Type == 3)
                                    {
                                        <tr>
                                            <td>Trial Balance</td>
                                            <td><a href="~/Reports/Trial Balance.aspx" target="_blank" title="Trial Balance">View</a></td>
                                        </tr>

                                        <tr>
                                            <td>Cash Receipts (PR)</td>
                                            <td><a href="~/Reports/Cash Receipts PR.aspx" target="_blank" title="Cash Receipts (PR)">View</a></td>
                                        </tr>


                                        <tr>
                                            <td>Cash Receipts (OR/AR)</td>
                                            <td><a href="~/Reports/Cash Receipts OR_AR.aspx" target="_blank" title="Cash Receipts (OR/AR)">View</a></td>
                                        </tr>

    <tr>
        <td>Sales and Collection</td>
        <td><a href="~/Reports/Sales and Collection.aspx" target="_blank" title="Sales and Collection">View</a></td>
    </tr>

    <tr>
        <td>Accounts Receivable Summary</td>
        <td><a href="~/Reports/Aging Summary.aspx" target="_blank" title="Accounts Receivable Summary">View</a></td>
    </tr>

    <tr>
        <td>Accounts Receivable Detailed</td>
        <td><a href="~/Reports/Aging Detailed.aspx" target="_blank" title="Accounts Receivable Detailed">View</a></td>
    </tr>
                                    }
}

                             


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>