﻿@{
    ViewBag.Title = "View Booking";
}


@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);
    if (agent == null)
    {
        agent = new ISE.DAL.AgentsModel();
    }

}




<div ng-controller="bookingController" ng-init="getDestinations();getAllResortsAndHotels();">



    <!--FILE UPLOAD-->
    <fileuploadbooking></fileuploadbooking>


    <div class="row">


        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title col-md-5">
                        Booking No:. <label class="text-bold">{{bookingInfo.Header.ID}}</label>

                        @*<a class="btn btn-primary pull-right" href="~/Reports/Statement of Account.aspx?id={{bookingInfo.Header.CVNumber}}" target="_blank" ng-if="bookingInfo.Header.Status==2"><i class="glyphicon glyphicon-print"></i>Print Statement</a>*@

                    </h3>

                    <div class="col-md-5">
                        <label class="col-md-1 control-label">Status: </label>
                        <div class="col-md-2" ng-cloak>
                            <label ng-cloak class="pull-right label label-{{bookingInfo.Header.Status}}">{{(bookingStatus|filter:{'ID':bookingInfo.Header.Status}:true)[0].Description}}</label>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group pull-right" ng-if="bookingInfo.Header.Status==2">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-print"></i> Print ... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Reports/Statement of Account.aspx?id={{bookingInfo.Header.CVNumber}}" target="_blank">Statement</a></li>
                                <li><a href="~/Reports/Service Voucher.aspx?id={{bookingInfo.Header.CVNumber}}" target="_blank">Service Voucher</a></li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="col-md-12">CV Number:  <label class="text-bold">{{bookingInfo.Header.CVNumber}}</label></h4>

                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <form class="form-horizontal" ng-validate="{rules: { txtGroupName:{required:true},
                          txtContactPerson:{required:false},
                                txtDropOffLocation1:{requiredLocation1:true},
                         txtDropOffLocation2:{requiredLocation2:true},
                          txtFlightDate1: {requiredFlightDate1:true},
                           txtFlightDate2: {requiredFlightDate2:true},
                          txtPaymentType:{required:true},
                           txtChildren:required_group,
                            txtAdult: required_group,
                          txtSenior:required_group,
                          txtClass:{required:true}
                          } }" name="frmBooking">

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align:left;">Passenger Info</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Agent:</label>
                                <div class="col-md-8">


                                    @if (agent.Type == 2 || agent.Type == 3)
                                    {
                                        <div ng-show="EditAgent">
                                            <div isteven-multi-select
                                                 input-model="activeAgents"
                                                 output-model="myTravelAgency"
                                                 button-label="Company"
                                                 selection-mode="single"
                                                 item-label="Company"
                                                 tick-property="ticked"
                                                 on-close="getTravelAgency()">
                                            </div>
                                        </div>

                                        <label class="text-bold" ng-hide="EditAgent">{{bookingInfo.Header.Agency.Company}}</label>
    <a class="btn btn-warning btn-xs" ng-if="( bookingInfo.Header.Status==10 ||  bookingInfo.Header.Status==9  )"
       ng-hide="EditAgent" ng-click="setCurrentTravelAgency();"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                    else
                                    {
                                        <label class="text-bold">{{bookingInfo.Header.Agency.Company}}</label>
                                    }





                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Group/Passenger</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.GroupName" tabindex="1" ng-disabled="Editing" />
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label class="control-label col-md-offset-1 col-md-3">Contact Person:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.ContactPerson" tabindex="2" ng-disabled="Editing" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Contact Number:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.ContactNumber" tabindex="3" ng-disabled="Editing" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Remarks:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" rows="3" ng-model="bookingInfo.Header.Remarks" tabindex="4" ng-disabled="Editing"></textarea>
                                </div>
                            </div>
                            @if (agent.Type == 2)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-3">Rates applied from:</label>
                                    <div class="col-md-8">

                                        <input class="form-control" ng-model="submissionDate" placeholder="yyyy-mm-dd HH:mm"
                                               format="YYYY-MM-DD HH:mm" keyboard="true"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               moment-picker="submissionDate" name="submissionDate" tabindex="4" ng-disabled="Editing" />
                                    </div>

                                </div>

                            }
                        </div>


                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="control-label col-md-6 col-xs-7" style="text-align:left;">No. of Passengers</label>
                                <label class="control-label col-md-3 col-xs-2" style="text-align: left; width: 500px; margin-left: -30px">&nbsp;&nbsp; &nbsp;&nbsp; TF IN  &nbsp;&nbsp; <span ng-show="bookingInfo.Header.Routing==2">+  &nbsp;&nbsp;TF OUT &nbsp;&nbsp; </span>+  &nbsp;&nbsp;  Env &nbsp;&nbsp;+ NN   </label>

                            </div>






                            <!--ADULTS-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-1 col-xs-2">Adults:</label>
                                <div class="col-md-4 col-sm-1 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Adults" tabindex="5" name="txtAdult" ng-disabled="Editing" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInAdult" ng-change="toggleTFIN(withTFInAdult)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutAdult" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutAdult)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeAdult" ng-change="toggleEnvFee(withEnvFeeAdult)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeAdult" ng-change="toggleNNFee(withNNFeeAdult)" ng-disabled="Editing" />
                                    </div>


                                </div>

                            </div>

                            <!--CHILDRENS-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">Children:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Childrens" tabindex="6" name="txtChildren" ng-disabled="Editing" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInChildren" ng-change="toggleTFIN(withTFInChildren)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutChildren" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutChildren)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeChildren" ng-change="toggleEnvFee(withEnvFeeChildren)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeChildren" ng-change="toggleNNFee(withNNFeeChildren)" ng-disabled="Editing" />
                                    </div>


                                </div>

                            </div>


                            <!--CHIDRENS below Six-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">Children < 6:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" ng-model="bookingInfo.Header.ChildrensBelowSix" class="form-control input-sm" tabindex="11" ng-disabled="Editing" />
                                </div>



                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInBelowSix" ng-change="toggleTFIN(withTFInBelowSix)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutBelowSix" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutBelowSix)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeBelowSix" ng-change="toggleEnvFee(withEnvFeeBelowSix)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeBelowSix" ng-change="toggleNNFee(withNNFeeBelowSix)" ng-disabled="Editing" />
                                    </div>


                                </div>

                            </div>


                            <!--INFANTS-->
                            <div class="form-group">

                                <label class="control-label col-md-2 col-xs-2">Infants:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Infants" tabindex="7" ng-disabled="Editing" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInInfant" ng-change="toggleTFIN(withTFInInfant)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutInfant" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutInfant)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeInfant" ng-change="toggleEnvFee(withEnvFeeInfant)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeInfant" ng-change="toggleNNFee(withNNFeeInfant)" ng-disabled="Editing" />
                                    </div>


                                </div>

                            </div>
                            <!--SENIOR CITIZEN-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-1 col-xs-6">Senior:</label>
                                <div class="col-md-4 col-sm-1 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Senior" tabindex="5" name="txtSenior" ng-disabled="Editing" />
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInSenior" ng-change="toggleTFIN(withTFInSenior)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutSenior" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutSenior)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeSenior" ng-change="toggleEnvFee(withEnvFeeSenior)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeSenior" ng-change="toggleNNFee(withNNFeeSenior)" ng-disabled="Editing" />
                                    </div>


                                </div>


                            </div>

                            <!--TOUR GUIDES-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-1 col-xs-2">Tour Guide:</label>
                                <div class="col-md-4 col-sm-1 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.TourGuides" tabindex="8" ng-disabled="Editing" />
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInTourGuide" ng-change="toggleTFIN(withTFInTourGuide)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutTourGuide" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutTourGuide)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeTourGuide" ng-change="toggleEnvFee(withEnvFeeTourGuide)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeTourGuide" ng-change="toggleNNFee(withNNFeeTourGuide)" ng-disabled="Editing" />
                                    </div>


                                </div>

                            </div>

                            <!--ESCORTS-->
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">Escort:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.Escorts" tabindex="9" ng-disabled="Editing" />
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInEscort" ng-change="toggleTFIN(withTFInEscort)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutEscort" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutEscort)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeEscort" ng-change="toggleEnvFee(withEnvFeeEscort)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeEscort" ng-change="toggleNNFee(withNNFeeEscort)" ng-disabled="Editing" />
                                    </div>


                                </div>
                            </div>


                            <!--FoC-->
                            <div class=" form-group">
                                <label class="control-label col-md-2 col-xs-2">FoC:</label>
                                <div class="col-md-4 col-xs-2">
                                    <input type="number" class="form-control input-sm" ng-model="bookingInfo.Header.FOC" tabindex="10" ng-disabled="Editing" />
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFInFOC" ng-change="toggleTFIN(withTFInFOC)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withTFOutFOC" ng-show="bookingInfo.Header.Routing==2" ng-change="toggleTFOUT(withTFOutFOC)" ng-disabled="Editing" />

                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withEnvFeeFOC" ng-change="toggleEnvFee(withEnvFeeFOC)" ng-disabled="Editing" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" ng-model="withNNFeeFOC" ng-change="toggleNNFee(withNNFeeFOC)" ng-disabled="Editing" />
                                    </div>



                                </div>
                            </div>




                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-2">&nbsp;</label>
                                <div class="col-md-2 col-xs-2">
                                    &nbsp;
                                </div>




                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-1">Routing Details</label>

                                <div class="col-md-offset-1 col-md-1" hidden>
                                    <label class="radio-inline">
                                        <input type="radio" name="rdoRouting" ng-model="bookingInfo.Header.Routing" value="1" ng-disabled="Editing" /> One Way
                                    </label>
                                </div>
                                <div class="col-md-1 " hidden>
                                    <label class="radio-inline">
                                        <input type="radio" name="rdoRouting" ng-model="bookingInfo.Header.Routing" value="2" ng-disabled="Editing" /> Round Trip
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-1 col-xs-3 col-xs-offset-1 text-bold">
                                Pick-Up
                            </div>
                            <div class="col-md-offset-1 col-md-1 col-xs-3 text-bold">
                                Drop-Off
                            </div>
                            <div class="col-md-offset-3 col-md-1 col-xs-3 text-bold">
                                Flight No
                            </div>
                            <div class="col-md-1 col-xs-1 text-bold">
                                Date
                            </div>
                            <div class="col-md-offset-1 col-md-1 col-xs-1 text-bold">
                                Class
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-2 col-xs-12">Arrival</label>
                            <div class="col-md-2  col-xs-3 col-xs-offset-1 col-md-offset-0">
                                <select class="form-control input-sm" ng-model="bookingInfo.Header.PickUpArrival"
                                        ng-options="destination.ID as destination.Description for destination in destinations | filter: { Description: '!OTHERS'}" tabindex="12" name="txtPickUpArrival" ng-disabled="Editing"></select>
                            </div>

                            <div class="col-md-4 col-xs-3">
                                <div class="col-md-6 col-xs-6 row">
                                    <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffArrival"
                                            ng-options="destination.ID as destination.Description for destination in destinations| filter: { Description: '!OTHERS'}" tabindex="13" name="txtDropOffArrival" ng-disabled="Editing"></select>
                                </div>
                                <div class="col-md-4 col-xs-4 row">
                                    <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffLocation1"
                                            ng-options="dol.ID as dol.Name for dol in resortsAndHotels" tabindex="14" name="txtDropOffLocation1" ng-disabled="Editing"></select>
                                </div>


                            </div>

                            <div class="col-md-1 col-xs-2">
                                <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.FlightNo1" tabindex="15" ng-disabled="Editing" />
                            </div>
                            <div class="col-md-2 col-xs-3">


                                @*<input class="form-control" ng-model="bookingInfo.Header.FlightDate1" placeholder="yyyy-mm-dd HH:mm"
                                    ng-model-options="{ updateOn: 'blur' }" format="YYYY-MM-DD HH:mm" keyboard="true"
                                    moment-picker="bookingInfo.Header.FlightDate1" name="txtFlightDate1" tabindex="16" ng-disabled="Editing" />*@
                                <input type="text" class="form-control" ng-model="bookingInfo.Header.FlightDate1" ng-disabled="Editing" name="txtFlightDate1" model-view-value="true" tabindex="51" ui-mask="99/99/9999 99:99" placeholder="MM/DD/YYYY HH:mm" ui-mask-placeholder ui-mask-placeholder-char="_" />


                            </div>
                            <div class="col-md-1">
                                <select class="form-control" ng-options="cRate.ID as cRate.Description for cRate in classRate" ng-model="bookingInfo.Header.Class" name="txtClass" ng-disabled="Editing">
                                    <option></option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div ng-show="bookingInfo.Header.Routing==2">

                                <label class="control-label col-md-2 col-xs-12">Departure</label>
                                <div class="col-md-2  col-xs-3 col-xs-offset-1 col-md-offset-0">
                                    <select class="form-control input-sm" ng-model="bookingInfo.Header.PickUpDeparture"
                                            ng-options="destination.ID as destination.Description for destination in destinations | filter: { Description: '!OTHERS'}" tabindex="17" name="txtPickUpDeparture" ng-disabled="Editing"></select>
                                </div>

                                <div class="col-md-4 col-xs-3">
                                    <div class="col-md-6 col-xs-6 row">
                                        <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffDeparture"
                                                ng-options="destination.ID as destination.Description for destination in destinations| filter: { Description: '!OTHERS'}" tabindex="18" name="txtDropOffDeparture" ng-disabled="Editing"></select>
                                    </div>

                                    <div class="col-md-4 col-xs-4 row">
                                        <select class="form-control input-sm" ng-model="bookingInfo.Header.DropOffLocation2"
                                                ng-options="dol.ID as dol.Name for dol in resortsAndHotels" tabindex="19" ng-disabled="Editing" name="txtDropOffLocation2"></select>
                                    </div>
                                </div>

                                <div class="col-md-1 col-xs-2">
                                    <input type="text" class="form-control input-sm" ng-model="bookingInfo.Header.FlightNo2" tabindex="20 ng-disabled=" ng-disabled="Editing" />
                                </div>
                                <div class="col-md-2 col-xs-3">

                                    @*<input class="form-control" ng-model="bookingInfo.Header.FlightDate2"
                                        ng-model-options="{ updateOn: 'blur' }" format="YYYY-MM-DD HH:mm" keyboard="true" placeholder="yyyy-mm-dd HH:mm"
                                        moment-picker="bookingInfo.Header.FlightDate2" name="txtFlightDate2" tabindex="21" ng-disabled="Editing" />*@

                                    <input type="text" class="form-control" ng-model="bookingInfo.Header.FlightDate2" name="txtFlightDate2" ng-disabled="Editing" model-view-value="true" tabindex="21" ui-mask="99/99/9999 99:99" placeholder="MM/DD/YYYY HH:mm" ui-mask-placeholder ui-mask-placeholder-char="_" />


                                </div>
                                <div class="col-md-1">
                                    <select class="form-control" ng-options="cRate.ID as cRate.Description for cRate in classRate" tabindex="57" ng-model="bookingInfo.Header.Class2" name="txtClass2" ng-disabled="Editing">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group" hidden>
                            <label class="control-label col-md-1">Other Charges</label>
                            <div class="col-md-11">
                                <br />
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <div class="col-md-offset-2 col-md-10">
                                <div ng-repeat="charge in otherCharges">
                                    <label class="checkbox-inline" ng-show="charge.ChargingID>4 "><input type="checkbox" ng-model="charge.IsChecked" ng-disabled="Editing" />{{charge.ChargeDescription}}</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">
                                Attachments
                            </label>
                            <div class="col-md-7">
                                <label ng-repeat="attachment in bookingInfo.Attachments"><a href="~/Uploads/{{attachment.Filename}}">{{attachment.OriginalFilename}};&nbsp;&nbsp;</a></label>
                            </div>
                            <div class="col-md-10">
                                <input type="button" value="Attach File" ng-click="uploadFiles()" />
                            </div>

                        </div>



                        @if (agent.Type == 2 || agent.Type==3)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-1">Payment Type:</label>
                                <div class="col-md-5">
                                    <select class="form-control" ng-disabled="Editing" ng-model="bookingInfo.Header.PaymentTypeID" ng-options="payType.ID as payType.Description for payType in paymentTypes" name="txtPaymentType"></select>


                                </div>
                            </div>
                        }

                        <div class="form-group pull-right" ng-show="bookingInfo.Header.Status==0 ||bookingInfo.Header.Status==9 || bookingInfo.Header.Status==10">
                            <div class="col-md-12">
                                <input type="button" value="Compute" ng-click="computeBooking()" class="btn btn-default btn-lg" ng-hide="Editing" />
                                <input type="button" value="Clear" class="btn btn-default btn-lg" ng-click="clearBooking()" ng-hide="Editing" />
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>





    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#tabSummary" data-toggle="tab">Summary</a></li>
                        <li><a href="#tabManifesto" data-toggle="tab">Manifesto</a></li>

                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="tabSummary">
                            <div class="content">
                                <div class="table-responsive">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" ng-validate="{rules: {
                              txtChargingName:{required:true},
                          txtChargingQuantity:{required:true,digits:true,min:1},
                          txtChargingPrice:{required:true,number:true}

                          } }" name="frmItenerary">


                                            @if (agent.Type == 2 || agent.Type == 3)
                                            {
                                                <table class="table table-bordered table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td ng-if="!Editing">Actions</td>
                                                            <td>Charging Name</td>
                                                            <td>Quantity</td>
                                                            <td>Price</td>
                                                            <td>Boat</td>
                                                            <td>Gross Amount</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr ng-repeat="detail in bookingDetails" ng-init="computeGrandTotal(detail);">
                                                            <td ng-if="!Editing"><a class="btn btn-sm btn-danger" ng-click="deleteItem(bookingDetails.indexOf(detail))"><i class="glyphicon glyphicon-trash"></i></a></td>
                                                            <td>
                                                                <div ng-switch="detail.IsItenerary">
                                                                    <div ng-switch-when="true">
                                                                        <input type="text" class="form-control txtChargingName" ng-model="detail.Description" name="txtChargingName{{$index}}" />
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        {{detail.Description}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div ng-switch="detail.IsItenerary">
                                                                    <div ng-switch-when="true">
                                                                        <input type="text" class="form-control txtChargingQuantity" ng-model="detail.Quantity" name="txtChargingQuantity{{$index}}" />
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        {{detail.Quantity}}
                                                                    </div>
                                                                </div>
                                                            </td>

                                                            <td class="text-right">
                                                                <div ng-switch="detail.IsItenerary">
                                                                    <div ng-switch-when="true">
                                                                        <input type="text" class="form-control txtChargingPrice" ng-model="detail.Amount" name="txtChargingPrice{{$index}}" />
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        {{detail.Amount|number:2}}
                                                                    </div>
                                                                </div>

                                                            </td>
                                                            <td class="text-right">
                                                                {{detail.Boat|number:2}}
                                                            </td>
                                                            <td class="text-right">{{detail.Quantity * (parseNumber(detail.Amount) + parseNumber(detail.Boat))|number:2}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr ng-if="!Editing">
                                                            <td colspan="6"><a class="btn btn-sm btn-primary" ng-click="addItenerary()"><i class="glyphicon glyphicon-plus-sign"></i>Add Itenerary</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="1" ng-if="!Editing"></td>
                                                            <td colspan="2"></td>
                                                            <td colspan="2" style="background-color:#808080;color:white;font-weight:500;">GRAND TOTAL</td>
                                                            <td class="text-right text-bold">{{grandTotal|number:2}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            }
                                            else
                                            {
                                                <table class="table table-bordered table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td ng-if="!Editing">>Actions</td>
                                                            <td>Charging Name</td>
                                                            <td>Quantity</td>
                                                            <td>Price</td>
                                                            <td>Gross Amount</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr ng-repeat="detail in bookingDetails" ng-init="computeGrandTotal(detail);">
                                                            <td ng-if="!Editing"><a class="btn btn-sm btn-danger" ng-click="deleteItem(bookingDetails.indexOf(detail))"><i class="glyphicon glyphicon-trash"></i></a></td>
                                                            <td>
                                                                <div ng-switch="detail.IsItenerary">
                                                                    <div ng-switch-when="true">
                                                                        <input type="text" class="form-control txtChargingName" ng-model="detail.Description" name="txtChargingName{{$index}}" />
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        {{detail.Description}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div ng-switch="detail.IsItenerary">
                                                                    <div ng-switch-when="true">
                                                                        <input type="text" class="form-control txtChargingQuantity" ng-model="detail.Quantity" name="txtChargingQuantity{{$index}}" />
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        {{detail.Quantity}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div ng-switch="detail.IsItenerary">
                                                                    <div ng-switch-when="true">
                                                                        <input type="text" class="form-control txtChargingPrice" ng-model="detail.Amount" name="txtChargingPrice{{$index}}" />
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        {{parseNumber(detail.Amount)+parseNumber(detail.Boat)|number:2}}
                                                                    </div>
                                                                </div>

                                                            </td>
                                                            <td class="text-right">{{parseNumber(detail.Quantity) * (parseNumber(detail.Amount) + parseNumber(detail.Boat))|number:2}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr ng-if="!Editing">
                                                            <td colspan="5"><a class="btn btn-sm btn-primary" ng-click="addItenerary()"><i class="glyphicon glyphicon-plus-sign"></i>Add Itenerary</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="1" ng-if="!Editing"></td>
                                                            <td colspan="2" style="background-color:#808080;color:white;font-weight:500;">GRAND TOTAL</td>
                                                            <td class="text-right text-bold">{{grandTotal|number:2}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            }




                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="tabManifesto">
                            <div class="content">
                                <div class="col-md-12">
                                    <div>
                                        <form class="form-horizontal" ng-validate="{rules:{ txtMFArrivalDate:{required:true},
                                             txtManType:{required:true},
                                              txtMFGuests:{required:true},
                                              txtMFResortHotel:{requred:true}
                                              } }" name="frmManifestos" id="frmManifestos">

                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>Actions</td>
                                                        <td>Resort/Hotel</td>
                                                        <td>Date</td>
                                                        <td>Type</td>
                                                        <td>Pick Up</td>
                                                        <td>Drop Off</td>
                                                        <td>FlightNo</td>
                                                        <td style="width:80px !important;">Adults</td>
                                                        <td style="width:80px !important;">Kids</td>
                                                        <td style="width:80px !important;">Infants</td>
                                                        <td style="width:80px !important;">Escorts</td>
                                                        <td style="width:80px !important;">Tour Guides</td>
                                                        <td style="width:80px !important;">FOC</td>
                                                        <td>Guests</td>
                                                        <td>Remarks</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="manifest in bookingManifesto">
                                                        <td>
                                                            <a class="btn btn-danger btn-xs" ng-click="deleteManifesto(manifest)"
                                                                ng-show="(bookingInfo.Header.Status==10 || bookingInfo.Header.Status==1 || bookingInfo.Header.Status==2)"><i class="glyphicon glyphicon-trash"></i>Delete</a>
                                                        </td>
                                                        <td>
                                                            <select ng-model="manifest.ResortHotel"
                                                                    class="form-control txtMFResortHotel" name="txtMFResortHotel{{$index}}"
                                                                    ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"
                                                                    ng-options="rh.ID as rh.Name for rh in resortsAndHotels" required></select>
                                                        </td>
                                                        <td>

                                                            @*<input class="form-control txtMFArrivalDate" ng-model="manifest.Date"
                                                                format="YYYY-MM-DD HH:mm" keyboard="true"
                                                                ng-model-options="{ updateOn: 'blur' }" ng-disabled=" (bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"
                                                                moment-picker="manifestomanifest.Date" name="txtMFArrivalDate{{$index}}" />*@

                                                            <input type="text" class="form-control txtMFArrivalDate" ng-model="manifest.Date"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"
                                                                   name="txtMFArrivalDate{{$index}}" model-view-value="true" ui-mask="99/99/9999 99:99" placeholder="MM/DD/YYYY HH:mm" ui-mask-placeholder ui-mask-placeholder-char="_" />

                                                        </td>
                                                        <td>
                                                            <select ng-model="manifest.Type" class="form-control txtManType" disabled
                                                                    ng-options="man.ID as man.Description for man in manifestoType" name="txtManType{{$index}}"></select>


                                                        </td>
                                                        <td>
                                                            <select class="form-control input-sm txtMFPickup" ng-model="manifest.Pickup" name="txtMFPickup{{$index}}"
                                                                    ng-disabled="(bookingInfo.Header.Status!=10 &&| bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"
                                                                    ng-options="destination.ID as destination.Description for destination in destinations"></select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control input-sm txtMFDropOff" ng-model="manifest.DropOff" name="txtMFDropOff{{$index}}"
                                                                    ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"
                                                                    ng-options="destination.ID as destination.Description for destination in destinations"></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="manifest.FlightNo" class="form-control txtManifestoFlightNo" name="txtManifestoFlightNo{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>



                                                        <td class="text-right">
                                                            <input type="number" ng-model="manifest.Adults" class="form-control txtMFAdults" name="txtMFAdults{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>
                                                        <td class="text-right">
                                                            <input type="number" ng-model="manifest.Kids" class="form-control txtMFKids" name="txtMFKids{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 &&| bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>
                                                        <td class="text-right">
                                                            <input type="number" ng-model="manifest.Infants" class="form-control txtMFInfants" name="txtMFInfants{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>

                                                        <td class="text-right">
                                                            <input type="number" ng-model="manifest.Escorts" class="form-control txtMFEscorts" name="txtMFEscorts{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>
                                                        <td class="text-right">
                                                            <input type="number" ng-model="manifest.TourGuides" class="form-control txtMFTourGuides" name="txtMFToutGuides{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>
                                                        <td class="text-right">
                                                            <input type="number" ng-model="manifest.FOC" class="form-control txtMFFOC" name="txtMFOC{{$index}}"
                                                                   ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)" />
                                                        </td>

                                                        <td>
                                                            <textarea class="form-control txtMFGuests" style="resize:vertical;" rows="5" ng-model="manifest.Guests" name="txtMFGuests{{$index}}"
                                                                      ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"></textarea>
                                                        </td>
                                                        <td>
                                                            <textarea class="form-control txtMFRemarks" style="resize:vertical" rows="5" name="txtMFRemarks{{$index}}" ng-model="manifest.Remarks"
                                                                      ng-disabled=" (bookingInfo.Header.Status!=10 && bookingInfo.Header.Status!=1 && bookingInfo.Header.Status!=2)"></textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5">
                                                            @{
                                                                if (agent.Type == 2 || agent.Type == 3)
                                                                {
                                                                    <a class="btn btn-primary btn-xs" ng-click="addManifestoArrival(frmManifestos)"
                                                                       ng-show="(bookingInfo.Header.Status==10 || bookingInfo.Header.Status==1 || bookingInfo.Header.Status==2) "><i class="glyphicon glyphicon-plus"></i>Add Arrival Manisfesto</a>
    <a class="btn btn-primary btn-xs" ng-click="addManifestoDeparture(frmManifestos)"
       ng-show="(bookingInfo.Header.Status==10 || bookingInfo.Header.Status==1 || bookingInfo.Header.Status==2) "><i class="glyphicon glyphicon-plus"></i>Add Departure Manisfesto</a>
                                                                }
}


                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div class="row pull-right">

                @using ISE.Models
                @{

                    if (agent.Type == 2)
                    {
                        <input type="button" value="Confirm" ng-if="bookingInfo.Header.Status==0" class="btn btn-success btn-lg" ng-click="confirmBooking()" ng-cloak />


                        <input type="button" value="Save changes" ng-if="(bookingInfo.Header.Status==1 || bookingInfo.Header.Status==2)" class="btn btn-success btn-lg" ng-click="saveManifesto(frmManifestos)" ng-cloak />
                        <input type="button" value="Finalized" ng-if="bookingInfo.Header.Status==1" class="btn btn-success btn-lg" ng-click="finalizedBooking(frmManifestos)" ng-cloak />
                    }
                    <input type="button" value="Quotation" ng-if="!Editing" class="btn btn-success btn-lg" ng-click="generateQuotation()" ng-cloak />
    <input type="button" value="Save" ng-if="(!Editing && bookingInfo.Header.Status!=10)" ng-click="createBooking(9,frmItenerary)" class="btn btn-success btn-lg" ng-cloak />
                    <input type="button" value="Submit" ng-if="(!Editing && bookingInfo.Header.Status!=10)"  ng-click="createBooking(0,frmItenerary)" class="btn btn-success btn-lg" ng-cloak />

    if (agent.Type == 3)
    {
        <input type="button" value="Submit" ng-if="(!Editing && bookingInfo.Header.Status==10)" ng-click="createBooking(10,frmItenerary)" class="btn btn-success btn-lg" ng-cloak />
        <input type="button" value="Override" ng-if="bookingInfo.Header.Status==2" ng-click="overrideBooking()" class="btn btn-warning btn-lg" ng-cloak />
    }

}


                <input type="button" value="Cancel Booking" class="btn btn-warning btn-lg" ng-click="cancelBooking()" />
                <a class="btn btn-default btn-lg" href="/Booking">Go back tolist</a>
            </div>
        </div>
    </div>



</div>











@section scripts{

    <script type="text/javascript">

        var bookingID = '@ViewBag.BookID';

        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>


    <script type="text/javascript" src="~/Scripts/custom/booking.js?v=4"></script>

}