﻿@{
    ViewBag.Title = "Fleet";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div class="row" ng-controller="fleetController" ng-init="getFleets()">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Fleet</h3>
            </div>
            <div class="box-body">


                <div class="row">
                    <!-- Trigger the modal with a button -->

                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#myModal" ng-click="newFleet={}">Add New Fleet</button>
                    </div>




                </div>



                <div ui-grid="gridOptions" class="grid" style="width:100%;">

                    <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                        <div class="msg">
                            <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                        </div>
                    </div>
                </div>






            </div>
        </div>




    </div>




    <!--Add new User Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Add New User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">VID Number:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newFleet.VIDNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Plate No:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newFleet.PlateNo" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newFleet.Type" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Category:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-options="cat.ID as cat.Description for cat in fleetCategory" ng-model="newFleet.CategoryID"></select>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <label class="control-label col-md-3">Capacity:</label>
                                <div class="col-md-8">
                                    <input type="number" step="1" class="form-control" ng-model="newFleet.Capacity" />
                                </div>
                            </div>
                 

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Add" ng-click="addOrUpdateFleet()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--Edit user Modal -->
    <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Edit user</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">VID Number:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newFleet.VIDNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Plate No:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newFleet.PlateNo" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newFleet.Type" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Category:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-options="cat.ID as cat.Description for cat in fleetCategory" ng-model="newFleet.CategoryID"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Capacity:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="newFleet.Capacity" />
                                </div>
                            </div>

                          
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Save" ng-click="addOrUpdateFleet()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>





</div>

@section scripts{

    <script type="text/javascript">




        App.controller("fleetController", function ($scope, $http, $filter) {

            $scope.newFleet = {};
     

            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };


            $scope.loading = false;


            $scope.fleetCategory = [{ ID: 1, Description: 'ISE OWNED' }, { ID: 2, Description: 'PRIVATE' }, {ID:3,Description:'INLAND'}]


            $scope.getFleets = function () {

                $scope.loading = true;

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };


                $http.get("/Fleet/GetFleet", config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       $scope.loading = false;
                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }
                                       $scope.gridOptions.data= data.Records;
                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   }).finally(function () {


                                       $scope.loading = false;
                                   });

            }

            $scope.setEditableRecord = function (fleet) {
                $scope.newFleet = fleet;

            }

            $scope.addOrUpdateFleet = function () {


                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify({ fleet: $scope.newFleet});


                $http.post("/Fleet/CreateOrUpdate", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.getFleets();                                 




                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });


            };



            $scope.gridOptions = {
                //data: 'pendingRequests',
                paginationPageSizes: [10, 25, 50, 75],
                paginationPageSize: 25,
                useExternalPagination: false,
                // useExternalSorting: true,
                multiSelect: true,
                enableColumnReordering: false,
                enableRowSelection: false,
                enableSelectAll: false,
                selectionRowHeaderWidth: 35,
                rowHeight: 35,
                showGridFooter: true,
                enableColumnResizing: true,
                jqueryUIDraggable: true,
                jqueryUITheme: true,
                minRowsToShow: 12,
                columnDefs: [

                      {
                          name: 'VIDNumber',
                          displayName: 'VIDNumber',
                          width: 150,
                          cellTooltip: true,


                      },

                         {
                             name: 'PlateNo',
                             displayName: 'Plate No',
                             width: 350,
                             cellTooltip: true
                         },
                          {
                              name: 'Type',
                              displayName: 'Type',
                              width: 350,
                              cellTooltip: true
                          },
                                     {
                                         name: 'Category',
                                         width: 150,
                                         cellTooltip: true
                                     },
                           {
                               name: 'Capacity',
                               width: 150,
                               cellTooltip: true
                           },
                           {
                               name: 'Action',
                               width: 100,
                               cellTemplate: '<div class="ui-grid-cell-contents"><a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#myModalEdit" ng-click="grid.appScope.setEditableRecord(row.entity)" title="Edit"><i class="glyphicon glyphicon-pencil"> </i>  </a></div>'

                           }


                ],
                onRegisterApi: function (gridApi) {

                    // console.log(gridApi)

                    $scope.gridApi = gridApi;
        
                    // Register a handler that is fired everytime someone changd the sort params.
                    gridApi.core.on.sortChanged($scope, function (grid, sortColumns) {
                        if (sortColumns.length > 1) {
                            // We have more than one sort. Kill the first one.
                            // If this works we'll only ever have 0, 1 or 2 sortColumns,
                            // and only ever 2 for the lifetime of this method.
                            var column = null;
                            for (var j = 0; j < grid.columns.length; j++) {
                                if (grid.columns[j].name === sortColumns[0].field) {
                                    column = grid.columns[j];
                                    break;
                                }
                            }
                            if (column) {
                                sortColumns[1].sort.priority = 1; // have to do this otherwise the priority keeps going up.
                                column.unsort();
                            }
                        }
                    });

                }

            };


        });


    </script>

}
