﻿@{

    ViewBag.Title = "Manifesto - Create";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}

<div ng-controller="manifestoController" ng-init="getCoordinators();getFleets();">

    <div class="row">
        <div class="col-md-12">


            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">



                    <div class="container-fluid" style="margin-top:15px;">


                        <div class="col-md-12 ">


                            <form class="form-horizontal" name="frmManifest">

                                <div class="form-group">

                                    <label class="control-label col-md-2">Type:</label>
                                    <div class="col-md-4">
                                        <select class="form-control"   ng-model="manifesto.Header.ManifestoType"  ng-options="type.ID as type.Description for type in manifestoType"></select>
                                    </div>
                                    <label class="control-label col-md-2">Coordinator:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="manifesto.Header.CoordinatorID" ng-options="coor.ID as coor.Fullname for coor in coordinators"></select>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2">Date:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="manifesto.Header.ManifestoDate" model-view-value="true" ui-mask="9999-99-99" placeholder="YYYY-MM-DD" ui-mask-placeholder ui-mask-placeholder-char="_" name="PaymentDate" />
                                    </div>
                                    <label class="control-label col-md-2">Vehicle:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="manifesto.Header.VehicleID" ng-options="bus.ID as bus.Description for bus in fleets"></select>
                                    </div>

                                </div>


                                <div class="form-group">

                                    <label class="control-label col-md-2">Driver:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="manifesto.Header.Driver" />
                                    </div>
                                    <label class="control-label col-md-2">Status:</label>
                                    <div class="col-md-4">
                                        <b>{{manifesto.Header.Status}}</b>
                                    </div>
                                </div>

                                 <div class="form-group">

                                    <label class="control-label col-md-2">Location:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-options="tp as tp for tp in touchPointLoc" ng-model="manifesto.Header.Location"></select>
                                    </div>
                                    
                               
                                </div>

                                <div class="form-group">


                                    <div class="col-md-12">
                                        <label class=" col-md-12 text-center">BOOKINGS</label>
                                        <div class="col-md-12">

                                            <div ui-grid="gridOptions" ui-grid-cellnav ui-grid-resize-columns ui-grid-auto-resiz class="grid"
                                                 style="width:100%;height:100%;">

                                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                                    <div class="msg">
                                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                        <div class="col-md-12">


                                            <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalBookings" ng-click="getArrivals()">Add Entry</a>
                                        </div>
                                    </div>
                                </div>


                            </form>


                        </div>



                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <a class="btn btn-success " ng-click="submit()"> Submit </a>
                                <a class="btn btn-default" href="/Manifesto/Create"> New  </a>
                                <a class="btn btn-default " href="/Manifesto"> Go to list </a>
                            </div>

                        </div>
                    </div>



                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>



    <div class="modal fade" id="myModalBookings" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Bookings</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div ui-grid="gridOptionsArrivals" ui-grid-selection ui-grid-pagination class="grid" style="width:100%;">

                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                                    <div class="msg">
                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="addEntries()" ng-disabled="buttonDisabled">Add</a>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>

            </div>

        </div>
    </div>




</div>

@section scripts {


    <script type="text/javascript">


        App.controller("manifestoController", function ($scope, $http, $filter, $timeout, uiGridValidateService, uiGridConstants) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            var paginationOptions = {
                pageNumber: 1,
                pageSize: 50,
                sort: null
            };



            $scope.touchPointLoc = ["KALIBO","CATICLAN AIRPORT","JETTY","CAGBAN", "RESORT"];



            $scope.manifestoType = [{ ID: 1, Description: "Arrival"}, { ID: 2, Description: "Departure" }];
            
            $scope.manifesto = {};
            $scope.manifesto.Header = { ManifestoType: 1, ManifestoDate: '2019-08-13', Driver: 'Test', Location: 'KALIBO', CoordinatorID:1612,VehicleID:1};
         
            $scope.details = [];
            //  $scope.manifesto.Header = {};
            //  $scope.manifesto.Details = [];

            $scope.addNewCreditEntry = function () {


                if ($scope.mytags == null) {
                    toastr.error("Please select Travel Agency!", "");
                    return;
                }

                if ($scope.mytags[0].ID) {
                    $scope.paymentRef.Payment.TravelAgencyID = $scope.mytags[0].ID;
                }

                var newAccount = $filter('filter')($scope.accountingTermsCreditOnly, { 'Code': $scope.newAccountCode }, true)[0];

                if (!newAccount) return;

                var journal = {
                    ID: 0,
                    AccountingCode: newAccount.Code,
                    AccountName: newAccount.Description,
                    CVNumber: null,
                    BookingID: null,
                    Remarks: "",
                    Amount: 0,
                    Type: 2,
                    PaymentID: 0
                };

                $scope.creditEntries.push(journal);
                $scope.gridOptionsCredit.data = $scope.creditEntries;
            };
            
            $scope.searchCV = "";
            $scope.loading = false;
            $scope.arrivals = [];

            $scope.getFleets = function () {

                $http.get("/Fleet/GetFleet").success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    $scope.fleets = data.Records;


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                }).finally(function () {


                });

            }


            $scope.getCoordinators = function () {

                $http.get("/Agents/GetCoordinators").success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result === "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }
                    $scope.coordinators = data.Records;
                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);
                }).finally(function () {

                });
            };

            $scope.getArrivals = function () {

               
               

                var x = $scope.manifesto.Header;
               

                if (x===null || !x.hasOwnProperty("ManifestoType") || x.ManifestoType === null) {

                    toastr.error("Please select manifesto type!");
                    return;
                }

                if (!x.hasOwnProperty("ManifestoDate") || $scope.manifesto.Header.ManifestoDate === null) {
                    toastr.error("Please specify manifesto date!");
                    return;
                }

             

                if (!x.hasOwnProperty("Driver") || $scope.manifesto.Header.Driver === null) {
                    toastr.error("Please specify driver!");
                    return;
                }


                
                if (!x.hasOwnProperty("Location") || $scope.manifesto.Header.Location === null) {
                    toastr.error("Please specify Location!");
                    return;
                }


                $http.get("/Manifesto/GetManifestos?date=" + $scope.manifesto.Header.ManifestoDate + "&type=" + $scope.manifesto.Header.ManifestoType + "&tpLoc="+$scope.manifesto.Header.Location).success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }

                   

                    $scope.arrivals = data.Records;

                    if ($scope.gridOptions.data.length > 0 && $scope.gridOptions.data != 'details') {
                        
                        $scope.gridOptions.data.forEach(function (entry) {
                            var index = $scope.arrivals.findIndex(obj => obj.CVNumber == entry.CVNumber);
                           // alert(index + "-" + entry.CVNumber);
                            //$scope.gridApi2.selection.getSelectedRows(index, false);
                            $scope.arrivals.splice(index, 1);
                        });
                    }


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);
                    }).finally(function () {
                        $scope.buttonDisabled = false;

                        if ($scope.manifesto.Header.Location == "KALIBO" || $scope.manifesto.Header.Location =="CATICLAN AIRPORT") {
                            $scope.gridApi2.grid.getColumn('Location').filters[0] = { term: $scope.manifesto.Header.Location };
                        } else {

                            $scope.gridApi2.grid.getColumn('Location').filters[0] = "";
                        }
                    
                });

            };


            $scope.gridOptionsArrivals = {
                data: 'arrivals',
                // useExternalSorting: true,
                enableSorting: false,
                enableColumnReordering: false,
                rowHeight: 35,
                enableFiltering: true,
                enableColumnResizing: true,
                showGridFooter: true,
                minRowsToShow: 8,
                showColumnFooter: true,
                enableColumnMenus: false,
         
                columnDefs: [
                    {
                        name: 'Location',
                        width: 250
                    },
                    {
                        name: 'Time',
                        width: 80
                    },
                    {
                        name: 'Pax',
                        displayName: 'PAX',
                        width: 150,
                        cellTooltip: true,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'GroupName',
                        displayName: 'Account Name',
                        width: 250,
                        cellTooltip: true
                    },
                    {
                        name: 'CVNumber',
                        displayName: 'CV Number',
                        width: 250,
                        cellTooltip: true
                    },
                  
                    {
                        name: 'ResortHotelDescription',
                        displayName: 'Resort/Hotel',
                        width: 250
                    }, {
                        name: 'Agent',
                        displayName: 'Sales Handle',
                        width: 200
                    },
                    {
                        name: 'AgencyName',
                        displayName: 'Agency',
                        width: 250
                    }
                ],
                onRegisterApi: function (gridApi) {
                    $scope.gridApi2 = gridApi;
                  
                       

                    
                }
            };


            $scope.gridOptions = {
                data: 'details',
                enableSorting: false,
                enableColumnReordering: false,
                rowHeight: 35,
                enableColumnResizing: true,
                showGridFooter: true,
                minRowsToShow: 8,
                showColumnFooter: true,
                enableColumnMenus: false,
                columnDefs: [
                    {
                        field: 'Actions',
                        displayName: 'Delete',
                        cellClass: 'text-center',
                        width: 60,
                        allowCellFocus: false,
                        enableCellEdit: false,
                        cellTemplate: '<div class="ui-grid-cell-contents" ><a href="#" ng-click="grid.appScope.removeItem(row.entity)" ><i class="glyphicon glyphicon-trash btn-tools"></i></a></div>'
                    },
                    {
                        name: 'Location',
                        width: 250
                    },
                    {
                        name: 'Time',
                        displayName: 'Time(24H)',
                        cellClass: 'text-right',
                        width: 90

                    },
                    {
                        name: 'CVNumber',
                        displayName: 'CV Number',
                        width: 140,
                        cellTooltip: true
                    },
                    {
                        name: 'GroupName',
                        displayName: 'Account Name',
                        cellClass: 'text-center',
                        width: 250
                    },
                    {
                        name: 'Adults',
                        displayName: 'A',
                        cellClass: 'text-right',
                        width: 50,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'Kids',
                        displayName: 'K',
                        cellClass: 'text-right',
                        width: 50,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'Infants',
                        displayName: 'INF',
                        cellClass: 'text-right',
                        width: 50,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'FOC',
                        displayName: 'FOC',
                        cellClass: 'text-right',
                        width: 50,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'TourGuides',
                        displayName: 'TG',
                        cellClass: 'text-right',
                        width: 50,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'Escorts',
                        displayName: 'E',
                        cellClass: 'text-right',
                        width: 50,
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                    {
                        name: 'Pax',
                        displayName: 'PAX',
                        cellClass: 'text-right',
                        width: 70,
                        cellFilter: 'number: 0',
                        aggregationType: uiGridConstants.aggregationTypes.sum,
                        footerCellTemplate: '<div class="ui-grid-cell-contents" >{{ col.getAggregationValue()  }}</div>'
                    },
                   
                    {
                        name: 'ResortHotelDescription',
                        displayName: 'Resort/Hotel',
                        width: 250
                    }, {
                        name: 'Agent',
                        displayName: 'Sales Handle',
                        width: 200
                    },
                    {
                        name: 'AgencyName',
                        displayName: 'Agency',
                        width: 250
                    }




                ],
                onRegisterApi: function (gridApi) {
                    $scope.gridApi = gridApi;
                }
            };



            //REMOVE ITEMS
            $scope.removeItem = function (item) {
                $scope.details.splice($scope.details.indexOf(item), 1);
            };


            //ADD ENTRIES
            $scope.addEntries = function () {
                $scope.buttonDisabled = true;
                var selectedEntries = $scope.gridApi2.selection.getSelectedRows();
              
            
               
                

               
                if (selectedEntries.length === 0) {
                    toastr.error("No booking has been selected!", "");
                     $scope.buttonDisabled = false;
                    return;
                }

                selectedEntries.forEach(function (entry) {

                    //var newEntry = {
                    //    ID: 0,
                    //    AccountName: entry.GroupName,
                    //    CVNumber: entry.CVNumber,
                    //    Adult: entry.Adults,
                    //    Kid: entry.Kids,
                    //    Infant: entry.Infants,
                    //    FOC: entry.FOC,
                    //    TourGuide: entry.TourGuides,
                    //    Escort: entry.Escorts,
                    //    Location: entry.Location,
                    //    Pax: entry.Pax

                    //};

                    $scope.details.push(entry);
                    
                   // $scope.gridOptionsArrivals.selectItem(index, false);
                   // $scope.Data.splice(index, 1);
                    
                    var index = $scope.arrivals.indexOf(entry);
                    
                    //$scope.gridApi2.selection.getSelectedRows(index, false);
                    $scope.arrivals.splice(index, 1);


                    $scope.gridOptions.data = $scope.details;
                });
                //var test = $scope.gridOptionsArrivals.data.selection.getSelectedRows();
                //angular.forEach($scope.gridOptionsArrivals.selection.getSelectedRows(), function (row) {
                //    alert(row.visible);
                //    if (!row.visible) {
                //        $scope.gridApi.selection.unSelectRow(row.entity)
                //    };
                //});
               




            }
                       
            $scope.submit = function () {


                $.blockUI();


                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json"

                };

                $scope.manifesto.Details = $scope.details;

                var manifestoData = JSON.stringify({ schedule: $scope.manifesto });




                $http.post("/Manifesto/CreateOrUpdate", manifestoData, config).success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                    toastr.success("Manifesto has been created!", "");

                    window.location.href = "/Manifesto/";

                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                }).finally(function () {

                    $.unblockUI();
                });


            };


        });


    </script>
}
