﻿
@{
    ViewBag.Title = "Manifesto";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div class="row" ng-controller="manifestoController" ng-init="getScheduleManifestos()">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Manifesto</h3>
            </div>
            <div class="box-body">


                <div class="row">
                    <!-- Trigger the modal with a button -->

                    <div class="col-md-12">
                        <a class="btn btn-default btn-lg pull-right" href="/Manifesto/Create">Add New Manifesto</a>
                    </div>
                </div>

                <div ui-grid="gridOptions" class="grid" style="width:100%;">

                    <div class="grid-msg-overlay " ng-if="loading" ng-cloak>
                        <div class="msg">
                            <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>






</div>

@section scripts{

    <script type="text/javascript">




        App.controller("manifestoController", function ($scope, $http, $filter, sha256) {

            $scope.newFleet = {};


            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

           // $scope.password = sha256.convertToSHA256('P@ssw0rd');

            //alert($scope.password);

            $scope.loading = false;


            $scope.getScheduleManifestos = function () {

                $scope.loading = true;

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };


                $http.get("/Manifesto/GetScheduledManifestos", config)
                    .success(function (data, status, headers, config) {

                        logResult("GET SUCCESS", data, status, headers, config);

                        $scope.loading = false;
                        if (data.Result == "ERROR") {
                            toastr.error(data.Message, "");
                            return;
                        }
                        $scope.gridOptions.data = data.Records;
                    }).error(function (data, status, headers, config) {
                        logResult("GET ERROR", data, status, headers, config);


                    }).finally(function () {


                        $scope.loading = false;
                    });

            }




            $scope.gridOptions = {
                //data: 'pendingRequests',
                paginationPageSizes: [10, 25, 50, 75],
                paginationPageSize: 20,
                useExternalPagination: false,
                // useExternalSorting: true,
                multiSelect: true,
                enableColumnReordering: false,
                enableRowSelection: false,
                enableSelectAll: false,
                selectionRowHeaderWidth: 35,
                rowHeight: 35,
                showGridFooter: true,
                enableColumnResizing: true,
                jqueryUIDraggable: true,
                jqueryUITheme: true,
                minRowsToShow: 12,
                enableSorting: false,
                enableColumnReordering: false,
                rowHeight: 35,
                enableFiltering: true,
                enableColumnResizing: true,
                showGridFooter: true,
                minRowsToShow: 8,
                showColumnFooter: true,
                enableColumnMenus: false,
                columnDefs: [
                    {
                        name: 'View',
                        displayName: 'View',
                        width: 150,
                        cellTooltip: true,
                        cellTemplate: '<div class="ui-grid-cell-contents" ><a href="/Manifesto/Preview/{{row.entity.ID}}"> View </a></div>'
                    },
                    {
                        name: 'ManifestoDateString',
                        displayName:'Manifesto Date',
                        width: 100,
                          cellTooltip: true,
                    },
                     {
                        name: 'Location',
                        displayName: 'Location',
                        width: 150,
                        cellTooltip: true,


                    },
                    {
                        name: 'Coordinator',
                        displayName: 'Coordinator',
                        width: 150,
                        cellTooltip: true,


                    },
                    {
                        name: 'Vehicle',
                        displayName: 'Vehicle',
                        width: 350,
                        cellTooltip: true
                    },
                    {
                        name: 'Driver',
                        displayName: 'Driver',
                        width: 350,
                        cellTooltip: true
                    },
                    {
                        name: 'StatusString',
                        width: 150,
                        cellTooltip: true
                    },
                    {
                        name: 'TotalPax',
                        width: 150,
                        cellTooltip: true
                    }


                ],
                onRegisterApi: function (gridApi) {

                    // console.log(gridApi)

                    $scope.gridApi = gridApi;

                    // Register a handler that is fired everytime someone changd the sort params.
                    gridApi.core.on.sortChanged($scope, function (grid, sortColumns) {
                        if (sortColumns.length > 1) {
                            // We have more than one sort. Kill the first one.
                            // If this works we'll only ever have 0, 1 or 2 sortColumns,
                            // and only ever 2 for the lifetime of this method.
                            var column = null;
                            for (var j = 0; j < grid.columns.length; j++) {
                                if (grid.columns[j].name === sortColumns[0].field) {
                                    column = grid.columns[j];
                                    break;
                                }
                            }
                            if (column) {
                                sortColumns[1].sort.priority = 1; // have to do this otherwise the priority keeps going up.
                                column.unsort();
                            }
                        }
                    });

                }

            };


        });


    </script>

}
