﻿
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-group {
    margin-bottom: 5px;
}



#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #tabs li {
        float: left;
        margin: 0 .5em 0 0;
    }

    #tabs a {
        position: relative;
        background: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fff, #ddd);
        background-image: -moz-linear-gradient(top, #fff, #ddd);
        background-image: -ms-linear-gradient(top, #fff, #ddd);
        background-image: -o-linear-gradient(top, #fff, #ddd);
        background-image: linear-gradient(to bottom, #fff, #ddd);
        padding: .7em 1.5em;
        float: left;
        text-decoration: none;
        color: #444;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
        border-radius: 5px 0 0 0;
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
        box-shadow: 0 2px 2px rgba(0,0,0,.4);
    }

        #tabs a:hover,
        #tabs a:hover::after,
        #tabs a:focus,
        #tabs a:focus::after {
            background: #fff;
        }

        #tabs a:focus {
            outline: 0;
        }

        #tabs a::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            right: -.5em;
            bottom: 0;
            width: 1em;
            background: #ddd;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
            background-image: -webkit-linear-gradient(top, #fff, #ddd);
            background-image: -moz-linear-gradient(top, #fff, #ddd);
            background-image: -ms-linear-gradient(top, #fff, #ddd);
            background-image: -o-linear-gradient(top, #fff, #ddd);
            background-image: linear-gradient(to bottom, #fff, #ddd);
            -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
            -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
            box-shadow: 2px 2px 2px rgba(0,0,0,.4);
            -webkit-transform: skew(10deg);
            -moz-transform: skew(10deg);
            -ms-transform: skew(10deg);
            -o-transform: skew(10deg);
            transform: skew(10deg);
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
        }

    #tabs #current a {
        background: #fff;
        z-index: 3;
    }

        #tabs #current a::after {
            background: #fff;
            z-index: 3;
        }

/* ------------------------------------------------- */

#content {
    background: #fff;
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    -moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

/* ------------------------------------------------- */

#about {
    color: #999;
}

    #about a {
        color: #eee;
    }


.content-wrapper, .right-side {
    background-color: #EDEDDC !important;
}

table > thead > tr > td {
    background-color: #191F26;
    border: 1px solid #191F26 !important;
    color: #fff;
    text-transform: uppercase !important;
    font-weight: 600;
}

table > tbody > tr > td {
    color: #167F39;
    text-transform: uppercase;
}

p.checkbox-inline label {
    z-index: 999999;
    display: block;
}

.pad-2{
    padding: 2px 2px 2px 2px;
}

.pad-5{
    padding: 5px 5px 5px 5px;
}

input.has-error, textarea.has-error, select.has-error {
    background-color: #FFE9C9;
    border: 1px solid #D59B68;
    box-shadow: 1px 1px 1px 1px #F8DCC2 inset;
}

span.has-error {
    color: #D59B68;
    /*background-color:#fff;
            
                    border: 1px #D08F49 solid;*/
    /*padding: 10px;
                    box-shadow: 5px 5px 2px #888;*/
    /*z-index:999;
                    display:block;*/
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.grid-msg-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
    margin-left:auto;margin-right:auto;
	/*background: rgba(0, 0, 0, 0.4);*/
}

	.grid-msg-overlay .msg {
		opacity: 1;
		position: absolute;
		top: 40%;
		left: 40%;
		width: 10%;
		height: 10%;
		background-color: #eee;
		/*border-radius: 4px;*/
		border: 1px solid #555;
		text-align: center;
		font-size: 14px;
		display: table;
	}

		.grid-msg-overlay .msg span {
			display: table-cell;
			vertical-align: middle;
		}
         .label-0{
                background-color: #777;
        }

        .label-2{
                background-color: #5cb85c;
        }
         .label-3{
                background-color: #d9534f;
        }
            .label-1{
                background-color: #f0ad4e;
        }
            .label-9{
                background-color: #3c8dbc;
        }