﻿
@{
    ViewBag.Title = "Agents";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div class="row" ng-controller="usersController" ng-init="getMarketTypes();getSignatories();getUsers();">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Signatories</h3>
            </div>
            <div class="box-body">


                <div class="row">
                    <!-- Trigger the modal with a button -->

                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New Signatory</button>
                    </div>




                </div>



                <table class="table table-bordered table-striped table-hover">
                    <thead>

                        <tr>
                            <td>Actions</td>
                            <td>Agent</td>                           
                            <td>Designation</td>
                            <td>Location</td>
                            <td>Type</td>
                            <td>Immediate Head</td>
                            <td>Designation</td>                           
                            <td>Is Active?</td>

                        </tr>
                     
                    </thead>
                    <tbody>
                        <tr ng-repeat="signatory in signatories ">
                            <td style="min-width:100px">
                                <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#myModalEdit" ng-click="setEditableRecord(signatory)" title="Edit"><i class="glyphicon glyphicon-pencil"> </i>  </a>
                                                               
                            </td>
                            <td>{{signatory.AgentName}}</td>
                            <td>{{signatory.Designation}}</td>
                            <td>{{signatory.BusinessLocationCode}}</td>
                            <td>{{signatory.FormType}}</td>
                            <td>{{signatory.ImmediateHeadName}}</td>
                            <td>{{signatory.ImmediateHeadDesignation}}</td>
              
                            <td>
                                <span ng-if="signatory.IsActive==true">
                                    YES
                                </span>
                                <span ng-if="signatory.IsActive==false">
                                    <label class="label label-danger">NO</label>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak style="">
                                    <div class="msg">
                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>




    </div>




    <!--Add new User Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Add New Signatory</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                   
                            <div class="form-group">
                                <label class="control-label col-md-3">Agent:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="newUser.AgentID" ng-options="agent.ID as agent.Fullname for agent in agentsList"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Designation:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newUser.ContactDesignationNumber" class="form-control" />
                                </div>
                            </div>               
                            <div class="form-group">
                                <label class="control-label col-md-3">Location</label>
                                <div class="col-md-8">
                                    <select ng-model="newUser.BusinessLocationCode" class="form-control" ng-options="bus.Code as bus.Description for bus in businessLocations"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type</label>
                                <div class="col-md-8">
                                    <select ng-model="newUser.FormType" class="form-control">
                                        <option value="SOA">Statement of Accounts</option>
                                        <option value="SV">Service Vouchers</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Immediate Head</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="newUser.ImmediateHeadID" ng-options="agent.ID as agent.Fullname for agent in agentsList"></select>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Designation</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newUser.ImmediateHeadDesignation" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Is Active?</label>
                                <div class="col-md-8">
                                    <input type="checkbox" ng-model="newUser.IsActive" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Add" ng-click="addNewUser()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--Edit user Modal -->
    <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Edit Signatory</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-3">Agent:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="editUser.AgentID" ng-options="agent.ID as agent.Fullname for agent in agentsList"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Designation:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="editUser.Designation" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Location</label>
                                <div class="col-md-8">
                                    <select ng-model="editUser.BusinessLocationCode" class="form-control" ng-options="bus.Code as bus.Description for bus in businessLocations"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type</label>
                                <div class="col-md-8">
                                    <select ng-model="editUser.FormType" class="form-control">
                                        <option value="SOA">Statement of Accounts</option>
                                        <option value="SV">Service Vouchers</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Immediate Head</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="editUser.ImmediateHeadID" ng-options="agent.ID as agent.Fullname for agent in agentsList"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Designation</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="editUser.ImmediateHeadDesignation" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Is Active?</label>
                                <div class="col-md-8">
                                    <input type="checkbox" ng-model="editUser.IsActive" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Save" ng-click="updateUser()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>





</div>

@section scripts{

    <script type="text/javascript">




        App.controller("usersController", function ($scope, $http, $filter) {

            $scope.newUser = {};
            $scope.editUser = {};


            $scope.getSignatories = function () {

                $scope.loading = true;


             

                $http.post("/Signatories/GetSignatories")
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       $scope.loading = false;
                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }

                                       $scope.signatories = data.Records;





                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });



            }

            $scope.agentStatus = [{ID:true,Description:'YES'},{ ID:false,Description:'NO'}];


            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };


            $scope.loading = false;
            $scope.businessLocations = [{ Code: "MNL", Description: "MANILA" }, { Code: "BOR", Description: "BORACAY" }];


            $scope.usersType = [{ ID: 1, Description: "Agent" }, { ID: 2, Description: "Backoffice" }, { ID: 3, Description: "Accounting" }];

            $scope.paymentTypes = [{ ID: 1, Description: "FOR BILLING" }, { ID: 2, Description: "BOOK AND BUY" }, { ID: 3, Description: "ADVANCE PAYMENT" }];


            $scope.getMarketTypes = function () {

                $http.get("/MarketType/GetList")
                        .success(function (data, status, headers, config) {

                            logResult("GET SUCCESS", data, status, headers, config);

                            if (data.Result == "ERROR") {
                                toastr.error(data.Message, "");
                                return;
                            }



                            $scope.marketTypes = data.Records;




                        }).error(function (data, status, headers, config) {
                            logResult("GET ERROR", data, status, headers, config);


                        });

            };

            $scope.getUsers = function () {

                $scope.loading = true;

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify({ activeOnly: false, agentType: 0});

                $http.post("/Agents/Get", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       $scope.loading = false;
                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }

                                     //  $scope.agentsList = $filter('filter')(data, {Type: '!1'});


                                       $scope.agentsList = data;

                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });

            }




            $scope.setEditableRecord = function (signatory) {
                $scope.editUser = signatory;
                console.log(signatory)

            }


            $scope.addNewUser = function () {

         

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify($scope.newUser);


                $http.post("/Signatories/CreateOrUpdate", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.getSignatories();

                                    



                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });


            };


            //UPDATE USER
            $scope.updateUser = function () {

           

                  var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify($scope.editUser);


                $http.post("/Signatories/CreateOrUpdate", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.getSignatories();

                                     


                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });
            }



            $scope.deactivateUser = function (agent) {

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify(agent);


                $http.post("/Agents/Deactivate", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }



                                       $scope.agentsList.splice($scope.agentsList.indexOf(agent), 1);






                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });

            };

            $scope.loadAgencies = function (query) {
                return $filter('filter')($scope.travelAgencies,query);
            }

            $scope.getTravelAgencies = function () {
                $http.post("/Agents/GetTravelAgencies")
                                  .success(function (data, status, headers, config) {

                                      logResult("GET SUCCESS", data, status, headers, config);

                                      $scope.travelAgencies = data;
                                  }).error(function (data, status, headers, config) {
                                      logResult("GET ERROR", data, status, headers, config);


                                  });
            }


        });


    </script>

}
