﻿
@{
    ViewBag.Title = "Rates";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div class="row" ng-controller="rateMatrixController" ng-init="getDestinations();getAgents();getAllRates();">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Rates</h3>
            </div>
            <div class="box-body">





                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4> Add New Rate</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">

                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Pick Up:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-options="destination.ID as destination.Description for destination in destinations | filter: { Description: '!OTHERS'}" ng-model="newRate.PickUp">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Drop Off:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-options="destination.ID as destination.Description for destination in destinations | filter: { Description: '!OTHERS'}" ng-model="newRate.DropOff">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Class:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-options="cRate.ID as cRate.Description for cRate in classRate" ng-model="newRate.Class">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Type:</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="newRate.Type" ng-options="rateType.ID as rateType.Description for rateType in rateTypes">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Amount:</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" ng-model="newRate.Amount" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Boat:</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" ng-model="newRate.Boat" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">From Date:</label>
                                            <div class="col-md-8">
                                                <input type="date" class="form-control" ng-model="newRate.FromDate"  />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">To Date:</label>
                                            <div class="col-md-8">
                                                <input type="date" class="form-control" ng-model="newRate.ToDate" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-4">
                                                <input type="button" class="btn btn-primary" value="Add" ng-click="addNewRate()" />
                                                <button class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>





                <div class="row">
                    <!-- Trigger the modal with a button -->
                    <label class="control-label col-md-1">Agent:</label>
                    <div class="col-md-5">


                        <select class="form-control" ng-model="currentAgent" ng-options="agent.ID as agent.Company  for agent in agentsList" ng-change="getAllRates(currentAgent)">
                            <option value="0">---WALK IN---</option>
                        </select>


                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New</button>
                    </div>




                </div>



                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Actions</td>
                            <td>Pick Up</td>
                            <td>Drop Off</td>
                            <td>Class</td>
                            <td>Type</td>
                            <td>Amount</td>
                            <td>Boat</td>
                            <td>Effectivity Date</td>
                            <td>Is Active?</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rate in rateMatices">
                            <td>
                                <a class="btn btn-sm btn-success" ng-click="updateRate($index)" ng-show="rate.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="rate.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                                <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="rate.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                                <a class="btn btn-sm btn-danger" ng-click="deleteRate($index)" ng-hide="rate.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                            </td>
                            <td>
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <select class="form-control" ng-options="destination.ID as destination.Description for destination in destinations | filter: { Description: '!OTHERS'}" ng-model="rate.PickUp">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div ng-switch-default>
                                        {{ (destinations|filter:{'ID':rate.PickUp}:true)[0].Description }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <select class="form-control" ng-options="destination.ID as destination.Description for destination in destinations" ng-model="rate.DropOff">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div ng-switch-default>

                                        {{ (destinations|filter:{'ID':rate.DropOff}:true)[0].Description }}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <select class="form-control" ng-options="cRate.ID as cRate.Description for cRate in classRate" ng-model="rate.Class">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div ng-switch-default>

                                        {{ (classRate|filter:{'ID':rate.Class}:true)[0].Description }}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <select class="form-control" ng-options="rateType.ID as rateType.Description for rateType in rateTypes" ng-model="rate.Type">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div ng-switch-default>
                                        {{ (rateTypes|filter:{'ID':rate.Type}:true)[0].Description }}

                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="number" class="form-control" ng-model="rate.Amount" />
                                    </div>
                                    <div ng-switch-default>
                                        {{rate.Amount|number:2}}
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="number" class="form-control" ng-model="rate.Boat" />
                                    </div>
                                    <div ng-switch-default>
                                        {{rate.Boat|number:2}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-switch="rate.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="date" class="form-control" ng-model="rate.FromDate"  />until <input type="date" class="form-control" ng-model="rate.ToDate" />
                                    </div>
                                    <div ng-switch-default>
                                        {{rate.FromDate.substring(0,10)}} until {{rate.ToDate.substring(0,10)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                             
                         {{rate.Status}}
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>




    </div>





</div>

<div class="row" ng-controller="otherChargesController" ng-init="getAllOtherCharges()">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Other Charges</h3>
            </div>
            <div class="box-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-3">Type:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="newCharge.Description" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Amount:</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" ng-model="newCharge.Amount" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                            <input type="button" class="btn btn-primary" value="Add" ng-click="addNewCharge()" />
                        </div>
                    </div>
                </form>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Action</td>
                            <td>Description</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="charge in otherCharges">
                            <td>
                                <a class="btn btn-sm btn-success" ng-click="updateCharge($index)" ng-show="charge.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="charge.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                                <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="charge.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                                <a class="btn btn-sm btn-danger" ng-click="deleteCharge($index)" ng-hide="charge.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                            </td>

                            <td>
                                <div ng-switch="charge.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="text" class="form-control" ng-model="charge.Description" />
                                    </div>
                                    <div ng-switch-default>
                                        {{ charge.Description }}

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-switch="charge.IsEdit">
                                    <div ng-switch-when="true">
                                        <input type="number" class="form-control" ng-model="charge.Amount" />
                                    </div>
                                    <div ng-switch-default>
                                        {{charge.Amount|number:2}}
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>




    </div>
</div>

@section scripts{
    <script type="text/javascript">

        App.controller("rateMatrixController", ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {

            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };
            $scope.currentAgent = 0;

            $scope.classRate = [{ ID: 1, Description: "REGULAR" }, { ID: 2, Description: "SPECIAL" }, { ID: 3, Description: "UPHILL" }];

            $scope.destinations = null;
            //GET DESTINATIONS
            $scope.getDestinations = function () {
                $http.get("/Destinations/GetDestinations")
                                     .success(function (data, status, headers, config) {

                                         logResult("GET SUCCESS", data, status, headers, config);
                                         $scope.destinations = data;


                                     }).error(function (data, status, headers, config) {
                                         logResult("GET ERROR", data, status, headers, config);


                                     });



            };


            $scope.rateTypes = [{ ID: 1, Description: "Adult" }, { ID: 2, Description: "Children" }];

            $scope.agentsList = [];



            $scope.getAllRates = function (agentID) {


                $http.get("/Rates/GetRateMatrices/"+agentID).success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);
                    $scope.rateMatices = [];
                    $scope.rateMatices = data;


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            };


            //ADD NEW Rate
            $scope.addNewRate = function () {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var newRateData = JSON.stringify({ rate: $scope.newRate, agentID: $scope.currentAgent });

                $http.post("/Rates/CreateMatrix", newRateData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     toastr.error(data.Message, "");
                     return;
                 }


                 $scope.rateMatices.push(data.Record);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };




            //UPDATE RATE
            $scope.updateRate = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var rateData = JSON.stringify({rate:$scope.rateMatices[index],agentID:$scope.currentAgent});

                $http.post("/Rates/UpdateMatrix", rateData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }

                 // $scope.newCompanyData = data.Record;
                 // $scope.rateMatices[index] = data.Record;


                 $scope.rateMatices[index].IsEdit = false;

                 $scope.getAllRates($scope.currentAgent);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };


            //DELETE RATE
            $scope.deleteRate = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var rateData = JSON.stringify({ rate: $scope.rateMatices[index], agentID: $scope.currentAgent });

                $http.post("/Rates/DeleteMatrix", rateData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     toastr.error(data.Message, "");
                     return;
                 }


                 $scope.rateMatices.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };


            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.rateMatices[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.rateMatices[index].IsEdit = false;
            };

            //GET LIST OF AGENTS

            $scope.getAgents = function () {


                var config = {
                  
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                 var agentData = JSON.stringify({ activeOnly: true, agentType: 1 ,unique:true });

                $http.post("/Agents/Get",agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }

                                       $scope.agentsList= data;

                                       $scope.agentsList.push({
                                           ContactNumber: "NO CONTACT",
                                           CreditLimit: 500000,
                                           DateCreated: "2016-09-07 04:00:28",
                                           DateLastUpdated: "2016-09-07 05:35:57",
                                           Email: "",
                                           FirstName: "---WALK IN---",
                                           ID: 0,
                                           IsActive: 1,
                                           LastName: "",
                                           MonthToDateAmount: 0,
                                           RemainingCredit: 500000,
                                           Type: 1,
                                           Company: "---WALK IN---",
                                           YearToDateAmount: 0
                                       });



                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });

            }



        }]);


        App.controller("otherChargesController", ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {

            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

            //GET ALL OTHER CHARGES
            $scope.getAllOtherCharges = function () {


                $http.post("/OtherCharges/GetOtherCharges").success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    $scope.otherCharges = data;


                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            };



            //ADD NEW CHARGE
            $scope.addNewCharge = function () {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var newChargeData = JSON.stringify($scope.newCharge);

                $http.post("/OtherCharges/CreateOtherCharge", newChargeData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     toastr.error(data.Message, "");
                     return;
                 }


                 $scope.otherCharges.push(data.Record);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };




            //UPDATE CHARGE
            $scope.updateCharge = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var chargeData = JSON.stringify($scope.otherCharges[index]);

                $http.post("/OtherCharges/UpdateOtherCharge", chargeData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }




                 $scope.otherCharges[index].IsEdit = false;

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };


            //DELETE CHARGE
            $scope.deleteCharge = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var chargeData = JSON.stringify($scope.otherCharges[index]);

                $http.post("/OtherCharges/DeleteOtherCharge", chargeData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     toastr.error(data.Message, "");
                     return;
                 }


                 $scope.otherCharges.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };


            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.otherCharges[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.otherCharges[index].IsEdit = false;
            };



        }]);


    </script>
}