﻿
@{
    Layout = "~/Views/Shared/_NoAuthentication.cshtml";
    ViewBag.Title ="Login";
}

<div class="login-box">
    <div class="login-logo">

        <a href="/"><b>Island </b>Star Express</a>
    </div>



    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="/Home/Authenticate" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Username" name="UserName">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                @*<div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="RememberMe"> Remember Me
                            </label>
                        </div>
                    </div>*@
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>


            <div class="row">
                <br />
            </div>

            <div class="row">


                @{


                    var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
                    <div class="form-group">

                        @foreach (var x in errors)
                        {
                            <div class="alert alert-danger" role="alert">
                                @(x.Value.Errors[0].ErrorMessage)

                            </div>

                        }
                    </div>
                }
            </div>
        </form>

        <!-- /.social-auth-links -->
        <a href="/Account/LostPassword">I forgot my password</a><br>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

