﻿@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


    if (agent == null)
    {

        agent = new ISE.DAL.AgentsModel();

        Response.Clear();
        HttpContext.Current.ApplicationInstance.CompleteRequest();
        Response.Redirect("/Home/Login", true);

        Response.End();

        // Response.Clear();
        // Response.End();


        @RenderSection("scripts", required: false)
    }
    else
    {
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=11;IE=EDGE">
            <title>@ViewBag.Title - Island Star Express </title>
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

            <!-- Font Awesome Icons -->
            <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/datetimepicker.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/angular-moment-picker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/ng-tags-input.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/isteven-multi-select.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/ui-grid.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />

            <!-- Ionicons -->
            @*<link href="~/Content/ionic.min.css" rel="stylesheet" type="text/css" />*@
            @Styles.Render("~/Content/sitecss")
            @Scripts.Render("~/bundles/modernizr")
            @Styles.Render("~/Content/adminlte")
            @Scripts.Render("~/bundles/jquery")
            <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
            <script type="text/javascript">
                var myID = JSON.parse('@Html.Raw(Json.Encode(agent))');
                //console.log(myID)
            </script>

        </head>
        <body class="skin-green layout-top-nav" ng-app="isebookingapp">
            <div class="wrapper">

                <header class="main-header">




                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->


                        <div class="navbar-header">
                            <a href="/" class="navbar-brand"><b>Island</b> Star Express</a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <!-- /.navbar-collapse -->
                        <!-- Navbar Right Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu ">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <img src="https://www.gravatar.com/avatar/@(AuthorizationGateway.CalculateMD5Hash(agent.Email))?d=identicon" class="user-image" alt="User Image">
                                        <span class="hidden-xs">@(agent.Fullname) (@(agent.RoleName))</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="https://www.gravatar.com/avatar/@(AuthorizationGateway.CalculateMD5Hash(agent.Email))?d=identicon" class="img-circle" alt="User Image">
                                            <p>
                                                @(agent.Fullname) - @(agent.Company) 
                                                <small>Member since @(String.Format("{0:MMM dd, yyyy}", agent.DateCreated))</small>
                                            </p>
                                        </li>
                                        <!-- Menu Body -->
                                        <li class="user-body" hidden>
                                            <div class="row">
                                                <div class="col-xs-4 text-center">
                                                    <a href="#">Followers</a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="#">Sales</a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="#">Friends</a>
                                                </div>
                                            </div>
                                            <!-- /.row -->
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left" hidden>
                                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="/Account/LogOff" class="btn btn-default btn-flat">Sign out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>

                        <!-- /.navbar-custom-menu -->




                    </nav>
                </header>


                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    @*<section class="content-header">
                            <h1>
                                Page Header
                                <small>Optional description</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                                <li class="active">Here</li>
                            </ol>
                        </section>*@
                    <!-- Main content -->
                    <section class="content" id="ContentHandler" style="height: 100% !important; min-height:768px;">

                        <ul id="tabs">

                            @if (ViewBag.ActiveTab == "Dashboard")
                            {
                                <li id="current" class="tab-dashboard"><a href="/Booking/Dashboard" name="tab1">Dashboard</a></li>
                            }
                            else
                            {
                                <li id="" class="tab-dashboard"><a href="/Booking/Dashboard" name="tab1">Dashboard</a></li>
                            }

                            @if (ViewBag.ActiveTab == "Bookings")
                            {
                                <li id="current" class="tab-bookings"><a href="/Booking" name="tab2">Booking</a></li>
                            }
                            else
                            {
                                <li id="" class="tab-bookings"><a href="/Booking" name="tab2">Booking</a></li>
                            }

                             @if (ViewBag.ActiveTab == "Auth Codes")
                            {
                                <li id="current" class="tab-bookings"><a href="/Agents/AuthCodes" name="tab2">Auth Codes</a></li>
                            }
                            else
                            {
                                <li id="" class="tab-bookings"><a href="/Agents/AuthCodes" name="tab2">Auth Codes</a></li>
                            }



                            @using ISE.Models
                            @{


        if (agent.Type == 2)
        {
            if (ViewBag.ActiveTab == "Rates")
            {
                <li id="current" class="tab-rates"><a href="/Rates" name="tab3">Rates &Other Charges</a></li>
            }
            else
            {
                <li id="" class="tab-rates"><a href="/Rates" name="tab3">Rates &Other Charges</a></li>
            }


            if (ViewBag.ActiveTab == "Agents")
            {
                <li id="current" class="tab-agents"><a href="/Agents" name="tab4">Users</a></li>
            }
            else
            {
                <li id="" class="tab-agents"><a href="/Agents" name="tab4">Users</a></li>
            }

            if (ViewBag.ActiveTab == "Resorts")
            {
                <li id="current" class="tab-agents"><a href="/ResortsAndHotels" name="tab4">Resorts and Hotels</a></li>
            }
            else
            {
                <li id="" class="tab-agents"><a href="/ResortsAndHotels" name="tab4">Resorts and Hotels</a></li>
            }


            if (ViewBag.ActiveTab == "AccountReceivables")
            {
                <li id="current" class="tabs-reports"><a href="/AccountReceivables" name="tab4">Billing & Collection</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/AccountReceivables" name="tab4">Billing & Collection</a></li>
            }

            if (ViewBag.ActiveTab == "Signatories")
            {
                <li id="current" class="tabs-reports"><a href="/Signatories" name="tab4">Signatories</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Signatories" name="tab4">Signatories</a></li>
            }

            if (ViewBag.ActiveTab == "Fleet")
            {
                <li id="current" class="tabs-reports"><a href="/Fleet" name="tab4">Fleet</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Fleet" name="tab4">Fleet</a></li>
            }


            if (ViewBag.ActiveTab == "Manifesto")
            {
                <li id="current" class="tabs-reports"><a href="/Manifesto" name="tab4">Manifesto</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Manifesto" name="tab4">Manifesto</a></li>
            }


            if (ViewBag.ActiveTab == "Reports")
            {
                <li id="current" class="tabs-reports"><a href="/Booking/Reports" name="tab4">Reports</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Booking/Reports" name="tab4">Reports</a></li>
            }


        }
        if (agent.Type == 4)
        {
            if (ViewBag.ActiveTab == "Manifesto")
            {
                <li id="current" class="tabs-reports"><a href="/Manifesto" name="tab4">Manifesto</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Manifesto" name="tab4">Manifesto</a></li>
            }


            if (ViewBag.ActiveTab == "Reports")
            {
                <li id="current" class="tabs-reports"><a href="/Booking/Reports" name="tab4">Reports</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Booking/Reports" name="tab4">Reports</a></li>
            }
        }

        if (agent.Type == 3)
        {
            if (ViewBag.ActiveTab == "AccountReceivables")
            {
                <li id="current" class="tabs-reports"><a href="/AccountReceivables" name="tab4">Billing & Collection</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/AccountReceivables" name="tab4">Billing & Collection</a></li>
            }

            if (ViewBag.ActiveTab == "Signatories")
            {
                <li id="current" class="tabs-reports"><a href="/Signatories" name="tab4">Signatories</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Signatories" name="tab4">Signatories</a></li>
            }

            if (ViewBag.ActiveTab == "Reports")
            {
                <li id="current" class="tabs-reports"><a href="/Booking/Reports" name="tab4">Reports</a></li>
            }
            else
            {
                <li id="" class="tabs-reports"><a href="/Booking/Reports" name="tab4">Reports</a></li>
            }
        }

}
                            @*<li id=""><a href="#" name="tab4">Contact</a></li>*@
                        </ul>

                        @RenderBody()


                    </section>
                    @*<section class="content">

                        </section>*@<!-- /.content -->
                </div><!-- /.content-wrapper -->
                <footer class="main-footer footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 1.0
                    </div>
                    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://www.islandstarexpress.com">Island Star Express</a>.</strong> All rights reserved.
                </footer>



            </div><!-- ./wrapper -->
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/adminlte")



            <script type="text/javascript">

              
                function checkSession() {
                    $.ajax({
                        url: '/Home/IsSessionActive',
                        type: 'POST',
                        success: function (data) {

                            if (data.Result == "ERROR") {
                                return;
                            }


                            if (data.Record == false) {
                                alert("Your session has expired! Please logon again");

                                window.location.href = "/";
                            }


                        },
                        error: function () { }


                    })
                }

                    setInterval(function () {
                        checkSession()
                    }, 600000);





               
            </script>


            <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

            <script type="text/javascript" src="~/Scripts/angular-file-upload.min.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-animate.min.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-messages.min.js"></script>
            <script type="text/javascript" src="~/Scripts/datetimepicker.js"></script>
            <script type="text/javascript" src="~/Scripts/datetimepicker.templates.js"></script>
            <script src="~/Scripts/smalot-datetimepicker/bootstrap-datetimepicker.min.js"></script>
            <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-validate.min.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-moment-picker.min.js"></script>
            <script type="text/javascript" src="~/Scripts/dirPagination.js"></script>
            <script type="text/javascript" src="~/Scripts/angularjs-dropdown-multiselect.min.js"></script>
            <script type="text/javascript" src="~/Scripts/ng-tags-input.js"></script>
            <script type="text/javascript" src="~/Scripts/isteven-multi-select.js"></script>
            <script type="text/javascript" src="~/Scripts/mask.min.js"></script>
            <script type="text/javascript" src="~/Scripts/ui-grid.js"></script>


            <script type="text/javascript" src="~/Scripts/daterangepicker.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-daterangepicker.min.js"></script>
            <script type="text/javascript" src="~/Scripts/custom/sha256.js"></script>
            <script type="text/javascript" src="~/Scripts/custom/Startup.js"></script>

            <script type="text/javascript" src="~/Scripts/custom/generate_key.js"></script>
            @RenderSection("scripts", required: false)


        </body>






    </html>

    }

}

