﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=11;IE=EDGE">
    <title>@ViewBag.Title - Island Star Express </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome Icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    @*<link href="~/Content/ionic.min.css" rel="stylesheet" type="text/css" />*@
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/adminlte")

</head>
<body class="hold-transition login-page">

    @RenderBody()



</body>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/adminlte")

</html>