﻿@{

    ViewBag.Title = "Auth Codes";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="agentController" ng-init="getAuthCodes()">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Auth Codes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                  
                    <div class="col-md-12">
                        
                      

                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>Code</td>
                                    <td>Date Created</td>
                            
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="auth in authcodes"  ng-cloak>
                                    <td>{{auth.Code}}</td>
                                    <td>{{auth.DateCreated}}</td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="14">
                                        <div class="grid-msg-overlay " ng-if="loading" ng-cloak style="">
                                            <div class="msg">
                                                <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                   

                    </div>








                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>






    </div>
</div>




@section scripts{


    <script type="text/javascript">

        App.controller("agentController", ['$scope', '$http', 'jsonFilter', 'FileUploader', function ($scope, $http, jsonFilter, FileUploader, $uibModal) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };

     


            $scope.getAuthCodes = function () {

                $scope.loading = true;



                $http.post("/Agents/GetAuthCodes")
                          .success(function (data, status, headers, config) {

                              logResult("GET SUCCESS", data, status, headers, config);
                              $scope.authcodes = data.Records;
      
                              $scope.loading = false;

                              //$scope.pagination.current = $scope.currentPage;

                          }).error(function (data, status, headers, config) {
                              logResult("GET ERROR", data, status, headers, config);


                          });


            };

        }]);




    </script>

}
