﻿
@{
    ViewBag.Title = "Agents";
}

@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div class="row" ng-controller="usersController" ng-init="getMarketTypes();getUsers();getTravelAgencies();">
    <div class="col-md-12">


        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Users</h3>
            </div>
            <div class="box-body">


                <div class="row">
                    <!-- Trigger the modal with a button -->

                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New User</button>

                        <button type="button" class="btn btn-warning btn-lg pull-right" ng-click="generateAuthCodes()" >Generate Auth Codes</button>
                    </div>




                </div>



                <table class="table table-bordered table-striped table-hover">
                    <thead>

                        <tr>
                            <td>Actions</td>
                            <td>Company</td>
                            <td>Name</td>
                            
                            <td>Contact Number</td>
                            <td>Email</td>
                            <td>Credit Limit</td>
                            <td> Payment Type</td>
                            <td>Location</td>
                            <td>Type</td>
                            <td>Is Active?</td>

                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" ng-model="searchCompany" class="form-control" /></th>
                            <th><input type="text" ng-model="searchName" class="form-control" /></th>
                         
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <select class="form-control" ng-model="searchPaymentTypeID">
                                    <option value="">ALL</option>
                                    <option ng-repeat="payType in paymentTypes" value="{{payType.ID}}">{{payType.Description}}</option>
                                </select>
                            </th>
                            <th>
                                <select ng-model="searchLocation" class="form-control">
                                    <option value="">ALL</option>
                                    <option ng-repeat="bus in businessLocations" value="{{bus.Code}}">{{bus.Description}}</option>

                                </select>
                            </th>
                            <th>
                                <select class="form-control" ng-model="searchType">
                                    <option value="">ALL</option>
                                    <option ng-repeat="userType in usersType" value="{{userType.ID}}">{{userType.Description}}</option>
                                </select>
                            </th>
                            <th>
                                <select ng-model="searchStatus" class="form-control">
                                    <option value="">ALL</option>
                                    <option ng-repeat="stat in agentStatus" value="{{stat.ID}}">{{stat.Description}}</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="agent in agentsList | filter : {'Location':searchLocation,'Company':searchCompany,'Fullname':searchName,'PaymentTypeID':searchPaymentTypeID,'IsActive':searchStatus,'Type':searchType}">
                            <td style="min-width:100px">


                                <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#myModalEdit" ng-click="setEditableRecord(agent)" title="Edit"><i class="glyphicon glyphicon-pencil"> </i>  </a>

                                <a class="btn btn-sm btn-danger" ng-click="deactivateUser(agent)"><i class="glyphicon glyphicon-trash" title="Delete"> </i>  </a>
                            </td>
                            <td>{{agent.Company}}</td>
                            <td>{{agent.Fullname}}</td>
                          
                            <td>{{agent.ContactNumber}}</td>
                            <td>{{agent.Email}}</td>
                            <td class="text-right">{{agent.CreditLimit|number:2}}</td>
                            <td>{{(paymentTypes | filter: {'ID' : agent.PaymentTypeID}:true)[0].Description}}</td>
                            <td>{{agent.Location}}</td>
                            <td>{{(usersType | filter: {'ID' : agent.Type}:true)[0].Description}}</td>
                            <td>
                                <span ng-if="agent.IsActive==true">
                                    YES
                                </span>
                                <span ng-if="agent.IsActive==false">
                                    <label class="label label-danger">NO</label>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div class="grid-msg-overlay " ng-if="loading" ng-cloak style="">
                                    <div class="msg">
                                        <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>




    </div>




    <!--Add new User Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Add New User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">First Name:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newUser.FirstName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Last Name:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newUser.LastName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Contact Number:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="newUser.ContactNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Company:</label>
                                <div class="col-md-8">
                                    @*<input type="text" ng-model="newUser.Company" class="form-control" />*@
                                    <tags-input ng-model="mytags" replace-spaces-with-dashes="false" display-property="Name" key-property="ID" max-tags="1">
                                        <auto-complete source="loadAgencies($query)" load-on-focus="true" max-results-to-show="50"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Address:</label>
                                <div class="col-md-8">
                                    <textarea ng-model="newUser.Address" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="newUser.Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Password:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" ng-model="newUser.Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Retype Password:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" ng-model="newUser.RetypePassword" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Credit Limit:</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" ng-model="newUser.CreditLimit" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="newUser.Type" ng-options="userType.ID as userType.Description for userType in usersType"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Payment Type:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="newUser.PaymentTypeID" ng-options="payType.ID as payType.Description for payType in paymentTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Market Type:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="newUser.MarketTypeID" ng-options="market.ID as market.Description for market in marketTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Location</label>
                                <div class="col-md-8">
                                    <select ng-model="newUser.Location" class="form-control" ng-options="bus.Code as bus.Description for bus in businessLocations"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Is Active?</label>
                                <div class="col-md-8">
                                    <input type="checkbox" ng-model="newUser.IsActive" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Add" ng-click="addNewUser()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--Edit user Modal -->
    <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Edit user</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">First Name:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="editUser.FirstName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Last Name:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="editUser.LastName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Contact Number:</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="editUser.ContactNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Company:</label>
                                <div class="col-md-8">
                                    @*<input type="text" ng-model="editUser.Company" class="form-control" />*@
                                    <tags-input ng-model="mytags" replace-spaces-with-dashes="false" display-property="Name" key-property="ID" max-tags="1">
                                        <auto-complete source="loadAgencies($query)" load-on-focus="true" max-results-to-show="50"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Address:</label>
                                <div class="col-md-8">
                                    <textarea ng-model="editUser.Address" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="editUser.Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Credit Limit:</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" ng-model="editUser.CreditLimit" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="editUser.Type" ng-options="userType.ID as userType.Description for userType in usersType"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Payment Type:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="editUser.PaymentTypeID" ng-options="payType.ID as payType.Description for payType in paymentTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Market Type:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="editUser.MarketTypeID" ng-options="market.ID as market.Description for market in marketTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Location:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="editUser.Location" ng-options="bus.Code as bus.Description for bus in businessLocations"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Is Active?</label>
                                <div class="col-md-8">
                                    <input type="checkbox" ng-model="editUser.IsActive" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Save" ng-click="updateUser()" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>





</div>

@section scripts{

    <script type="text/javascript">




        App.controller("usersController", function ($scope, $http, $filter) {

            $scope.newUser = {};
            $scope.editUser = {};

            $scope.agentStatus = [{ID:true,Description:'YES'},{ ID:false,Description:'NO'}];


            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };


            $scope.loading = false;
            $scope.businessLocations = [{ Code: "MNL", Description: "MANILA" }, { Code: "BOR", Description: "BORACAY" }];


            $scope.usersType = [{ ID: 1, Description: "Agent" }, { ID: 2, Description: "Backoffice" }, { ID: 3, Description: "Accounting" }, { ID: 4, Description: "Manifesto" }, { ID: 5, Description: "Coordinator" }];

            $scope.paymentTypes = [{ ID: 1, Description: "FOR BILLING" }, { ID: 2, Description: "BOOK AND BUY" }, { ID: 3, Description: "ADVANCE PAYMENT" }];


            $scope.getMarketTypes = function () {

                $http.get("/MarketType/GetList")
                        .success(function (data, status, headers, config) {

                            logResult("GET SUCCESS", data, status, headers, config);

                            if (data.Result == "ERROR") {
                                toastr.error(data.Message, "");
                                return;
                            }


                          
                            $scope.marketTypes = data.Records;




                        }).error(function (data, status, headers, config) {
                            logResult("GET ERROR", data, status, headers, config);


                        });

            };

            $scope.getUsers = function () {

                $scope.loading = true;

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify({ activeOnly: false, agentType: 0 });

                $http.post("/Agents/Get", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       $scope.loading = false;
                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }

                                       $scope.agentsList = data;





                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });

            }

            $scope.setEditableRecord = function (agent) {
                $scope.editUser = agent;
                $scope.mytags = $filter('filter')($scope.travelAgencies, { 'ID': agent.TravelAgencyID },true);
            }

            $scope.addNewUser = function () {

                if ($scope.mytags == null) {
                    toastr.error("Please add company!", "");
                    return;
                }

                console.log($scope.mytags)

                $scope.newUser.Company = $scope.mytags[0].Name;

                if ($scope.mytags[0].ID) {
                    $scope.newUser.TravelAgencyID = $scope.mytags[0].ID;
                }

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify({ agent: $scope.newUser, newPassword: $scope.newUser.Password, retypePassword: $scope.newUser.RetypePassword });


                $http.post("/Agents/Create", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.getUsers();

                                       $scope.getTravelAgencies();





                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });


            };


            //UPDATE USER
            $scope.updateUser = function () {

                if ($scope.mytags == null) {
                    toastr.error("Please add company!", "");
                    return;
                }

                console.log($scope.mytags)

                $scope.editUser.Company = $scope.mytags[0].Name;

                if ($scope.mytags[0].ID) {
                    $scope.editUser.TravelAgencyID = $scope.mytags[0].ID;
                }


                  var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify({ agent: $scope.editUser, newPassword: "", oldPassword: "" });


                $http.post("/Agents/Update", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }


                                       $scope.getUsers();

                                       $scope.getTravelAgencies();



                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });
            }



            $scope.deactivateUser = function (agent) {

                var config = {

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                };

                var agentData = JSON.stringify(agent);


                $http.post("/Agents/Deactivate", agentData, config)
                                   .success(function (data, status, headers, config) {

                                       logResult("GET SUCCESS", data, status, headers, config);

                                       if (data.Result == "ERROR") {
                                           toastr.error(data.Message, "");
                                           return;
                                       }



                                       $scope.agentsList.splice($scope.agentsList.indexOf(agent), 1);






                                   }).error(function (data, status, headers, config) {
                                       logResult("GET ERROR", data, status, headers, config);


                                   });

            };

            $scope.loadAgencies = function (query) {
                return $filter('filter')($scope.travelAgencies,query);
            }

            $scope.getTravelAgencies = function () {
                $http.post("/Agents/GetTravelAgencies")
                                  .success(function (data, status, headers, config) {

                                      logResult("GET SUCCESS", data, status, headers, config);
                                  
                                      $scope.travelAgencies = data;
                                  }).error(function (data, status, headers, config) {
                                      logResult("GET ERROR", data, status, headers, config);


                                  });
            }


            $scope.generateAuthCodes = function () {


                $http.post("/Agents/GenerateAuthCodes").success(function (data, status, headers, config) {

                    logResult("GET SUCCESS", data, status, headers, config);

                    toastr.info("Generating auth codes...", "");

                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });


            }


        });


    </script>

}
