﻿
@{

    ViewBag.Title = "Account Receivables";
}
@using ISE.Models
@{


    var agent = AuthorizationGateway.GetAuthorizedInfo(null);


}
<div ng-controller="receivingController">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li><a href="/AccountReceivables/Index">Account Receivables</a></li>
                        <li><a href="/AccountReceivables/Batches">Batches</a></li>
                        <li><a href="/Collections">Billing Statements</a></li>
                        <li id="current"><a href="/Receiving/Index">Receiving</a></li>
                        <li ><a href="/Payments/Index">Collections</a></li>
                    </ul>

                    <div class="col-md-12">

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <td>Action</td>
                                    <td>Statement #</td>
                                    <td>Travel Agency</td>
                                    <td>Period</td>

                                    <td>Balance</td>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="col in collectibles ">
                                    <td>
                                        <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" ng-click="setEditableRecord(col)">Tag as Received</a>
                                        <a href="/AccountReceivables/ViewBillingStatement/?billingPeriodID={{col.ID}}&agentID={{col.AgentID}}" class="btn btn-primary btn-xs" target="_blank">View Statement</a>
                                        <a href="/AccountReceivables/DownloadBillingStatement/?billingPeriodID={{col.ID}}&agentID={{col.AgentID}}" class="btn btn-primary btn-xs" target="_self">Download Statement</a>
                                    </td>
                                    <td class="text-center">{{::col.ID | padNumber: 8}}</td>
                                    <td>{{::col.TravelAgency}} </td>
                                    <td>{{::col.StartDate | limitTo : 10 : 0}} - {{::col.EndDate| limitTo : 10 : 0}}</td>

                                    <td class="text-right">{{::col.Balance|number:2}}</td>
                                </tr>


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="grid-msg-overlay " ng-if="loading" ng-cloak style="">
                                            <div class="msg">
                                                <span><i class="fa fa-spin fa-spinner"></i>Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>



                    </div>





                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

    </div>



    <!--Add new User Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Tag Statement as Received</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date Received:</label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="dateReceived" placeholder="yyyy-mm-dd"
                                           format="YYYY-MM-DD" keyboard="true"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           moment-picker="dateReceived" name="dateReceived" />
                                </div>
                            </div>
               
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-4">
                                    <input type="button" class="btn btn-primary" value="Ok" ng-click="tagBillingStatement(billingID)" data-dismiss="modal" />
                                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>




@section scripts{

    <script type="text/javascript">

        App.controller("receivingController", function ($scope, $http, $filter) {
            var logResult = function (str, data, status, headers, config) {
                console.log(data);
            };




            $scope.loading = true;

            $scope.billingID = 0;

            $scope.dateReceived = moment();


            $scope.setEditableRecord = function (bill) {
                $scope.billingID = bill.ID;
           
            }


            $scope.tagBillingStatement = function (statementID) {

                statementID = $scope.billingID;


                console.log($scope.dateReceived);

                var timestamp = Date.parse($scope.dateReceived);

               

                if (isNaN(timestamp) == true) {
                    toastr.error("Invalid date!","");

                    return;

                }


                if (!confirm("Are you sure you want to tag this statement as received?")) {
                    return;
                }

                $http.post("/AccountReceivables/TaggedAsReceived?billingPeriodID=" + statementID + "&dateReceived=" + moment($scope.dateReceived).format('YYYY-MM-DD')).success(function (data, status, headers, config) {


                       

                    logResult("GET SUCCESS", data, status, headers, config);

                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }


                 

                }).error(function (data, status, headers, config) {
                    logResult("GET ERROR", data, status, headers, config);


                });

            }

            $http.post("/Receiving/GetUnconfirmedCollectibles").success(function (data, status, headers, config) {



                logResult("GET SUCCESS", data, status, headers, config);

                if (data.Result == "ERROR") {
                    toastr.error(data.Message, "");
                    return;
                }


                $scope.collectibles = data.Records;

                $scope.loading = false;

            }).error(function (data, status, headers, config) {
                logResult("GET ERROR", data, status, headers, config);


            });


        });

    </script>
}