﻿@model ISE.DAL.LostPasswordModel
@{
    ViewBag.Title = "Lost Password";
    Layout = "~/Views/Shared/_NoAuthentication.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Island </b>Star Express</a>
       
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Lost Password Form</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            var errorCount = ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count();

            if (errorCount == 0 && ViewBag.IsSuccess)
            {
                <div class="alert alert-success ng-hide" role="alert" ng-show="registrationSuccess==true" id="successMessage">Password reset link has been sent to your email!</div>
            }



            <fieldset>
               
                <ol style="list-style:none;">
                    <li>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                    </li>
                </ol>
                <input type="submit" value="Recover Account" />
            </fieldset>
        }
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->