﻿@model ISE.DAL.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_NoAuthentication.cshtml";
}

<div class="login-box">
    <div class="login-logo">

        <a href="/"><b>Island </b>Star Express</a>
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Reset Password Form</p>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="control-label col-md-6">New Password:</label>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-6">Confirm Password:</label>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.HiddenFor(m => m.ReturnToken)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6">
                    <input type="submit" value="Reset" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="alert alert-success ng-hide" role="alert" ng-show="registrationSuccess==true" id="successMessage">@ViewBag.Message</div>
                  
                </div>
            </div>
          

        }
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->